
.footer {
  background-color: $ui-secondary;
  padding-top: 24px;
  padding-bottom: 24px;

  @include media-breakpoint-up(lg) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-left: 48px;
      padding-right: 48px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  .row {
    align-items: flex-end;
  }

  .list-unstyled {
    margin: 0;

    li {
      display: flex;
      align-items: center;
      font-weight: 500;

      + li { margin-top: 15px; }

      i {
        font-size: 18px;
        color: $ui-primary;
        margin-right: 10px;
        line-height: 1;
      }
    }
  }

  .nav-vertical {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;

    .nav-link {
      padding: 0;
      text-decoration: underline;
      color: $body-color;
      font-weight: 500;

      + .nav-link {
        margin-top: 15px;
      }
    }
  }

  .nav-icon {
    justify-content: center;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }

    .nav-link {
      padding: 0;
      font-size: 24px;
      color: $ui-primary;

      + .nav-link { margin-left: 20px; }
    }
  }

  .nav-right {
    justify-content: center;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }

    a {
      padding: 0;
      text-decoration: underline;
      position: relative;
      color: $tx-light;
      font-weight: 500;
      font-size: 15px;

      @include media-breakpoint-up(xl) {
        font-size: $font-size-base;
      }

      + a {
        margin-left: 10px;

        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: -5px;
          bottom: 3px;
          border-left: 1px solid rgba($body-color, .2);
        }
      }
    }
  }
}

.footer-logo {
  display: block;
  width: 150px;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}
