.multipage-body.to-pdf {
  width: 430pt;
  font-size: 8pt;
  line-height: 1.25;
  padding-left: 16pt;
  word-spacing: -1pt; }
  .multipage-body.to-pdf p {
    margin-bottom: 12px; }
  .multipage-body.to-pdf .page {
    padding: 0;
    width: auto;
    height: auto;
    margin: 0;
    height: 750px; }
    .multipage-body.to-pdf .page:first-child {
      padding-top: 10px;
      margin-bottom: 50px; }
    .multipage-body.to-pdf .page.num-bottom-center::after {
      top: auto;
      bottom: 0;
      font-size: 8pt; }
    .multipage-body.to-pdf .page.num-bottom-center:first-child::after {
      bottom: -2pt; }
  .multipage-body.to-pdf .card-body .row > div {
    padding: 2pt 5pt; }
  .multipage-body.to-pdf .card {
    font-size: 8pt !important;
    line-height: 1.2; }
  .multipage-body.to-pdf .card-header {
    padding: 3pt 4pt; }
  .multipage-body.to-pdf .card-item > span {
    padding: 1pt 2pt 2pt;
    line-height: 1.3; }
  .multipage-body.to-pdf .row:not(.no-gutters) {
    margin-right: -6pt;
    margin-left: -6pt; }
    .multipage-body.to-pdf .row:not(.no-gutters) > div {
      padding-left: 6pt;
      padding-right: 6pt; }
  .multipage-body.to-pdf .ordered-list > li + li {
    margin-top: 8px; }
  .multipage-body.to-pdf .unordered-list li {
    padding-left: 4px; }
