@import "variables";

.multipage-body {
  &.to-pdf {
    width: 435pt;
    font-size: 8.1pt;
    line-height: 1.25;
    padding-left: 16pt;
    word-spacing: -1pt;

    p { margin-bottom: 12px; }

    .page {
      padding: 0;
      width: auto;
      height: auto;
      margin: 0;
      height: 750px;

      &:first-child {
        padding-top: 10px;
        margin-bottom: 50px;
      }

      &.num-bottom-center::after {
        top: auto;
        bottom: 0;
        font-size: 8pt;
      }

      &.num-bottom-center:first-child::after {
        bottom: -2pt;
      }
    }

    .card-body .row > div { padding: 2pt 5pt; }

    .card {
      font-size: 8pt !important;
      line-height: 1.2;
    }

    .card-header { padding: 3pt 4pt; }
    .card-item > span {
      padding: 1pt 2pt 2pt;
      line-height: 1.3;
    }

    .row:not(.no-gutters) {
      margin-right: -6pt;
      margin-left: -6pt;

      > div {
        padding-left: 6pt;
        padding-right: 6pt;
      }
    }
  }
}

.card {
  border: 1px solid $border-color;

  span[contenteditable="true"] {
    font-weight: 700;
    outline: none;
  }

  .input-field { border-bottom: 0; }
}

.card-header {
  padding: 10px;
  background-color: $body-bg;
  border-bottom: 1px solid $border-color;
  font-weight: 700;
}

.card-body {
  .row > div {
    padding: 8px 10px;

    + div {
      border-left: 1px solid $border-color;
    }
  }

  .row + .row { border-top: 1px solid $border-color; }
}
