
// Colors
$body-color:                      #1F1E1E;

$primary:                         #a19067;

$color-ui-01:                     #a19067;
$color-ui-02:                     #383131;
$color-ui-03:                     #7d7d7d;
$color-ui-04:                     #e8e6e9;

$color-light-01:                  #ebf2fe;

$color-tx-01:                     #1b1c1d;
$color-tx-02:                     #5e5f61;
$color-tx-03:                     #989a9c;
$color-tx-04:                     #bcbfc2;

$color-bg-01:                     #f0f2f9;
$color-bg-02:                     #e1e6f7;
$color-bg-03:                     #c1c8de;

$color-bd-01:                     #eef1f9;
$color-bd-02:                     #e2e7f4;

// Border
$border-color:                    #ced4da;
$border-radius:                   0;

// Fonts
$font-family-primary:             sans-serif;
$font-family-secondary:           serif;
$font-family-numeric:             $font-family-primary;
$font-family-base:                $font-family-primary;

$font-size-xs:                    13px;

// Heights
$height-base:                     38px;
$height-sm:                       36px;
$height-xs:                       34px;
$height-md:                       40px;
$height-lg:                       42px;

// Links
$link-hover-decoration:           none;

$shadow-03:                       2px 5px 45px rgba(#091534, .12);
