
// Colors
$body-color:                          #46617d;

$gray-900:                            #14274E;
$gray-800:                            #223458;
$gray-700:                            #394867;
$gray-600:                            #627293;
$gray-500:                            #9aa6be;
$gray-400:                            #cacfd9;
$gray-300:                            #d8dee6;
$gray-200:                            #e9ebf0;
$gray-100:                            #f7f9fc;

//$primary:                             #1056e1;
//$teal:                                #22D1EE;
$dark:                                #0E153A;

$bg-color:                            #f6f7fc;

// Fonts
$line-height-base:                    1.55;

// Panels
$height-header:                       90px;
