<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Dwell">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/fav.png">

    <title>EVR</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body class="page-comm">

    <a id="headerMenu" href="#" class="header-menu"><p>Menu</p><p>Close</p> <span></span></a>
    <a href="#" class="header-logo"><img src="../assets/img/logo.png" alt=""></a>

    <div class="menu">
      <div class="menu-body">
        <nav class="nav">
          <a href="home.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link">About</a>
          <a href="communities.html" class="nav-link active">Communities</a>
          <a href="lifestyle.html" class="nav-link">Lifestyle</a>
          <a href="team.html" class="nav-link">Team</a>
          <a href="contact.html" class="nav-link">Contact</a>
        </nav>
      </div><!-- menu-body -->
      <div class="menu-footer">
        <a href="">Contact Us</a>
        <a href="">View Floor Plans</a>
      </div><!-- menu-footer -->
    </div><!-- menu -->

    <div class="banner-comm">
      <div class="media">
        <div class="media-body">
          <h1>Communities</h1>
          <p>We are working on several different land parcels to build rental home communities.</p>
        </div><!-- media-body -->
        <div class="media-right d-none d-lg-flex">
          <a href="">Contact Us</a>
          <a href="">View Floor Plans</a>
        </div><!-- media-right -->
      </div><!-- media -->
    </div><!-- banner-comm -->

    <section class="section section-comm">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-commu">
              <label>1</label>
              <div class="card-img"><img src="../assets/img/img9.jpg" alt=""></div>
              <h1>Coming soon</h1>
              <div class="card-footer">EVR Spur Cross</div>
            </div><!-- card-commu -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-70 mg-lg-t-0">
            <div class="card card-commu">
              <label>2</label>
              <div class="card-img"><img src="../assets/img/img10.jpg" alt=""></div>
              <h1>Coming soon</h1>
              <div class="card-footer">EVR Porter</div>
            </div><!-- card-commu -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-70 mg-lg-t-0">
            <div class="card card-commu">
              <label>3</label>
              <div class="card-img"><img src="../assets/img/img11.jpg" alt=""></div>
              <h1>Coming soon</h1>
              <div class="card-footer">EVR Bella Vista</div>
            </div><!-- card-commu -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section section-media">
      <div class="media">
        <div class="media-body">
          <h4>Meet southeast valley’s newest address, EVR Spur Cross </h4>
          <p>Discover luxurious leased living in a detached, pet-friendly smart home rising alongside the stunning Sonoran Desert landscape. Live the EVR Spur Cross lifestyle in this upscale Queen Creek retreat.</p>
        </div><!-- media-body -->
        <div class="media-right">
          <a href="">Contact Us</a>
          <a href="">View Floor Plans</a>
        </div><!-- media-right -->
      </div><!-- media -->
    </section>

    <section class="section section-comm-map">
      <div class="container">
        <div class="section-img">
          <img src="../assets/img/img12.jpg" alt="">
        </div><!-- section-img -->
      </div><!-- container -->
    </section>

    <section class="section section-amenities">
      <div class="container">
        <h1 class="section-title text-center mb-5">Amenities</h1>
        <nav class="nav nav-section mb-5">
          <a href="#tabA1" data-bs-toggle="tab"  class="nav-link active">Communities perks</a>
          <a href="#tabA2" data-bs-toggle="tab" class="nav-link">In-home features</a>
          <a href="#tabA3" data-bs-toggle="tab" class="nav-link">Smart home features</a>
        </nav>

        <div class="tab-content">
          <div id="tabA1" class="tab-pane fade active show">
            <div class="row">
              <div class="col-lg-3">
                <div class="card card-amenities">
                  <div class="card-body">Expansive, Private Swimming Pool with Lap Lanes</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Outdoor Poolside Sunning Deck & Ramadas</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Private, Onsite Dog Park Areas</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Outdoor Fire Pit with Seating</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Pavilion with Shaded Lounge Areas</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Gaming Lawns with Bocce Ball & Corn Hole</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">High-End Clubhouse Lounge</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Barbeque Grilling Stations</div>
                </div><!-- card -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
          <div id="tabA2" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-3">
                <div class="card card-amenities">
                  <div class="card-body">Brand-New 1, 2 & 3 Bedroom Detached Homes</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Gourmet, Modern Kitchens</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Energy-Efficient Stainless-Steel Appliances</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Upgraded, Front-Loading Washer & Dryer</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Upgraded, Front-Loading Washer & Dryer</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Custom, Contemporary Cabinetry</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">High-End, Upscale Finishes</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Soaring 10-Foot Ceilings</div>
                </div><!-- card -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
          <div id="tabA3" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-3">
                <div class="card card-amenities">
                  <div class="card-body">Smart home app, customizable scenes</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Smart lock and video doorbell</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Smart thermostat and lighting</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-amenities">
                  <div class="card-body">Smart video intercom to main gate</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">High-speed, private Wi-Fi</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">1Gb symmetrical Internet with unlimited data</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Optional: AT&T TV</div>
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-lg-3 mg-t-10 mg-lg-t-30">
                <div class="card card-amenities">
                  <div class="card-body">Smart home app, customizable scenes</div>
                </div><!-- card -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
        </div><!-- tab-content -->
      </div><!-- container -->
    </section>

    <section class="section section-commu">
      <div class="container container-ng">
        <div class="card card-headline">
          <div class="card-body">
            <h1>Come see, touch and feel the<br>quality of your future apartment.</h1>
            <p><a href="" class="link-readmore">Schedule a Tour</a></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </section>

    <section class="section-floor">
      <div class="container">
        <h1 class="section-title text-center mb-2 mb-lg-4">Floor plans</h1>
        <p class="section-text text-center">We have a wide range of offers for you.</p>

        <hr class="op-0 mg-y-25 mg-lg-y-50">

        <div class="row">
          <div class="col-md-6">
            <div class="card card-floor">
              <div class="card-img"><img src="../assets/img/floor1.jpg" alt=""></div>
              <div class="section-img"><img src="../assets/img/img13.jpg" alt=""></div>
              <div class="card-footer">
                <h4>/01</h4>
                <a href="" class="link-readmore">Ask Information</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 mg-t-20 mg-lg-t-0">
            <div class="card card-floor transy">
              <div class="card-img"><img src="../assets/img/floor2.jpg" alt=""></div>
              <div class="section-img"><img src="../assets/img/img14.jpg" alt=""></div>
              <div class="card-footer">
                <h4>/02</h4>
                <a href="" class="link-readmore">Ask Information</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 mg-t-20 mg-md-t-30">
            <div class="card card-floor">
              <div class="card-img"><img src="../assets/img/floor3.jpg" alt=""></div>
              <div class="section-img"><img src="../assets/img/img15.jpg" alt=""></div>
              <div class="card-footer">
                <h4>/03</h4>
                <a href="" class="link-readmore">Ask Information</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-md-6 mg-t-20 mg-md-t-30">
            <div class="card card-floor transy">
              <div class="card-img"><img src="../assets/img/floor4.jpg" alt=""></div>
              <div class="section-img"><img src="../assets/img/img16.jpg" alt=""></div>
              <div class="card-footer">
                <h4>/04</h4>
                <a href="" class="link-readmore">Ask Information</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section section-amenities">
      <div class="container">
        <h1 class="section-title text-center mb-4">Neighborhood</h1>
        <p class="section-text text-center mb-5">Social. Scenic. Sophisticated. You’ll find all three at EVR Spur Cross in Queen Creek, Arizona.</p>
        <nav class="nav nav-section mb-5">
          <a href="#tabB1" data-bs-toggle="tab"  class="nav-link active">Eat</a>
          <a href="#tabB2" data-bs-toggle="tab" class="nav-link">Shop</a>
          <a href="#tabB3" data-bs-toggle="tab" class="nav-link">Play</a>
        </nav>

        <div class="tab-content">
          <div id="tabB1" class="tab-pane fade active show">
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img17.jpg" alt=""></div>
                  <div class="card-footer">San Tan Flat</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img18.jpg" alt=""></div>
                  <div class="card-footer">Sauce Pizza Wine</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img19.jpg" alt=""></div>
                  <div class="card-footer">Original ChopShop</div>
                </div><!-- card-commu -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
          <div id="tabB2" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img20.jpg" alt=""></div>
                  <div class="card-footer">Target</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img21.jpg" alt=""></div>
                  <div class="card-footer">Fry's Marketplace</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img22.jpg" alt=""></div>
                  <div class="card-footer">Bashas’</div>
                </div><!-- card-commu -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
          <div id="tabB3" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img23.jpg" alt=""></div>
                  <div class="card-footer">Queen Creek Olive Mill</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img24.jpg" alt=""></div>
                  <div class="card-footer">Topgolf</div>
                </div><!-- card-commu -->
              </div><!-- col -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-commu">
                  <div class="card-img"><img src="../assets/img/img25.jpg" alt=""></div>
                  <div class="card-footer">Desert Mountain Park</div>
                </div><!-- card-commu -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- tab-pane -->
        </div><!-- tab-content -->
      </div><!-- container -->
    </section>

    <section class="section section-home-contact">
      <div class="container container-ng">
        <div class="row g-0">
          <div class="col-lg-6 d-none d-lg-block">
            <div class="section-img">
              <img src="../assets/img/img1.jpg" alt="">
            </div>
          </div><!-- col -->
          <div class="col-lg-6">
            <div class="contact-panel">
              <h4 class="section-subtitle">Get in touch<br>with our team</h4>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name">
              </div><!-- form-group -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your email">
              </div><!-- form-group -->
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
              </div><!-- form-group -->
              <p><button class="btn btn-submit">Send Message</button></p>
            </div><!-- contact-panel -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3">
            <a href="#" class="footer-logo"><img src="../assets/img/logo.png" alt=""></a>
          </div><!-- col -->
          <div class="col-lg mg-t-40 mg-lg-t-0">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="ri-map-pin-2-fill"></i>
                <p>22557 East Forever Way<br>Queen Creek, AZ 85142</p>
              </li>
              <li>
                <i class="ri-at-line"></i>
                <p>evr@gmail.com</p>
              </li>
              <li>
                <i class="ri-phone-fill"></i>
                <p>542-667-9346</p>
              </li>
            </ul>
          </div><!-- col -->
          <div class="col-lg-3 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-links">
              <a href="#">Floor Plans</a>
              <a href="#">Communities</a>
              <a href="#">Contacts</a>
              <a href="#">Schedule a tour</a>
            </nav>
          </div>
          <div class="col-lg-2 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-icon">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-instagram-fill"></i></a>
              <a href="#"><i class="ri-youtube-fill"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </nav>
          </div>
        </div><!-- row -->
        <div class="footer-bottom">
          <span>EVR 2021 &copy;</span>
          <div class="d-flex align-items-center">
            <a href="#">Privacy Policy</a>
            <span class="mx-2">|</span>
            <a href="#">Terms of Use</a>
          </div>
        </div>
      </div><!-- container -->
    </footer>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'
      });
    </script>
  </body>
</html>
