<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Dwell">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/fav.png">

    <title>EVR</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body>

    <a id="headerMenu" href="#" class="header-menu"><p>Menu</p><p>Close</p> <span></span></a>
    <a href="#" class="header-logo"><img src="../assets/img/logo.png" alt=""></a>

    <div class="menu">
      <div class="menu-body">
        <nav class="nav">
          <a href="home.html" class="nav-link active">Home</a>
          <a href="about.html" class="nav-link">About</a>
          <a href="communities.html" class="nav-link">Communities</a>
          <a href="lifestyle.html" class="nav-link">Lifestyle</a>
          <a href="team.html" class="nav-link">Team</a>
          <a href="contact.html" class="nav-link">Contact</a>
        </nav>
      </div><!-- menu-body -->
      <div class="menu-footer">
        <a href="">Contact Us</a>
        <a href="">View Floor Plans</a>
      </div><!-- menu-footer -->
    </div><!-- menu -->

    <section class="banner-home">
      <div class="banner-img"><img src="../assets/img/img1.jpg" alt=""></div>
      <div class="banner-headline">
        <h2>Lifestyle in the making</h2>
        <p>The elegance, the privacy, the appeal</p>
      </div><!-- banner-headline -->
      <div class="banner-home-right">
        <div class="banner-footer">
          <a href="">Contact Us</a>
          <a href="">View Floor Plans</a>
        </div>
      </div><!-- banner-home-right -->
    </section><!-- banner-home -->

    <section class="section section-home-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-img">
              <img src="../assets/img/img2.jpg" alt="">
            </div><!-- section-img -->
            <h1 class="section-title">About</h1>
          </div><!-- col -->
          <div class="col-lg col-right">
            <p>This is a lifestyle-driven product, a mix between traditional single-family housing and multifamily apartments.</p>
            <p>All the units are for rent and under one ownership ensuring the grounds are well maintained and building aesthetics are upheld to the highest standards.</p>
            <p>Differing from most multifamily projects, this product is all single level units with a private back yard, placed in configurations of standalone and duplex units, which creates a much more single-family neighborhood feel.</p>
            <p><a href="" class="link-readmore">Read More</a></p>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section">
      <div class="container">
        <h1 class="section-title text-center mb-4 mb-lg-5">Communities</h1>

        <div class="row-home">
          <div class="row row-home-comm">
            <div class="col-lg-4">
              <div class="card card-comm">
                <div class="card-body">
                  <img src="../assets/img/img3.jpg" class="img-fluid" alt="">
                  <h6 class="card-title"><a href="">EVR Spur Cross</a></h6>
                  <p>Spur Cross is coming to Queen Creek in Late Summer 2021. Reserve your spot at our beautiful new community today!</p>
                  <p><a href="" class="link-readmore">Read More</a></p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-lg-4 d-none d-lg-block">
              <div class="card card-comm">
                <div class="card-body">
                  <img src="../assets/img/img4.jpg" class="img-fluid" alt="">
                  <h6 class="card-title"><a href="">EVR Porter</a></h6>
                  <p>Porter is coming to Queen Creek in Late Summer 2021. Reserve your spot at our beautiful new community today!</p>
                  <p><a href="" class="link-readmore">Read More</a></p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-lg-4 d-none d-lg-block">
              <div class="card card-comm">
                <div class="card-body">
                  <img src="../assets/img/img5.jpg" class="img-fluid" alt="">
                  <h6 class="card-title"><a href="">EVR Bella Vista</a></h6>
                  <p>Bella Vista is coming to Queen Creek in Late Summer 2021. Reserve your spot at our beautiful new community today!</p>
                  <p><a href="" class="link-readmore">Read More</a></p>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- row-home -->
      </div><!-- container -->
    </section>

    <section class="section">
      <div class="container container-ng">
        <div class="card card-headline">
          <div class="card-body">
            <h1>New destination for exceptional living</h1>
            <p><a href="" class="link-readmore">Schedule a Tour</a></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </section>

    <section class="section section-home-lifestyle">
      <div class="container">
        <div class="row">
          <div class="col-lg col-left order-2 order-lg-1">
            <h4 class="section-subtitle mb-4">Enjoy your living</h4>
            <p>The primary amenity area is centrally located with delineated pedestrian connections making it safe and efficient for residents to walk to its location </p>
            <p>The primary amenity area features a 4,500 square foot clubhouse building that houses a fitness center with yoga studio, a large gathering lounge, a game room with kitchen facilities, spacious covered patios with seating, and restrooms. The leasing office also utilizes this building. Behind the clubhouse is the large community swimming pool with lap lanes and benches, a water feature, and a jacuzzi spa. Surrounding the pool is large sunning deck and large Ramada with fire pit.</p>
            <p><a href="" class="link-readmore">Read More</a></p>
          </div><!-- col -->
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="section-img">
              <img src="../assets/img/img6.jpg" alt="">
            </div><!-- section-img -->
            <h1 class="section-title">Lifestyle</h1>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section section-home-contact">
      <div class="container container-ng">
        <div class="row g-0">
          <div class="col-lg-6 d-none d-lg-block">
            <div class="section-img">
              <img src="../assets/img/img1.jpg" alt="">
            </div>
          </div><!-- col -->
          <div class="col-lg-6">
            <div class="contact-panel">
              <h4 class="section-subtitle">Get in touch<br>with our team</h4>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name">
              </div><!-- form-group -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your email">
              </div><!-- form-group -->
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
              </div><!-- form-group -->
              <p><button class="btn btn-submit">Send Message</button></p>
            </div><!-- contact-panel -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3">
            <a href="#" class="footer-logo"><img src="../assets/img/logo.png" alt=""></a>
          </div><!-- col -->
          <div class="col-lg mg-t-40 mg-lg-t-0">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="ri-map-pin-2-fill"></i>
                <p>22557 East Forever Way<br>Queen Creek, AZ 85142</p>
              </li>
              <li>
                <i class="ri-at-line"></i>
                <p>evr@gmail.com</p>
              </li>
              <li>
                <i class="ri-phone-fill"></i>
                <p>542-667-9346</p>
              </li>
            </ul>
          </div><!-- col -->
          <div class="col-lg-3 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-links">
              <a href="#">Floor Plans</a>
              <a href="#">Communities</a>
              <a href="#">Contacts</a>
              <a href="#">Schedule a tour</a>
            </nav>
          </div>
          <div class="col-lg-2 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-icon">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-instagram-fill"></i></a>
              <a href="#"><i class="ri-youtube-fill"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </nav>
          </div>
        </div><!-- row -->
        <div class="footer-bottom">
          <span>EVR 2021 &copy;</span>
          <div class="d-flex align-items-center">
            <a href="#">Privacy Policy</a>
            <span class="mx-2">|</span>
            <a href="#">Terms of Use</a>
          </div>
        </div>
      </div><!-- container -->
    </footer>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'
      });
    </script>
  </body>
</html>
