
$body-color:                    #181B1E;
$grid-gutter-width:             2.5rem;

// Background
$bg-dark:                       #30353E;
$bg-light:                      #F5F2E6;

// Text;
$tx-light:                      #9DA2A6;

// Main
$ui-primary:                    #1052B4;
$ui-secondary:                  #f9f3ed;

// Border
$bd-color:                      #DCDDDE;

// Height & Width
$ht-base:                       56px;
$ht-header:                     90px;

$wd-sidebar:                    256px;


// Fonts
$ff-primary:                    'Montserrat', sans-serif;
$ff-secondary:                  'Spectral', serif;

$font-family-base:              $ff-primary;
