<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Dwell">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Emerson</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/lightslider/css/lightslider.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body class="page-gallery">

    <header class="header static">
      <div class="container">
        <a href="home.html" class="header-logo">
          <img src="../assets/img/logo.png" alt="">
        </a>
        <nav class="nav nav-header">
          <a href="gallery.html" class="nav-link active">Gallery</a>
          <a href="amenities.html" class="nav-link">Amenities</a>
          <a href="floor-plans.html" class="nav-link">Floor Plans</a>
          <a href="virtual-tour.html" class="nav-link">Virtual Tour</a>
          <a href="neighborhood.html" class="nav-link">Neighborhood</a>
          <a href="contacts.html" class="nav-link">Contacts</a>
        </nav>
        <a href="" class="btn btn-ui-primary btn-uppercase">Apply Now</a>
        <a href="" class="burger-menu"></a>
      </div><!-- container -->
    </header>

    <div class="sidebar">
      <div class="sidebar-body">
        <nav class="nav nav-sidebar">
          <a href="gallery.html" class="nav-link">Gallery</a>
          <a href="amenities.html" class="nav-link">Amenities</a>
          <a href="floor-plans.html" class="nav-link">Floor Plans</a>
          <a href="virtual-tour.html" class="nav-link">Virtual Tour</a>
          <a href="neighborhood.html" class="nav-link">Neighborhood</a>
          <a href="contacts.html" class="nav-link">Contacts</a>
        </nav>

        <p><i class="ri-map-pin-2-fill"></i>101 W 5th St , Tempe, Arizona 85281</p>
        <a href="" class="btn btn-ui-primary btn-uppercase">Apply Now</a>
        <a href="" class="btn btn-ui-secondary btn-uppercase">Schedule A Tour</a>
      </div><!-- sidebar-body -->
    </div><!-- sidebar -->

    <section class="section section-header">
      <div class="container">
        <h1 class="section-title">Gallery</h1>
        <p class="section-text">Your luxury apartment home awaits. Take a photo tour and then schedule a live tour with us today! Come home to optimal living at the Emerson Mill Avenue in Downtown Tempe.</p>
      </div><!-- container -->
    </section><!-- section-header -->

    <section class="section section-nav-gallery">
      <div class="container">
        <nav class="nav nav-section">
          <a href="" class="nav-link active">All Photos</a>
          <a href="" class="nav-link">Your Home</a>
          <a href="" class="nav-link">Your Community</a>
          <a href="" class="nav-link">Smart Home</a>
        </nav>
      </div><!-- container -->
    </section>

    <section id="gallerySlider" class="section-gallery">
      <div class="row align-items-center">
        <div class="col"><img src="../assets/img/slide1.jpg" class="img-fluid" alt=""></div>
        <div class="col-6 col-lg-5 active"><img src="../assets/img/slide2.jpg" class="img-fluid" alt=""></div>
        <div class="col"><img src="../assets/img/slide3.jpg" class="img-fluid" alt=""></div>

        <div class="gallery-pager">
          <a href="" id="galleryPrev" class="link-prev"><i class="ri-arrow-left-s-line"></i></a>
          <a href="" id="galleryNext" class="link-next"><i class="ri-arrow-right-s-line"></i></a>
        </div><!-- gallery-pager -->
      </div><!-- row -->
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-xl-4">
            <a href="" class="footer-logo mb-4">
              <img src="../assets/img/logo.png" alt="">
            </a>
            <ul class="list-unstyled">
              <li><i class="ri-map-pin-2-fill"></i> 101 W 5th St , Tempe, Arizona 85281</li>
              <li><i class="ri-at-line"></i> emerson@mark-taylor.com</li>
              <li><i class="ri-phone-fill"></i>(480) 907-3832</li>
            </ul>
          </div><!-- col -->
          <div class="col-lg mt-5 mt-lg-0">
            <nav class="nav nav-vertical">
              <a href="" class="nav-link">Gallery</a>
              <a href="" class="nav-link">Floor Plans</a>
              <a href="" class="nav-link">Amenities</a>
            </nav>
          </div><!-- col -->
          <div class="col-lg mt-3 mt-lg-0">
            <nav class="nav nav-vertical">
              <a href="" class="nav-link">Virtual Tour</a>
              <a href="" class="nav-link">Neighborhood</a>
              <a href="" class="nav-link">Contacts</a>
            </nav>
          </div><!-- col -->
          <div class="col-lg-3 mt-5 mt-lg-3 align-self-stretch d-flex flex-column justify-content-between">
            <nav class="nav nav-icon mt-lg-5">
              <a href="" class="nav-link"><i class="ri-facebook-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-instagram-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-youtube-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-twitter-fill"></i></a>
            </nav>

            <nav class="nav nav-right mt-4 mt-lg-auto">
              <a href="">Privacy Policy</a>
              <a href="">Terms of Use</a>
            </nav>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </footer>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/lightslider/js/lightslider.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('#gallerySlider .active').on('mouseover', function(){
          $(this).closest('.row').addClass('hover');
        });

        $('#gallerySlider .row').on('mouseleave', function(){
          $(this).removeClass('hover');
        });
      });
    </script>
  </body>
</html>
