<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Dwell">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Emerson</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body class="page-neighborhood">

    <header class="header static">
      <div class="container">
        <a href="home.html" class="header-logo">
          <img src="../assets/img/logo.png" alt="">
        </a>
        <nav class="nav nav-header">
          <a href="gallery.html" class="nav-link">Gallery</a>
          <a href="amenities.html" class="nav-link">Amenities</a>
          <a href="floor-plans.html" class="nav-link">Floor Plans</a>
          <a href="virtual-tour.html" class="nav-link">Virtual Tour</a>
          <a href="neighborhood.html" class="nav-link active">Neighborhood</a>
          <a href="contacts.html" class="nav-link">Contacts</a>
        </nav>
        <a href="" class="btn btn-ui-primary btn-uppercase">Apply Now</a>
        <a href="" class="burger-menu"></a>
      </div><!-- container -->
    </header>

    <div class="sidebar">
      <div class="sidebar-body">
        <nav class="nav nav-sidebar">
          <a href="gallery.html" class="nav-link">Gallery</a>
          <a href="amenities.html" class="nav-link">Amenities</a>
          <a href="floor-plans.html" class="nav-link">Floor Plans</a>
          <a href="virtual-tour.html" class="nav-link">Virtual Tour</a>
          <a href="neighborhood.html" class="nav-link">Neighborhood</a>
          <a href="contacts.html" class="nav-link">Contacts</a>
        </nav>

        <p><i class="ri-map-pin-2-fill"></i>101 W 5th St , Tempe, Arizona 85281</p>
        <a href="" class="btn btn-ui-primary btn-uppercase">Apply Now</a>
        <a href="" class="btn btn-ui-secondary btn-uppercase">Schedule A Tour</a>
      </div><!-- sidebar-body -->
    </div><!-- sidebar -->

    <div class="banner-neighborhood">
      <div class="container">
        <div class="row g-0">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="p-4 pt-lg-0 ps-lg-0 pb-lg-0 pe-lg-5">
              <h1>Emerson Mill Avenue Neighborhood in Tempe Arizona</h1>
              <p>Just steps from everything Arizona State University has to offer and minutes from Sky Harbor airport, Emerson is conveniently located in the heart of endless shopping and dining options and attractions like Tempe Town Lake, ASU stadium and Marquee Theatre.</p>
            </div>
          </div><!-- col -->
          <div class="col-lg order-1 order-lg-2">
            <img src="../assets/img/img14.jpg" class="img-fluid" alt="">
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- banner-neighborhood -->

    <section class="section section-center">
      <div class="container">
        <h2 class="section-title text-capitalize mb-3">Why you will love this community</h2>
        <p class="section-text mb-5">You can reach all of these and more within few minutes</p>

        <div class="showcase-group">
          <div class="row">
            <div class="col-6 col-lg-3">
              <img src="../assets/img/icon9.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Bank</p>
            </div>
            <div class="col-6 col-lg-3">
              <img src="../assets/img/icon10.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Zoo</p>
            </div>
            <div class="col-6 col-lg-3 mt-4 mt-lg-0">
              <img src="../assets/img/icon11.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Grocery</p>
            </div>
            <div class="col-6 col-lg-3 mt-4 mt-lg-0">
              <img src="../assets/img/icon4.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Parking</p>
            </div>
          </div><!-- row -->
          <div class="row">
            <div class="col-6 col-lg-3">
              <img src="../assets/img/icon12.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Restaurant</p>
            </div>
            <div class="col-6 col-lg-3">
              <img src="../assets/img/icon13.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">School</p>
            </div>
            <div class="col-6 col-lg-3 mt-4 mt-lg-0">
              <img src="../assets/img/icon14.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Shopping</p>
            </div>
            <div class="col-6 col-lg-3 mt-4 mt-lg-0">
              <img src="../assets/img/icon15.png" class="showcase-icon mb-3" alt="">
              <p class="showcase-text">Park</p>
            </div>
          </div><!-- row -->
        </div><!-- showcase-group -->
      </div><!-- container -->
    </section>

    <section class="section section-center pt-3">
      <div class="container">
        <h2 class="section-title text-capitalize mb-5">explore your Neighborhood<br>in Emerson mill avenue</h2>
        <nav class="nav nav-section mb-5">
          <a href="#mapView" data-bs-toggle="tab" class="nav-link active">Map View</a>
          <a href="#satelliteView" data-bs-toggle="tab" class="nav-link">Satellite View</a>
          <a href="#streetView" data-bs-toggle="tab" class="nav-link">Street View</a>
        </nav>
        <div class="tab-content">
          <div id="mapView" class="tab-pane fade active show">
            <div class="home-map">
              <img src="../assets/img/img7.jpg" alt="">
              <div class="card card-map">
                <div class="card-body">
                  <img src="../assets/img/img14.jpg" class="card-img" alt="">
                  <h6 class="card-title">Arizona State University, Tempre Campus</h6>
                  <p class="card-text">Tempre, AZ 85281</p>
                  <nav class="nav nav-icon">
                    <a href=""><i class="ri-phone-fill"></i></a>
                    <a href=""><i class="ri-map-pin-fill"></i></a>
                    <a href=""><i class="ri-share-forward-fill"></i></a>
                  </nav>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- home-map -->
          </div><!-- tab-pane -->
          <div id="satelliteView" class="tab-pane fade">
            <div class="home-map">
              <img src="../assets/img/img17.jpg" alt="">
              <div class="card card-map">
                <div class="card-body">
                  <img src="../assets/img/img14.jpg" class="card-img" alt="">
                  <h6 class="card-title">Arizona State University, Tempre Campus</h6>
                  <p class="card-text">Tempre, AZ 85281</p>
                  <nav class="nav nav-icon">
                    <a href=""><i class="ri-phone-fill"></i></a>
                    <a href=""><i class="ri-map-pin-fill"></i></a>
                    <a href=""><i class="ri-share-forward-fill"></i></a>
                  </nav>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- home-map -->
          </div><!-- tab-pane -->
          <div id="streetView" class="tab-pane fade">
            <div class="home-map">
              <img src="../assets/img/img18.jpg" alt="">
              <div class="card card-map">
                <div class="card-body">
                  <img src="../assets/img/img14.jpg" class="card-img" alt="">
                  <h6 class="card-title">Arizona State University, Tempre Campus</h6>
                  <p class="card-text">Tempre, AZ 85281</p>
                  <nav class="nav nav-icon">
                    <a href=""><i class="ri-phone-fill"></i></a>
                    <a href=""><i class="ri-map-pin-fill"></i></a>
                    <a href=""><i class="ri-share-forward-fill"></i></a>
                  </nav>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- home-map -->
          </div><!-- tab-pane -->
        </div><!-- tab-content -->
      </div><!-- container -->
    </section>

    <section class="section section-image">
      <div class="container">
        <div class="section-img">
          <img src="../assets/img/img12.jpg" class="img" alt="">
          <div class="section-body">
            <h2 class="text-capitalize">Explore what life is like at Emerson mill avenue</h2>
            <div class="d-flex justify-content-center">
              <a href="" class="btn btn-ui-white btn-uppercase d-none d-lg-flex">Apply Now</a>
              <a href="" class="btn btn-ui-white btn-uppercase ms-lg-4">View Virtual Tours</a>
            </div>
          </div><!-- section-body -->
          <span><img src="../assets/img/img3.png" alt=""></span>
        </div><!-- section-img -->
      </div><!-- container -->
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-xl-4">
            <a href="" class="footer-logo mb-4">
              <img src="../assets/img/logo.png" alt="">
            </a>
            <ul class="list-unstyled">
              <li><i class="ri-map-pin-2-fill"></i> 101 W 5th St , Tempe, Arizona 85281</li>
              <li><i class="ri-at-line"></i> emerson@mark-taylor.com</li>
              <li><i class="ri-phone-fill"></i>(480) 907-3832</li>
            </ul>
          </div><!-- col -->
          <div class="col-lg mt-5 mt-lg-0">
            <nav class="nav nav-vertical">
              <a href="" class="nav-link">Gallery</a>
              <a href="" class="nav-link">Floor Plans</a>
              <a href="" class="nav-link">Amenities</a>
            </nav>
          </div><!-- col -->
          <div class="col-lg mt-3 mt-lg-0">
            <nav class="nav nav-vertical">
              <a href="" class="nav-link">Virtual Tour</a>
              <a href="" class="nav-link">Neighborhood</a>
              <a href="" class="nav-link">Contacts</a>
            </nav>
          </div><!-- col -->
          <div class="col-lg-3 mt-5 mt-lg-3 align-self-stretch d-flex flex-column justify-content-between">
            <nav class="nav nav-icon mt-lg-5">
              <a href="" class="nav-link"><i class="ri-facebook-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-instagram-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-youtube-fill"></i></a>
              <a href="" class="nav-link"><i class="ri-twitter-fill"></i></a>
            </nav>

            <nav class="nav nav-right mt-4 mt-lg-auto">
              <a href="">Privacy Policy</a>
              <a href="">Terms of Use</a>
            </nav>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </footer>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'
      });
    </script>
  </body>
</html>
