
.table-alpha {
  border-collapse: separate;
  border-spacing: 0 4px;
  letter-spacing: -0.2px;

  thead th {
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: $font-size-sm;
    font-weight: 400;
    color: $color-tx-03;
    vertical-align: middle;
    padding: 6px 10px;
  }

  tbody > tr {
    box-shadow: 0 1px 2px rgba($color-bg-03, .2);
    @include border-radius();

    @include hover-focus() {
      position: relative;
      box-shadow: $shadow-01, $shadow-02, $shadow-04;
    }

    &.selected {
      box-shadow: none;

      .avatar {
        background-color: lighten($color-ui-01, 40%);
        color: rgba($color-ui-02, .75);

        span { color: #fff; }
      }

      td {
        background-color: lighten($color-ui-01, 48%);
        color: rgba($color-ui-02, .85);
        border-color: lighten($color-ui-01, 12%); //$color-ui-01;

        strong { color: $color-ui-02; }
      }

      @include hover-focus() {
        box-shadow: none;
      }
    }
  }

  tbody td {
    border-top-width: 1px;
    border-top-color: transparent;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    color: $color-tx-02;
    padding: 9px 10px;
    vertical-align: middle;

    &:first-child { border-left: 1px solid transparent; }
    &:last-child { border-right: 1px solid transparent; }

    .nav { justify-content: flex-end; }
  }

  thead th,
  tbody td {
    &:first-child {
      padding-left: 20px;
      @include border-left-radius($border-radius);
    }

    &:last-child {
      padding-right: 15px;
      @include border-right-radius($border-radius);
    }
  }

  tbody.skeleton-load {
    tr {
      @include hover-focus() { box-shadow: 0 1px 2px rgba($color-bg-03, .2); }
    }
  }
}
