<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Dwell">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/fav.png">

    <title>EVR</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body>

    <a id="headerMenu" href="#" class="header-menu"><p>Menu</p><p>Close</p> <span></span></a>
    <a href="#" class="header-logo"><img src="../assets/img/logo.png" alt=""></a>

    <div class="menu">
      <div class="menu-body">
        <nav class="nav">
          <a href="home.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link">About</a>
          <a href="communities.html" class="nav-link">Communities</a>
          <a href="lifestyle.html" class="nav-link active">Lifestyle</a>
          <a href="team.html" class="nav-link">Team</a>
          <a href="contact.html" class="nav-link">Contact</a>
        </nav>
      </div><!-- menu-body -->
      <div class="menu-footer">
        <a href="">Contact Us</a>
        <a href="">View Floor Plans</a>
      </div><!-- menu-footer -->
    </div><!-- menu -->

    <div class="banner-lifestyle">
      <div class="banner-img"><img src="../assets/img/img26.jpg" alt=""></div>
      <div class="banner-left">
        <h1 class="banner-title">Lifestyle</h1>
      </div><!-- banner-left -->
    </div><!-- banner-lifestyle -->

    <section class="section pb-5">
      <div class="container">
        <h2 class="section-subtitle text-center mb-3">Your personal getaway</h2>
        <p class="section-text text-center mb-5">Nothing complements a comfortable, stylish home<br>like an array of luxury amenities.</p>

        <div class="row">
          <div class="col-lg-4">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Nothing complements a comfortable, stylish home like an array of luxury amenities.</p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-0">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img27.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-0">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Outside your detached one, two, or three bedroom residence at EVR Spur Cross, a unique mix of indoor and outdoor lifestyle spaces are yours to enjoy.</p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img28.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Whether you’re seeking serenity, energy, or enhanced wellness, the enviable lifestyle perks at EVR Spur Cross can help you find it. </p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img29.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section pt-5">
      <div class="container">
        <h2 class="section-subtitle text-center mb-3">Enjoy your life </h2>
        <p class="section-text text-center mb-5">Nothing complements a comfortable, stylish home<br> like an array of luxury amenities.</p>

        <div class="row">
          <div class="col-lg-4">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img30.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-0">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Outside your detached one, two, or three bedroom residence at EVR Spur Cross, a unique mix of indoor and outdoor lifestyle spaces are yours to enjoy.</p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-0">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img31.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Cook up some grub at one of our barbecue grilling stations or get in a workout at our well-equipped fitness center.</p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-img">
                <img src="../assets/img/img32.jpg" alt="">
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
          <div class="col-lg-4 mg-t-25 mg-lg-t-30">
            <div class="card-lifestyle">
              <div class="card-body">
                <p>Cool off on a hot day with a refreshing dip in our resort-inspired swimming pool or lounge in one of our open-air ramadas with your e-reader.</p>
              </div><!-- card-body -->
            </div><!-- card-lifestyle -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

    <section class="section py-0">
      <div class="container container-ng">
        <div class="card card-headline">
          <div class="card-body">
            <h1>Come see, touch and feel the<br>quality of your future apartment.</h1>
            <p><a href="" class="link-readmore">Schedule a Tour</a></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3">
            <a href="#" class="footer-logo"><img src="../assets/img/logo.png" alt=""></a>
          </div><!-- col -->
          <div class="col-lg mg-t-40 mg-lg-t-0">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="ri-map-pin-2-fill"></i>
                <p>22557 East Forever Way<br>Queen Creek, AZ 85142</p>
              </li>
              <li>
                <i class="ri-at-line"></i>
                <p>evr@gmail.com</p>
              </li>
              <li>
                <i class="ri-phone-fill"></i>
                <p>542-667-9346</p>
              </li>
            </ul>
          </div><!-- col -->
          <div class="col-lg-3 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-links">
              <a href="#">Floor Plans</a>
              <a href="#">Communities</a>
              <a href="#">Contacts</a>
              <a href="#">Schedule a tour</a>
            </nav>
          </div>
          <div class="col-lg-2 mg-t-40 mg-lg-t-0">
            <nav class="nav nav-icon">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-instagram-fill"></i></a>
              <a href="#"><i class="ri-youtube-fill"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </nav>
          </div>
        </div><!-- row -->
        <div class="footer-bottom">
          <span>EVR 2021 &copy;</span>
          <div class="d-flex align-items-center">
            <a href="#">Privacy Policy</a>
            <span class="mx-2">|</span>
            <a href="#">Terms of Use</a>
          </div>
        </div>
      </div><!-- container -->
    </footer>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'
      });
    </script>
  </body>
</html>
