<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content">
      <div class="container-fluid">
        <div class="content-header mg-b-30">
          <h3 class="content-title mg-b-0">Chats Overview</h3>
        </div><!-- content-header -->
        <div class="table-responsive">
          <table id="tableChats" class="table table-alpha table-chats mg-b-0">
            <thead>
              <tr>
                <th class="wd-5p"></th>
                <th class="wd-20p">Session</th>
                <th class="wd-20p">Conversations</th>
                <th class="wd-20p">Questions</th>
                <th class="wd-20p">Status</th>
                <th class="wd-15p">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="avatar"><i class="ri-question-answer-fill"></i></div></td>
                <td><strong>May 2021</strong></td>
                <td>255</td>
                <td>1,021</td>
                <td><span class="badge badge-pending">Pending</span></td>
                <td>
                  <nav class="nav nav-icon">
                    <a href="chat-evaluate.html"><span data-toggle="tooltip" data-title="Evaluate"><i class="ri-chat-check-line"></i></span></a>
                    <a href="chat-report.html"><span data-toggle="tooltip" data-title="Report"><i class="ri-chat-poll-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td><div class="avatar"><i class="ri-question-answer-fill"></i></div></td>
                <td><strong>April 2021</strong></td>
                <td>220</td>
                <td>987</td>
                <td><span class="badge badge-progress">In Progress</span></td>
                <td>
                  <nav class="nav nav-icon">
                    <a href="chat-evaluate.html"><span data-toggle="tooltip" data-title="Evaluate"><i class="ri-chat-check-line"></i></span></a>
                    <a href="chat-report.html"><span data-toggle="tooltip" data-title="Report"><i class="ri-chat-poll-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td><div class="avatar"><i class="ri-question-answer-fill"></i></div></td>
                <td><strong>March 2021</strong></td>
                <td>320</td>
                <td>2,201</td>
                <td><span class="badge badge-completed">Completed</span></td>
                <td>
                  <nav class="nav nav-icon">
                    <a href="chat-evaluate.html"><span data-toggle="tooltip" data-title="Evaluate"><i class="ri-chat-check-line"></i></span></a>
                    <a href="chat-report.html"><span data-toggle="tooltip" data-title="Report"><i class="ri-chat-poll-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td><div class="avatar"><i class="ri-question-answer-fill"></i></div></td>
                <td><strong>February 2021</strong></td>
                <td>190</td>
                <td>768</td>
                <td><span class="badge badge-completed">Completed</span></td>
                <td>
                  <nav class="nav nav-icon">
                    <a href="chat-evaluate.html"><span data-toggle="tooltip" data-title="Evaluate"><i class="ri-chat-check-line"></i></span></a>
                    <a href="chat-report.html"><span data-toggle="tooltip" data-title="Report"><i class="ri-chat-poll-line"></i></span></a>
                  </nav>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        //$('[data-toggle="tooltip"]').tooltip();

        $('.nav-item-communication .nav-link').addClass('active');

      });
    </script>
  </body>
</html>
