<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-chat-evaluate">
      <div class="container-fluid pd-25-f">
        <div class="content-header mg-b-30">
          <div class="content-title-wrapper mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Chat Overview</a></li>
                <li class="breadcrumb-item active">Evaluation</li>
              </ol>
            </nav>
            <h3 class="content-title mg-b-3">Evaluation</h3>
            <p class="mg-b-0">April 2021 Session</p>
          </div><!-- content-title-wrapper -->
          <div class="d-flex align-items-center">
            <span class="d-block pd-r-10">Only show conversations with errors</span>
            <div class="form-switcher inactive"></div>
          </div>
        </div><!-- content-header -->

        <div class="chatspanel">
          <div class="chatspanel-sidebar">
            <div class="chatspanel-sidebar-header">
              <h6 class="tx-16 mg-b-0">Chats</h6>
              <span class="badge">27/204</span>
            </div><!-- chatspanel-sidebar-header -->
            <div class="chatspanel-sidebar-body">
              <ul class="chats-items">
                <li class="chats-item selected">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#1</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#2</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#3</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#4</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#5</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#6</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#7</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#8</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#9</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
                <li class="chats-item">
                  <div class="avatar"><i data-feather="check"></i></div>
                  <div class="chats-item-body">
                    <h6>#10</h6>
                    <p>May 04, 2021 7:12am</p>
                  </div><!-- chats-item-body -->
                </li>
              </ul>
            </div><!-- chatspanel-sidebar-body -->
          </div><!-- chatspanel-sidebar -->
          <div class="chatspanel-body">
            <div class="chatspanel-body-header">
              <div class="chats-item-info">
                <h6>#1</h6>
                <p>May 04, 2021 7:12am</p>
              </div><!-- chats-item-info -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Mark as reviewed</label>
              </div>
            </div><!-- chatspanel-body-header -->
            <div class="chatspanel-body-content">
              <div class="message-item">
                <div class="avatar"><span>h</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est</div>
                  <nav class="nav">
                    <a href="" class="nav-link correct"><i class="ri-chat-check-line"></i> Correct</a>
                    <a href="" class="nav-link incorrect"><i class="ri-chat-delete-line"></i> Incorrect</a>
                    <a href="" class="nav-link cantanswer"><i class="ri-chat-off-line"></i> Can't Answer</a>
                  </nav>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item flex-row-reverse">
                <div class="avatar"><span>p</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus.</div>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item correct">
                <div class="avatar"><span>h</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</div>
                  <nav class="nav">
                    <a href="" class="nav-link correct active"><i class="ri-chat-check-line"></i> Correct</a>
                    <a href="" class="nav-link incorrect"><i class="ri-chat-delete-line"></i> Incorrect</a>
                    <a href="" class="nav-link cantanswer"><i class="ri-chat-off-line"></i> Can't Answer</a>
                  </nav>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item flex-row-reverse">
                <div class="avatar"><span>p</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</div>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item incorrect">
                <div class="avatar"><span>h</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
                  <nav class="nav">
                    <a href="" class="nav-link correct"><i class="ri-chat-check-line"></i> Correct</a>
                    <a href="" class="nav-link incorrect active"><i class="ri-chat-delete-line"></i> Incorrect</a>
                    <a href="" class="nav-link cantanswer"><i class="ri-chat-off-line"></i> Can't Answer</a>
                  </nav>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item flex-row-reverse">
                <div class="avatar"><span>p</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</div>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
              <div class="message-item cantanswer">
                <div class="avatar"><span>h</span></div>
                <div class="message-item-body">
                  <div class="message-wrapper">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</div>
                  <nav class="nav">
                    <a href="" class="nav-link correct"><i class="ri-chat-check-line"></i> Correct</a>
                    <a href="" class="nav-link incorrect"><i class="ri-chat-delete-line"></i> Incorrect</a>
                    <a href="" class="nav-link cantanswer active"><i class="ri-chat-off-line"></i> Can't Answer</a>
                  </nav>
                </div><!-- message-item-body -->
              </div><!-- message-item -->
            </div><!-- chatspanel-body-content -->
          </div><!-- chatspanel-body -->
        </div><!-- chatspanel -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        //$('[data-toggle="tooltip"]').tooltip();

        $('.nav-item-communication .nav-link').addClass('active');

        new PerfectScrollbar('.chatspanel-sidebar-body ', {
          suppressScrollX: true
        });

        new PerfectScrollbar('.chatspanel-body-content ', {
          suppressScrollX: true
        });

        // add class to chat item when selected
        $('.chats-item').on('click', function(){
          $(this).addClass('selected');
          $(this).siblings().removeClass('selected');
        });

        $('.message-item .nav-link').on('click', function(e){
          e.preventDefault();

          var c = $(this).attr('class').split(' ');

          $(this).closest('.message-item').removeClass('correct incorrect cantanswer');
          $(this).closest('.message-item').addClass(c[1]);

          $(this).addClass('active').siblings().removeClass('active');
        });

        $('#customCheck1').on('click', function(e){
          var t = $(this).is(':checked');
          $('.chats-item.selected').toggleClass('checked', t);
        });

      });
    </script>
  </body>
</html>
