<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-compete-subpage content-compete-property">
      <div class="container-fluid">
        <div class="content-header">
          <div class="mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="compete-home.html">Dwell Compete</a></li>
                <li class="breadcrumb-item active" aria-current="page"><div class="skeleton"><div class="skeleton-text sm wd-100"></div></div><div class="skeleton-content">Scottsdale</div></li>
              </ol>
            </nav>
            <div class="skeleton"><span class="skeleton-text wd-200"></span></div>
            <div class="d-flex align-items-center mg-r-auto skeleton-content">
              <h4 class="content-title mg-b-0 mg-r-5">Scottsdale</h4>
              <a href="" class="compete-star">
                <i class="ri-star-line"></i>
                <i class="ri-star-fill"></i>
              </a>
            </div>
          </div>
          <div class="btn-group mg-r-10">
            <a href="compete-submarket.html" class="btn active">General</a>
            <a href="compete-submarket2.html" class="btn">Historical</a>
          </div><!-- btn-group -->
          <div class="dropdown dropdown-filter">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static"><i class="ri-list-settings-line"></i></a>
            <div id="ddSearchFilter" class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-title mg-b-15">Report Settings</h6>
              <div class="row row-xs align-items-center">
                <div class="col-5">Express rent as</div>
                <div class="col-7">
                  <select class="select2">
                    <option value="1" selected>Market Rent</option>
                    <option value="2">Effective Rent</option>
                  </select>
                </div><!-- col -->
                <div class="col-5 mg-t-10">Reporting period</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1">Previous Month</option>
                    <option value="2">Last 3 months</option>
                    <option value="3">Last 6 months</option>
                    <option value="4" selected>Last 12 months</option>
                  </select>
                </div>
                <div class="col-5 mg-t-10">Reporting group</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                  </select>
                </div>
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- content-header -->
        <div class="content-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title">Details</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Submarket Name</label>
                    <h6 class="item-value"><span class="skeleton-text wd-100 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <h6 class="item-value"><span class="skeleton-text wd-50 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of Properties</label>
                    <h6 class="item-value"><span class="skeleton-text wd-30 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of Units</label>
                    <h6 class="item-value"><span class="skeleton-text wd-50 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Average Submarket Occupancy</label>
                    <h6 class="item-value"><span class="skeleton-text wd-50 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Average Submarket Rent</label>
                    <h6 class="item-value"><span class="skeleton-text wd-50 mg-t-7"></span></h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Submarket Name</label>
                    <h6 class="item-value">Scottsdale</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <h6 class="item-value">Phoenix</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of Properties</label>
                    <h6 class="item-value">19</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of Units</label>
                    <h6 class="item-value">4,543</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Average Submarket Occupancy</label>
                    <h6 class="item-value">93.2%</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Average Submarket Rent</label>
                    <h6 class="item-value">$900.31</h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-9">
              <div class="card card-comprop">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Unit Type Overview</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>All</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">All</a>
                      <a href="" class="dropdown-item">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-alpha table-compete">
                      <thead>
                        <tr>
                          <th class="wd-10p"><span>Unit Type</span></th>
                          <th class="text-right"><span>Number of</span> Beds</th>
                          <th class="text-right"><span>Number of</span> Baths</th>
                          <th class="text-right">Number of <span>Available Units</span></th>
                          <th class="text-right">Unit Size <span>Average (SqFt)</span></th>
                          <th class="text-right">Unit Size <span>Range (SqFt)</span></th>
                          <th class="text-right">Average Rent</th>
                          <th class="text-right">Average Rent/SqFt</th>
                          <th class="text-right">Rent Range</th>
                        </tr>
                      </thead>
                      <tbody class="skeleton">
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                      </tbody>
                      <tbody class="skeleton-content">
                        <tr>
                          <td>1x1</td>
                          <td class="text-right">1</td>
                          <td class="text-right">1</td>
                          <td class="text-right">6</td>
                          <td class="text-right">751</td>
                          <td class="text-right">632-751</td>
                          <td class="text-right">$1,402</td>
                          <td class="text-right">$1.42</td>
                          <td class="text-right">$952-$1,503</td>
                        </tr>
                        <tr>
                          <td>1x2</td>
                          <td class="text-right">2</td>
                          <td class="text-right">2</td>
                          <td class="text-right">8</td>
                          <td class="text-right">654</td>
                          <td class="text-right">889-920</td>
                          <td class="text-right">$1,120</td>
                          <td class="text-right">$2.00</td>
                          <td class="text-right">$600-$1,120</td>
                        </tr>
                        <tr>
                          <td>2x2</td>
                          <td class="text-right">1</td>
                          <td class="text-right">2</td>
                          <td class="text-right">14</td>
                          <td class="text-right">559</td>
                          <td class="text-right">600-650</td>
                          <td class="text-right">$1,000</td>
                          <td class="text-right">$2.10</td>
                          <td class="text-right">$850-$1,303</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-end skeleton-content">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-sm pagination-lead mg-b-0">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="ri-arrow-right-s-line"></i></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Available Units (3)</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>1x1</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item">All</a>
                      <a href="" class="dropdown-item active">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-alpha table-compete mg-b-0-f">
                      <thead>
                        <tr>
                          <th class="wd-15p">Property</th>
                          <th><span>Unit Number</span></th>
                          <th class="wd-10p">Unit Type</th>
                          <th class="wd-15p">Floor Plan Name</th>
                          <th class="text-right"><span>Number of</span> Beds</th>
                          <th class="text-right"><span>Number of</span> Baths</th>
                          <th class="text-right"><span>Unit Size</span> (SqFt)</th>
                          <th class="text-right">Rent</th>
                          <th class="text-right">Rent/SqFt</th>
                          <th class="text-right">Available Date</th>
                        </tr>
                      </thead>
                      <tbody class="skeleton">
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                      </tbody>
                      <tbody class="skeleton-content">
                        <tr>
                          <td>San Milan</td>
                          <td>1028</td>
                          <td>1x1</td>
                          <td>1A</td>
                          <td class="text-right">1</td>
                          <td class="text-right">1</td>
                          <td class="text-right">800</td>
                          <td class="text-right">$1,000</td>
                          <td class="text-right">$1.41</td>
                          <td class="text-right">Dec 28, 2020</td>
                        </tr>
                        <tr>
                          <td>San Villante</td>
                          <td>700</td>
                          <td>1x2</td>
                          <td>1As</td>
                          <td class="text-right">2</td>
                          <td class="text-right">2</td>
                          <td class="text-right">875</td>
                          <td class="text-right">$1,600</td>
                          <td class="text-right">$1.18</td>
                          <td class="text-right"><span class="tx-nowrap">Nov 11, 2020</span></td>
                        </tr>
                        <tr>
                          <td>Tempe Metro</td>
                          <td>2025</td>
                          <td>2x2</td>
                          <td>2B</td>
                          <td class="text-right">1</td>
                          <td class="text-right">2</td>
                          <td class="text-right">900</td>
                          <td class="text-right">$1,200</td>
                          <td class="text-right">$2.30</td>
                          <td class="text-right">Oct 21, 2020</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Concessions Overview</h6>
                  <a href="" class="text-success"><i class="ri-checkbox-circle-fill"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="row skeleton">
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Properties Offering Concession</label>
                        <h6 class="item-value mg-b-0"><span class="skeleton-text sm wd-100"></span></h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Average Concession Amount</label>
                        <h6 class="item-value mg-b-0"><span class="skeleton-text sm wd-50"></span></h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Concession Amount Range</label>
                        <h6 class="item-value mg-b-0"><span class="skeleton-text sm wd-50"></span></h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">As % of Average Rent</label>
                        <h6 class="item-value mg-b-0"><span class="skeleton-text sm wd-50"></span></h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                  </div><!-- row -->
                  <div class="row skeleton-content">
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Properties Offering Concession</label>
                        <h6 class="item-value mg-b-0">8 (32%)</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Average Concession Amount</label>
                        <h6 class="item-value mg-b-0">$310.00</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Concession Amount Range</label>
                        <h6 class="item-value mg-b-0">$0-$600</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">As % of Average Rent</label>
                        <h6 class="item-value mg-b-0">11.5%</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title">Property Breakdown</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <table class="table table-alpha table-compete mg-b-0-f">
                    <thead>
                      <tr>
                        <th class="wd-20p">Property</th>
                        <th class="text-right">Number of Units</th>
                        <th class="text-right">Unit Size <span>Range (SqFt)</span></th>
                        <th class="text-right">Unit Size <span>Average (SqFt)</span></th>
                        <th class="text-right">Average Rent</th>
                        <th class="text-right">Average Rent/SqFt</th>
                        <th class="text-right">Rant Range</th>
                        <th class="text-right">Occupancy Rate</th>
                      </tr>
                    </thead>
                    <tbody class="skeleton">
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-60"></div></td>
                      </tr>
                    </tbody>
                    <tbody class="skeleton-content">
                      <tr>
                        <td><a href="">Morrison Chandler</a></td>
                        <td class="text-right">457</td>
                        <td class="text-right">475-2,300</td>
                        <td class="text-right">600</td>
                        <td class="text-right">$1,000</td>
                        <td class="text-right">$1.23</td>
                        <td class="text-right">$952-$1,503</td>
                        <td class="text-right">85%</td>
                      </tr>
                      <tr>
                        <td><a href="">Tempe Metro</a></td>
                        <td class="text-right">275</td>
                        <td class="text-right">550-1,750</td>
                        <td class="text-right">764</td>
                        <td class="text-right">$965</td>
                        <td class="text-right">$2.59</td>
                        <td class="text-right">$1,100-$1,200</td>
                        <td class="text-right">39%</td>
                      </tr>
                      <tr>
                        <td><a href="">San Vilante</a></td>
                        <td class="text-right">310</td>
                        <td class="text-right">700-3,500</td>
                        <td class="text-right">800</td>
                        <td class="text-right">$876</td>
                        <td class="text-right">$1.82</td>
                        <td class="text-right">$700-$1,100</td>
                        <td class="text-right">49%</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Rent Comps</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>All</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">All</a>
                      <a href="" class="dropdown-item">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <table class="table table-alpha table-compete mg-b-0-f">
                    <thead>
                      <tr>
                        <th class="wd-25p">Property</th>
                        <th>Unit Type</th>
                        <th>Floor Plan Name</th>
                        <th class="text-right">Number of Beds</th>
                        <th class="text-right">Number of Baths</th>
                        <th class="text-right">Number of <span>Available Units</span></th>
                        <th class="text-right">Unit Size (SqFt)</th>
                        <th class="text-right">Rent</th>
                        <th class="text-right">Rent/SqFt</th>
                      </tr>
                    </thead>
                    <tbody class="skeleton">
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-30"></div></td>
                      </tr>
                    </tbody>
                    <tbody class="skeleton-content">
                      <tr>
                        <td>Tempe Metro</td>
                        <td>1x1</td>
                        <td>Opal</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1</td>
                        <td class="text-right">200</td>
                        <td class="text-right">800</td>
                        <td class="text-right">$700</td>
                        <td class="text-right">$2.42</td>
                      </tr>
                      <tr>
                        <td>San Milan</td>
                        <td>1x2</td>
                        <td>Sapphire</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1</td>
                        <td class="text-right">100</td>
                        <td class="text-right">700</td>
                        <td class="text-right">$1,000</td>
                        <td class="text-right">$10.80</td>
                      </tr>
                      <tr>
                        <td>Grand Lux</td>
                        <td>2x2</td>
                        <td>1A-2</td>
                        <td class="text-right">2</td>
                        <td class="text-right">2</td>
                        <td class="text-right">300</td>
                        <td class="text-right">400</td>
                        <td class="text-right">$900</td>
                        <td class="text-right">$7.29</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end mg-t-15 skeleton-content">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-sm pagination-lead mg-b-0">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="ri-arrow-right-s-line"></i></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          width: '100%',
          dropdownParent: $('#ddSearchFilter')
        });

        $('#ddSearchFilter').on('click', function(e){
          e.stopPropagation();
        });

        $('.dropdown-stype .dropdown-item').on('click', function(e){
          e.preventDefault();

          var v = $(this).text();

          $(this).addClass('active').siblings().removeClass('active');
          $(this).closest('.dropdown').find('.dropdown-link span').text(v);
        })

      });
    </script>
  </body>
</html>
