<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-compete-subpage content-compete-property">
      <div class="container-fluid">
        <div class="content-header">
          <div class="mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="compete-home.html">Dwell Compete</a></li>
                <li class="breadcrumb-item active" aria-current="page"><div class="skeleton"><div class="skeleton-text sm wd-100"></div></div><div class="skeleton-content">San Milan</div></li>
              </ol>
            </nav>
            <div class="skeleton"><span class="skeleton-text wd-200"></span></div>
            <div class="d-flex align-items-center mg-r-auto skeleton-content">
              <h4 class="content-title mg-b-0 mg-r-5">San Milan</h4>
              <a href="" class="compete-star">
                <i class="ri-star-line"></i>
                <i class="ri-star-fill"></i>
              </a>
            </div>
          </div>
          <div class="btn-group mg-r-10">
            <a href="compete-property.html" class="btn active">General</a>
            <a href="compete-property2.html" class="btn">Historical</a>
          </div><!-- btn-group -->
          <div class="dropdown dropdown-filter">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static"><i class="ri-list-settings-line"></i></a>
            <div id="ddSearchFilter" class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-title mg-b-15">Report Settings</h6>
              <div class="row row-xs align-items-center">
                <div class="col-5">Express rent as</div>
                <div class="col-7">
                  <select class="select2">
                    <option value="1" selected>Market Rent</option>
                    <option value="2">Effective Rent</option>
                  </select>
                </div><!-- col -->
                <div class="col-5 mg-t-10">Reporting period</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1">Previous Month</option>
                    <option value="2">Last 3 months</option>
                    <option value="3">Last 6 months</option>
                    <option value="4" selected>Last 12 months</option>
                  </select>
                </div>
                <div class="col-5 mg-t-10">Reporting group</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                  </select>
                </div>
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- content-header -->
        <div class="content-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title">Details</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <div class="skeleton-text wd-100p"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <div class="skeleton-text wd-40"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <div class="skeleton-text wd-50"></div>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <h6 class="item-value">San Milan</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <h6 class="item-value">6640 East McDowell Road,<br>Scottsdale, AZ 85257</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <h6 class="item-value">(480) 396-1111</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <h6 class="item-value">www.propertya.com <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <h6 class="item-value">Phoenix</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <h6 class="item-value">North Scottdale</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <h6 class="item-value">346</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <h6 class="item-value">93.2%</h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
              <div class="card card-comprop mg-t-20">
                <div class="card-header">
                  <h6 class="card-title">Alert Subscriptions</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Active Alerts</label>
                    <div class="skeleton-text d-block wd-100 mg-t-10"></div>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Recent Alert Logs</label>
                    <div class="skeleton-text d-block wd-150 mg-t-10"></div>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Active Alerts</label>
                    <h6 class="item-value mg-b-2">Alert Name A</h6>
                    <h6 class="item-value">Alert Name B</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Recent Alert Logs</label>
                    <h6 class="item-value mg-b-2">Alert #006 (Nov 17, 2020) <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                    <h6 class="item-value">Alert #002 (Nov 02, 2020) <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-9">
              <div class="card card-comprop">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Unit Types</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>All</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">All</a>
                      <a href="" class="dropdown-item">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-alpha table-compete">
                      <thead>
                        <tr>
                          <th class="wd-10p"><span>Unit Type</span></th>
                          <th class="wd-25p"><span>Floor Plan Name</span></th>
                          <th class="text-right"><span>Number of</span> Beds</th>
                          <th class="text-right"><span>Number of</span> Baths</th>
                          <th class="text-right">Number of <span>Available Units</span></th>
                          <th class="text-right">Unit Size <span>Average (SqFt)</span></th>
                          <th class="text-right">Unit Size <span>Range (SqFt)</span></th>
                          <th class="text-right">Average Rent</th>
                          <th class="text-right">Average Rent/SqFt</th>
                          <th class="text-right">Rent Range</th>
                        </tr>
                      </thead>
                      <tbody class="skeleton">
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                        <tr>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                          <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        </tr>
                      </tbody>
                      <tbody class="skeleton-content">
                        <tr>
                          <td>1x1</td>
                          <td>1A</td>
                          <td class="text-right">1</td>
                          <td class="text-right">1</td>
                          <td class="text-right">6</td>
                          <td class="text-right">751</td>
                          <td class="text-right">632-751</td>
                          <td class="text-right">$1,402</td>
                          <td class="text-right">$1.42</td>
                          <td class="text-right">$952-$1,503</td>
                        </tr>
                        <tr>
                          <td>1x2</td>
                          <td>1As</td>
                          <td class="text-right">2</td>
                          <td class="text-right">2</td>
                          <td class="text-right">8</td>
                          <td class="text-right">654</td>
                          <td class="text-right">889-920</td>
                          <td class="text-right">$1,120</td>
                          <td class="text-right">$2.00</td>
                          <td class="text-right">$600-$1,120</td>
                        </tr>
                        <tr>
                          <td>2x2</td>
                          <td>2B</td>
                          <td class="text-right">1</td>
                          <td class="text-right">2</td>
                          <td class="text-right">14</td>
                          <td class="text-right">559</td>
                          <td class="text-right">600-650</td>
                          <td class="text-right">$1,000</td>
                          <td class="text-right">$2.10</td>
                          <td class="text-right">$850-$1,303</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-end skeleton-content">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-sm pagination-lead mg-b-0">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="ri-arrow-right-s-line"></i></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Available Units (3)</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>1x1</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item">All</a>
                      <a href="" class="dropdown-item active">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <table class="table table-alpha table-compete mg-b-0-f">
                    <thead>
                      <tr>
                        <th><span>Unit Number</span></th>
                        <th class="wd-10p">Unit Type</th>
                        <th class="wd-15p">Floor Plan Name</th>
                        <th class="text-right">Number of Beds</th>
                        <th class="text-right">Number of Baths</th>
                        <th class="text-right">Unit Size (SqFt)</th>
                        <th class="text-right">Rent</th>
                        <th class="text-right">Rent/SqFt</th>
                        <th class="text-right">Available Date</th>
                      </tr>
                    </thead>
                    <tbody class="skeleton">
                      <tr>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-50"></div></td>
                      </tr>
                    </tbody>
                    <tbody class="skeleton-content">
                      <tr>
                        <td><a href="#modalUnitPricing" data-toggle="modal">1001</a></td>
                        <td>1x1</td>
                        <td>1A</td>
                        <td class="text-right">1</td>
                        <td class="text-right">1</td>
                        <td class="text-right">800</td>
                        <td class="text-right">$1,000</td>
                        <td class="text-right">$1.41</td>
                        <td class="text-right">Dec 28, 2020</td>
                      </tr>
                      <tr>
                        <td><a href="#modalUnitPricing2" data-toggle="modal">2001</a></td>
                        <td>1x2</td>
                        <td>1As</td>
                        <td class="text-right">2</td>
                        <td class="text-right">2</td>
                        <td class="text-right">875</td>
                        <td class="text-right">$1,600</td>
                        <td class="text-right">$1.18</td>
                        <td class="text-right"><span class="tx-nowrap">Nov 11, 2020</span></td>
                      </tr>
                      <tr>
                        <td><a href="" data-toggle="modal">2025</a></td>
                        <td>2x2</td>
                        <td>2B</td>
                        <td class="text-right">1</td>
                        <td class="text-right">2</td>
                        <td class="text-right">900</td>
                        <td class="text-right">$1,200</td>
                        <td class="text-right">$2.30</td>
                        <td class="text-right">Oct 21, 2020</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Concessions</h6>
                  <a href="" class="text-success"><i class="ri-checkbox-circle-fill"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="row skeleton">
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Description</label>
                        <div class="skeleton-text wd-150"></div>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Amount</label>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">As % of Average Rent</label>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- item-group -->
                    </div><!-- col -->
                  </div><!-- row -->
                  <div class="row skeleton-content">
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Description</label>
                        <h6 class="item-value mg-b-0">Receive up to $500 off select units</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Amount</label>
                        <h6 class="item-value mg-b-0">$500.00</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">As % of Average Rent</label>
                        <h6 class="item-value mg-b-0">$500.00</h6>
                      </div><!-- item-group -->
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title">Competitors</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <table class="table table-alpha table-compete mg-b-0-f">
                    <thead>
                      <tr>
                        <th class="wd-25p">Property</th>
                        <th class="wd-20p">Submarket</th>
                        <th class="text-right wd-10p">Number of Units</th>
                        <th class="wd-15p text-right">Unit Size <span>Range (SqFt)</span></th>
                        <th class="wd-15p text-right">Rent Range</th>
                        <th class="wd-10p text-right">Occupancy</th>
                        <th class="wd-5p"></th>
                      </tr>
                    </thead>
                    <tbody class="skeleton">
                      <tr>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td><div class="skeleton-text wd-100"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-80"></div></td>
                        <td class="text-right"><div class="skeleton-text wd-50"></div></td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody>
                    <tbody class="skeleton-content">
                      <tr>
                        <td><a href="">Morrison Chandler</a></td>
                        <td>South Scottdale</td>
                        <td class="text-right">457</td>
                        <td class="text-right">475-2,300</td>
                        <td class="text-right">$1,000-$4,500</td>
                        <td class="text-right">92.0%</td>
                        <td>
                          <div class="dropdown">
                            <a href="" class="dropdown-link" data-toggle="dropdown"><i class="ri-more-2-fill"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="" class="dropdown-item">Run Comparison Report</a>
                            </div>
                          </div><!-- dropdown -->
                        </td>
                      </tr>
                      <tr>
                        <td><a href="">Tempe Metro</a></td>
                        <td>Sunnyslope</td>
                        <td class="text-right">275</td>
                        <td class="text-right">550-1,750</td>
                        <td class="text-right">$975-$3,000</td>
                        <td class="text-right">87.5%</td>
                        <td>
                          <div class="dropdown">
                            <a href="" class="dropdown-link" data-toggle="dropdown"><i class="ri-more-2-fill"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="" class="dropdown-item">Run Comparison Report</a>
                            </div>
                          </div><!-- dropdown -->
                        </td>
                      </tr>
                      <tr>
                        <td><a href="">San Vilante</a></td>
                        <td>Glendale</td>
                        <td class="text-right">310</td>
                        <td class="text-right">700-3,500</td>
                        <td class="text-right">$1,00-$3,475</td>
                        <td class="text-right">93.5%</td>
                        <td>
                          <div class="dropdown">
                            <a href="" class="dropdown-link" data-toggle="dropdown"><i class="ri-more-2-fill"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="" class="dropdown-item">Run Comparison Report</a>
                            </div>
                          </div><!-- dropdown -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="row row-sm mg-t-20">
                <div class="col-6">
                  <div class="card card-comprop">
                    <div class="card-header">
                      <h6 class="card-title">Community Features</h6>
                    </div><!-- card-header -->
                    <div class="card-body">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Features List</label>
                        <ul class="list-unstyled skeleton">
                          <li><div class="skeleton-text xs wd-100"></div></li>
                          <li><div class="skeleton-text xs wd-60"></div></li>
                          <li><div class="skeleton-text xs wd-80"></div></li>
                          <li><div class="skeleton-text xs wd-100"></div></li>
                          <li><div class="skeleton-text xs wd-70"></div></li>
                        </ul>
                        <ul class="item-list skeleton-content">
                          <li>Fitness Center</li>
                          <li>Covered Parking Available</li>
                          <li>Club House</li>
                          <li>Rental Office - Stand Alone</li>
                          <li>Controlled Access</li>
                          <li>Detached Garages are Available</li>
                          <li>Major Street Exposure - 32nd Street</li>
                          <li>Outside Storage</li>
                          <li>Swimming Pool</li>
                          <li>Business Centre</li>
                          <li>Media Room</li>
                        </ul>
                      </div><!-- item-group -->
                    </div><!-- card-body -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col">
                  <div class="card card-comprop ht-100p">
                    <div class="card-header">
                      <h6 class="card-title">Apartment Features</h6>
                    </div><!-- card-header -->
                    <div class="card-body">
                      <div class="item-group mg-b-0-f">
                        <label class="item-label">Features List</label>
                        <ul class="list-unstyled skeleton">
                          <li><div class="skeleton-text xs wd-100"></div></li>
                          <li><div class="skeleton-text xs wd-60"></div></li>
                          <li><div class="skeleton-text xs wd-80"></div></li>
                          <li><div class="skeleton-text xs wd-100"></div></li>
                          <li><div class="skeleton-text xs wd-70"></div></li>
                        </ul>
                        <ul class="item-list skeleton-content">
                          <li>Washer/Dryer in All Units</li>
                          <li>Monitored Security Available</li>
                          <li>Above Standard Ceiling Height</li>
                          <li>Microwave Ovens in All Units</li>
                          <li>High Speed Internal Access</li>
                          <li>View - McDowell Mountains</li>
                        </ul>
                      </div><!-- item-group -->
                    </div><!-- card-body -->
                  </div><!-- card -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <div class="modal modal-unit-pricing fade" id="modalUnitPricing" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-sidebar">
            <label>Sessions</label>
            <nav class="nav">
              <a href="" data-toggle="tab" class="nav-link active"><i class="ri-time-line"></i> Current Session</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i>04/01/2021 - 04/05/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i> 01/01/2020 - 01/30/2020</a>
            </nav>
          </div><!-- modal-sidebar -->
          <div class="modal-body">
            <div class="unit-pricing-title">
              <h2 class="up-name">Unit #<strong>1001</strong></h2>
              <span class="badge badge-success">On market <i class="ri-checkbox-circle-fill"></i></span>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!-- unit-pricing-title -->

            <hr class="mg-y-15 op-0">

            <div class="media-list media-list-up">
              <div class="media">
                <div class="media-icon"><i class="ri-home-5-line"></i></div>
                <div class="media-body">
                  <label>Unit Type</label>
                  <h6>1 Bedroom</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-ruler-line"></i></div>
                <div class="media-body">
                  <label>Unit Size (SqFt)</label>
                  <h6>457</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-todo-line"></i></div>
                <div class="media-body">
                  <label>Start Listing Date</label>
                  <h6>05/01/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-line"></i></div>
                <div class="media-body">
                  <label>End Listing Date</label>
                  <h6>&nbsp;</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-event-line"></i></div>
                <div class="media-body">
                  <label>Days on Market</label>
                  <h6>18</h6>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- media-list -->

            <hr class="op-0">

            <label class="up-label mg-b-20">Unit Pricing</label>
            <div class="up-chart"><canvas id="chartLine1"></canvas></div>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="modal modal-unit-pricing fade" id="modalUnitPricing2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-sidebar">
            <label>Sessions</label>
            <nav class="nav">
              <a href="" data-toggle="tab" class="nav-link active"><i class="ri-time-line"></i> 10/15/2021 - 10/20/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i>04/01/2021 - 04/05/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i> 01/01/2020 - 01/30/2020</a>
            </nav>
          </div><!-- modal-sidebar -->
          <div class="modal-body">
            <div class="unit-pricing-title">
              <h2 class="up-name">Unit #<strong>2001</strong></h2>
              <span class="badge badge-danger">Off market <i class="ri-close-circle-fill"></i></span>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!-- unit-pricing-title -->

            <hr class="mg-y-15 op-0">

            <div class="media-list media-list-up">
              <div class="media">
                <div class="media-icon"><i class="ri-home-5-line"></i></div>
                <div class="media-body">
                  <label>Unit Type</label>
                  <h6>3 Bedrooms</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-ruler-line"></i></div>
                <div class="media-body">
                  <label>Unit Size (SqFt)</label>
                  <h6>1,500</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-todo-line"></i></div>
                <div class="media-body">
                  <label>Start Listing Date</label>
                  <h6>10/15/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-line"></i></div>
                <div class="media-body">
                  <label>End Listing Date</label>
                  <h6>10/20/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-event-line"></i></div>
                <div class="media-body">
                  <label>Days on Market</label>
                  <h6>6</h6>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- media-list -->

            <hr class="op-0">

            <label class="up-label mg-b-20">Unit Pricing</label>
            <div class="up-chart"><canvas id="chartLine2"></canvas></div>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../lib/chart.js/Chart.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          width: '100%',
          dropdownParent: $('#ddSearchFilter')
        });

        $('#ddSearchFilter').on('click', function(e){
          e.stopPropagation();
        });

        $('.dropdown-stype .dropdown-item').on('click', function(e){
          e.preventDefault();

          var v = $(this).text();

          $(this).addClass('active').siblings().removeClass('active');
          $(this).closest('.dropdown').find('.dropdown-link span').text(v);
        });

        // -------------------------------------------------------------------

        var cLabel = ['Dec 19','Jan 20','Feb 20','Mar 20','Apr 20','May 20','Jun 20', 'Jul 20', 'Aug 20', 'Sep 20', 'Oct 20', 'Nov 20'];
        var cData = [300, 1100, 950, 820, 820, 950, 1200, 200, 600, 0, 650, 300];
        var cOptions = {
          maintainAspectRatio: false,
          legend: {
            display: false,
            labels: {
              display: false
            }
          },
          scales: {
            yAxes: [{
              gridLines: {
                color: '#ebeef3'
              },
              ticks: {
                beginAtZero: true,
                fontSize: 10,
                fontColor: '#6b7280',
                min: 0,
                max: 1400,
                sampleSize: 7,
                callback: function(value, index, values) {
                  return '$' + value;
                }
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              },
              ticks: {
                fontSize: 11,
                fontColor: '#6b7280'
              }
            }]
          }
        };


        var ctx1 = document.getElementById('chartLine1').getContext('2d');
        var gradient1 = ctx1.createLinearGradient(0, 0, 0, 300);
        gradient1.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient1.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx1, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient1,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });

        var ctx2 = document.getElementById('chartLine2').getContext('2d');
        var gradient2 = ctx2.createLinearGradient(0, 0, 0, 300);
        gradient2.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient2.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx2, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient2,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });


        // For displaying modal directly from url
        // For demo use only
        $.urlParam = function(name){
        	var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        	return (results!=null)? results[1] || 0 : 0;
        }

        if($.urlParam('modal')) {
          if($.urlParam('modal') === 'onmarket') {
            $('#modalUnitPricing').modal('show');
          }

          if($.urlParam('modal') === 'offmarket') {
            $('#modalUnitPricing2').modal('show');
          }
        };

      });
    </script>
  </body>
</html>
