<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-compete-subpage content-compete-property">
      <div class="container-fluid">
        <div class="content-header">
          <div class="mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="compete-home.html">Dwell Compete</a></li>
                <li class="breadcrumb-item active" aria-current="page"><div class="skeleton"><div class="skeleton-text sm wd-100"></div></div><div class="skeleton-content">San Milan</div></li>
              </ol>
            </nav>
            <div class="skeleton"><span class="skeleton-text wd-200"></span></div>
            <div class="d-flex align-items-center mg-r-auto skeleton-content">
              <h4 class="content-title mg-b-0 mg-r-5">San Milan</h4>
              <a href="" class="compete-star">
                <i class="ri-star-line"></i>
                <i class="ri-star-fill"></i>
              </a>
            </div>
          </div>
          <div class="btn-group mg-r-10">
            <a href="compete-property.html" class="btn active">General</a>
            <a href="compete-property2.html" class="btn">Historical</a>
          </div><!-- btn-group -->
          <div class="dropdown dropdown-filter">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static"><i class="ri-list-settings-line"></i></a>
            <div id="ddSearchFilter" class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-title mg-b-15">Report Settings</h6>
              <div class="row row-xs align-items-center">
                <div class="col-5">Express rent as</div>
                <div class="col-7">
                  <select class="select2">
                    <option value="1" selected>Market Rent</option>
                    <option value="2">Effective Rent</option>
                  </select>
                </div><!-- col -->
                <div class="col-5 mg-t-10">Reporting period</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1">Previous Month</option>
                    <option value="2">Last 3 months</option>
                    <option value="3">Last 6 months</option>
                    <option value="4" selected>Last 12 months</option>
                  </select>
                </div>
                <div class="col-5 mg-t-10">Reporting group</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                  </select>
                </div>
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- content-header -->
        <div class="content-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title">Details</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <div class="skeleton-text wd-100p"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <div class="skeleton-text wd-40"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <div class="skeleton-text wd-50"></div>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <h6 class="item-value">San Milan</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <h6 class="item-value">6640 East McDowell Road,<br>Scottsdale, AZ 85257</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <h6 class="item-value">(480) 396-1111</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <h6 class="item-value">www.propertya.com <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <h6 class="item-value">Phoenix</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <h6 class="item-value">North Scottdale</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <h6 class="item-value">346</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <h6 class="item-value">93.2%</h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-9">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title mg-r-auto">Available Units</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="comprop-empty">
                    <i class="ri-list-check-2"></i>
                    <h5>No available units</h5>
                    <p class="mg-b-0">This property has no available units.</p>
                  </div><!-- comprop-empty -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header">
                  <h6 class="card-title mg-r-auto">Concessions</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="comprop-empty">
                    <i class="ri-list-check-2"></i>
                    <h5>No concessions</h5>
                    <p class="mg-b-0">This property is not offering concessions.</p>
                  </div><!-- comprop-empty -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          width: '100%',
          dropdownParent: $('#ddSearchFilter')
        });

        $('#ddSearchFilter').on('click', function(e){
          e.stopPropagation();
        });

        $('.dropdown-stype .dropdown-item').on('click', function(e){
          e.preventDefault();

          var v = $(this).text();

          $(this).addClass('active').siblings().removeClass('active');
          $(this).closest('.dropdown').find('.dropdown-link span').text(v);
        });



      });
    </script>
  </body>
</html>
