<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-compete-subpage content-compete-property">
      <div class="container-fluid">
        <div class="content-header">
          <div class="mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="compete-home.html">Dwell Compete</a></li>
                <li class="breadcrumb-item active" aria-current="page"><div class="skeleton"><div class="skeleton-text sm wd-100"></div></div><div class="skeleton-content">San Milan</div></li>
              </ol>
            </nav>
            <div class="skeleton"><span class="skeleton-text wd-200"></span></div>
            <div class="d-flex align-items-center mg-r-auto skeleton-content">
              <h4 class="content-title mg-b-0 mg-r-5">San Milan</h4>
              <a href="" class="compete-star">
                <i class="ri-star-line"></i>
                <i class="ri-star-fill"></i>
              </a>
            </div>
          </div>
          <div class="btn-group mg-r-10">
            <a href="compete-property.html" class="btn">General</a>
            <a href="compete-property2.html" class="btn active">Historical</a>
          </div><!-- btn-group -->
          <div class="dropdown dropdown-filter">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static"><i class="ri-list-settings-line"></i></a>
            <div id="ddSearchFilter" class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-title mg-b-15">Report Settings</h6>
              <div class="row row-xs align-items-center">
                <div class="col-5">Express rent as</div>
                <div class="col-7">
                  <select class="select2">
                    <option value="1" selected>Market Rent</option>
                    <option value="2">Effective Rent</option>
                  </select>
                </div><!-- col -->
                <div class="col-5 mg-t-10">Reporting period</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1">Previous Month</option>
                    <option value="2">Last 3 months</option>
                    <option value="3">Last 6 months</option>
                    <option value="4" selected>Last 12 months</option>
                  </select>
                </div>
                <div class="col-5 mg-t-10">Reporting group</div>
                <div class="col-7 mg-t-10">
                  <select class="select2">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                  </select>
                </div>
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- content-header -->
        <div class="content-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title">Details</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <div class="skeleton-text wd-100p"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <div class="skeleton-text wd-40"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <div class="skeleton-text wd-50"></div>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Property Name</label>
                    <h6 class="item-value">San Milan</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Address</label>
                    <h6 class="item-value">6640 East McDowell Road,<br>Scottsdale, AZ 85257</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Phone number</label>
                    <h6 class="item-value">(480) 396-1111</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Website</label>
                    <h6 class="item-value">www.propertya.com <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Market</label>
                    <h6 class="item-value">Phoenix</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Submarket</label>
                    <h6 class="item-value">North Scottdale</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Number of units</label>
                    <h6 class="item-value">346</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Occupancy</label>
                    <h6 class="item-value">93.2%</h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
              <div class="card card-comprop mg-t-20">
                <div class="card-header">
                  <h6 class="card-title">Alert Subscriptions</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Active Alerts</label>
                    <div class="skeleton-text d-block wd-100 mg-t-10"></div>
                    <div class="skeleton-text wd-100"></div>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Recent Alert Logs</label>
                    <div class="skeleton-text d-block wd-150 mg-t-10"></div>
                    <div class="skeleton-text wd-150"></div>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Active Alerts</label>
                    <h6 class="item-value mg-b-2">Alert Name A</h6>
                    <h6 class="item-value">Alert Name B</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Recent Alert Logs</label>
                    <h6 class="item-value mg-b-2">Alert #006 (Nov 17, 2020) <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                    <h6 class="item-value">Alert #002 (Nov 02, 2020) <a href="" class="item-exlink"><i class="ri-external-link-line"></i></a></h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-9">
              <div class="card card-comprop">
                <div class="card-header d-flex align-items-center">
                  <div class="mg-r-auto">
                    <h6 class="card-title mg-b-5-f mg-r-auto">Rent History</h6>
                    <span class="card-subtitle">Reporting Period: December 1, 2019 - November 30, 2020</span>
                  </div>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>1x1</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item">All</a>
                      <a href="" class="dropdown-item active">1x1</a>
                      <a href="" class="dropdown-item">1x2</a>
                      <a href="" class="dropdown-item">2x2</a>
                      <a href="" class="dropdown-item">2x3</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body pd-t-20-f">
                  <div class="compete-chart mg-b-30 skeleton"><div class="skeleton-box wd-100p ht-100p"></div></div>
                  <div class="compete-chart mg-b-30 skeleton-content"><canvas id="chartLine1"></canvas></div>

                  <h6 class="card-label tx-16 mg-b-20">Breakdown</h6>
                  <div class="row mg-b-25 skeleton">
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->
                  <div class="row mg-b-25 skeleton-content">
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>2,300</h2>
                        <label>Rent High <span>(Jun 20)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>1,300</h2>
                        <label>Rent Low <span>(Jul 20)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>200.31</h2>
                        <label>Avg Rent <span>(Entire Period)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->

                  <h6 class="card-label mg-b-0-f"><a href="#tableWrap1" data-toggle="collapse">Table View <i class="ri-arrow-right-s-line"></i></a></h6>
                  <div id="tableWrap1" class="collapse mg-t-20">
                    <table class="table table-alpha table-compete mg-b-0">
                      <thead>
                        <tr>
                          <th>Time Period</th>
                          <th class="text-right">Rent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dec 19</td>
                          <td class="text-right">$400</td>
                        </tr>
                        <tr>
                          <td>Jan 20</td>
                          <td class="text-right">$1,260</td>
                        </tr>
                        <tr>
                          <td>Feb 20</td>
                          <td class="text-right">$1,020</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- collapse -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header">
                  <h6 class="card-title mg-b-5-f mg-r-auto">Occupancy History</h6>
                  <span class="card-subtitle">Reporting Period: December 1, 2019 - November 30, 2020</span>
                </div><!-- card-header -->
                <div class="card-body pd-t-20-f">
                  <div class="compete-chart mg-b-30 skeleton"><div class="skeleton-box wd-100p ht-100p"></div></div>
                  <div class="compete-chart mg-b-30 skeleton-content"><canvas id="chartLine2"></canvas></div>

                  <h6 class="card-label tx-16 mg-b-20">Breakdown</h6>
                  <div class="row mg-b-25 skeleton">
                    <div class="col-2">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->
                  <div class="row mg-b-25 skeleton-content">
                    <div class="col-2">
                      <div class="breakdown-item">
                        <h2>94.4<span>%</span></h2>
                        <label>Occupancy High</label>
                        <small>Jun 20</small>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <h2>87.8<span>%</span></h2>
                        <label>Occupancy Low</label>
                        <small>Jul 20</small>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <h2>91.0<span>%</span></h2>
                        <label>Avg Occupancy</label>
                        <small>Entire Period</small>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-2">
                      <div class="breakdown-item">
                        <h2><span>+</span>47</h2>
                        <label>Net Absorption</label>
                        <small>Entire Period</small>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col">
                      <div class="breakdown-item">
                        <h2><span>+</span>3.6<span>%</span></h2>
                        <label>Net Absorption Change</label>
                        <small>Entire Period</small>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->

                  <h6 class="card-label mg-b-0"><a href="#tableWrap2" data-toggle="collapse">Table View <i class="ri-arrow-right-s-line"></i></a></h6>
                  <div id="tableWrap2" class="collapse mg-t-20">
                    <table class="table table-alpha table-compete mg-b-0">
                      <thead>
                        <tr>
                          <th>Time Period</th>
                          <th class="text-right">Occupancy</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dec 19</td>
                          <td class="text-right">90.0%</td>
                        </tr>
                        <tr>
                          <td>Jan 20</td>
                          <td class="text-right">91.5%</td>
                        </tr>
                        <tr>
                          <td>Feb 20</td>
                          <td class="text-right">92.5%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- collapse -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div class="card card-comprop mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <div class="mg-r-auto">
                    <h6 class="card-title mg-b-5-f mg-r-auto">Concessions History</h6>
                    <span class="card-subtitle">Reporting Period: December 1, 2019 - November 30, 2020</span>
                  </div>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing concessions as:
                      <a href="" class="dropdown-link"><span>$ amount</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">$ amount</a>
                      <a href="" class="dropdown-item">As % of Rent</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body pd-t-20-f">
                  <div class="compete-chart mg-b-30 skeleton"><div class="skeleton-box wd-100p ht-100p"></div></div>
                  <div class="compete-chart mg-b-30 skeleton-content"><canvas id="chartLine3"></canvas></div>

                  <h6 class="card-label tx-16 mg-b-20">Breakdown</h6>
                  <div class="row mg-b-25 skeleton">
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <div class="skeleton-box wd-100 ht-30 mg-b-5"></div>
                        <div class="skeleton-text wd-80"></div>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->
                  <div class="row mg-b-25 skeleton-content">
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>600</h2>
                        <label>Concession High <span>(Jun 20)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>50</h2>
                        <label>Concession Low <span>(Jul 20)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                    <div class="col-3">
                      <div class="breakdown-item">
                        <h2><span>$</span>200.31</h2>
                        <label>Avg Concession <span>(Entire Period)</span></label>
                      </div><!-- breakdown-item -->
                    </div><!-- col -->
                  </div><!-- row -->

                  <h6 class="card-label mg-b-0"><a href="#tableWrap3" data-toggle="collapse">Table View <i class="ri-arrow-right-s-line"></i></a></h6>
                  <div id="tableWrap3" class="collapse mg-t-20">
                    <table class="table table-alpha table-compete mg-b-0">
                      <thead>
                        <tr>
                          <th>Time Period</th>
                          <th class="text-right">Concession</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dec 19</td>
                          <td class="text-right">$400</td>
                        </tr>
                        <tr>
                          <td>Jan 20</td>
                          <td class="text-right">$150</td>
                        </tr>
                        <tr>
                          <td>Feb 20</td>
                          <td class="text-right">$200</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- collapse -->
                </div><!-- card-body -->
              </div><!-- card -->

              <div id="cardUnitPricing" class="card card-comprop card-unitpricing mg-t-20">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Unit Pricing History</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing Unit Types:
                      <a href="" class="dropdown-link"><span>All</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">All</a>
                      <a href="" class="dropdown-item">Studio</a>
                      <a href="" class="dropdown-item">1 Bed</a>
                      <a href="" class="dropdown-item">2 Beds</a>
                      <a href="" class="dropdown-item">3 Beds</a>
                      <a href="" class="dropdown-item">4 Beds</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-alpha table-compete mg-b-0">
                      <thead>
                        <tr>
                          <th><span>Unit Number</span></th>
                          <th><span>Session Count</span></th>
                          <th class="text-right"><span>Status</span></th>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr>
                          <td><a href="#modalUnitPricing" data-toggle="modal">1001</a></td>
                          <td>1</td>
                          <td class="text-right">
                            <span class="badge badge-success">On market <i class="ri-checkbox-circle-fill"></i></span>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="#modalUnitPricing2" data-toggle="modal">2001</a></td>
                          <td>1</td>
                          <td class="text-right">
                            <span class="badge badge-danger">Off market <i class="ri-close-circle-fill"></i></span>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="#" data-toggle="modal">3003</a></td>
                          <td>2</td>
                          <td class="text-right">
                            <span class="badge badge-danger">Off market <i class="ri-close-circle-fill"></i></span>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="#" data-toggle="modal">4004</a></td>
                          <td>3</td>
                          <td class="text-right">
                            <span class="badge badge-danger">Off market <i class="ri-close-circle-fill"></i></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><!-- card-body -->
              </div><!-- card -->

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <div class="modal modal-unit-pricing fade" id="modalUnitPricing" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-sidebar">
            <label>Sessions</label>
            <nav class="nav">
              <a href="" data-toggle="tab" class="nav-link active"><i class="ri-time-line"></i> Current Session</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i>04/01/2021 - 04/05/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i> 01/01/2020 - 01/30/2020</a>
            </nav>
          </div><!-- modal-sidebar -->
          <div class="modal-body">
            <div class="unit-pricing-title">
              <h2 class="up-name">Unit #<strong>1001</strong></h2>
              <span class="badge badge-success">On market <i class="ri-checkbox-circle-fill"></i></span>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!-- unit-pricing-title -->

            <hr class="mg-y-15 op-0">

            <div class="media-list media-list-up">
              <div class="media">
                <div class="media-icon"><i class="ri-home-5-line"></i></div>
                <div class="media-body">
                  <label>Unit Type</label>
                  <h6>1 Bedroom</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-ruler-line"></i></div>
                <div class="media-body">
                  <label>Unit Size (SqFt)</label>
                  <h6>457</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-todo-line"></i></div>
                <div class="media-body">
                  <label>Start Listing Date</label>
                  <h6>05/01/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-line"></i></div>
                <div class="media-body">
                  <label>End Listing Date</label>
                  <h6>&nbsp;</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-event-line"></i></div>
                <div class="media-body">
                  <label>Days on Market</label>
                  <h6>18</h6>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- media-list -->

            <hr class="op-0">

            <label class="up-label mg-b-20">Unit Pricing</label>
            <div class="up-chart"><canvas id="chartLine4"></canvas></div>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div class="modal modal-unit-pricing fade" id="modalUnitPricing2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-sidebar">
            <label>Sessions</label>
            <nav class="nav">
              <a href="" data-toggle="tab" class="nav-link active"><i class="ri-time-line"></i> 10/15/2021 - 10/20/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i>04/01/2021 - 04/05/2021</a>
              <a href="" data-toggle="tab" class="nav-link"><i class="ri-calendar-todo-line"></i> 01/01/2020 - 01/30/2020</a>
            </nav>
          </div><!-- modal-sidebar -->
          <div class="modal-body">
            <div class="unit-pricing-title">
              <h2 class="up-name">Unit #<strong>2001</strong></h2>
              <span class="badge badge-danger">Off market <i class="ri-close-circle-fill"></i></span>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div><!-- unit-pricing-title -->

            <hr class="mg-y-15 op-0">

            <div class="media-list media-list-up">
              <div class="media">
                <div class="media-icon"><i class="ri-home-5-line"></i></div>
                <div class="media-body">
                  <label>Unit Type</label>
                  <h6>3 Bedrooms</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-ruler-line"></i></div>
                <div class="media-body">
                  <label>Unit Size (SqFt)</label>
                  <h6>1,500</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-todo-line"></i></div>
                <div class="media-body">
                  <label>Start Listing Date</label>
                  <h6>10/15/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-line"></i></div>
                <div class="media-body">
                  <label>End Listing Date</label>
                  <h6>10/20/2021</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-icon"><i class="ri-calendar-event-line"></i></div>
                <div class="media-body">
                  <label>Days on Market</label>
                  <h6>6</h6>
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- media-list -->

            <hr class="op-0">

            <label class="up-label mg-b-20">Unit Pricing</label>
            <div class="up-chart"><canvas id="chartLine5"></canvas></div>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../lib/chart.js/Chart.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          width: '100%',
          dropdownParent: $('#ddSearchFilter')
        });

        $('#ddSearchFilter').on('click', function(e){
          e.stopPropagation();
        });

        $('.dropdown-stype .dropdown-item').on('click', function(e){
          e.preventDefault();

          var v = $(this).text();

          $(this).addClass('active').siblings().removeClass('active');
          $(this).closest('.dropdown').find('.dropdown-link span').text(v);
        });

        $('.card-label a').on('click', function(e){
          $(this).toggleClass('active');
        });

        // -------------------------------------------------------------------

        var cLabel = ['Dec 19','Jan 20','Feb 20','Mar 20','Apr 20','May 20','Jun 20', 'Jul 20', 'Aug 20', 'Sep 20', 'Oct 20', 'Nov 20'];
        var cData = [300, 1100, 950, 820, 820, 950, 1200, 200, 600, 0, 650, 300];
        var cOptions = {
          maintainAspectRatio: false,
          legend: {
            display: false,
            labels: {
              display: false
            }
          },
          scales: {
            yAxes: [{
              gridLines: {
                color: '#ebeef3'
              },
              ticks: {
                beginAtZero: true,
                fontSize: 10,
                fontColor: '#6b7280',
                min: 0,
                max: 1400,
                sampleSize: 7,
                callback: function(value, index, values) {
                  return '$' + value;
                }
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              },
              ticks: {
                fontSize: 11,
                fontColor: '#6b7280'
              }
            }]
          }
        };


        var ctx1 = document.getElementById('chartLine1').getContext('2d');
        var gradient1 = ctx1.createLinearGradient(0, 0, 0, 300);
        gradient1.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient1.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx1, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient1,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });

        var ctx2 = document.getElementById('chartLine2').getContext('2d');
        var gradient2 = ctx2.createLinearGradient(0, 0, 0, 300);
        gradient2.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient2.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx2, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: [30, 80, 30, 50, 80, 40, 60, 20, 60, 20, 60, 30],
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient2,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: {
            maintainAspectRatio: false,
            legend: {
              display: false,
              labels: {
                display: false
              }
            },
            scales: {
              yAxes: [{
                gridLines: {
                  color: '#ebeef3'
                },
                ticks: {
                  beginAtZero: true,
                  fontSize: 10,
                  fontColor: '#6b7280',
                  min: 0,
                  max: 100,
                  sampleSize: 7,
                  callback: function(value, index, values) {
                    return value + '%';
                  }
                }
              }],
              xAxes: [{
                gridLines: {
                  display: false
                },
                ticks: {
                  fontSize: 11,
                  fontColor: '#6b7280'
                }
              }]
            }
          }
        });

        var ctx3 = document.getElementById('chartLine3').getContext('2d');
        var gradient3 = ctx3.createLinearGradient(0, 0, 0, 300);
        gradient3.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient3.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx3, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient3,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });


        var ctx4 = document.getElementById('chartLine4').getContext('2d');
        var gradient4 = ctx4.createLinearGradient(0, 0, 0, 300);
        gradient4.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient4.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx4, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient4,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });

        var ctx5 = document.getElementById('chartLine5').getContext('2d');
        var gradient5 = ctx5.createLinearGradient(0, 0, 0, 300);
        gradient5.addColorStop(0, 'rgba(76,148,251,.3)');
        gradient5.addColorStop(1, 'rgba(255,255,255,.0)');

        new Chart(ctx5, {
          type: 'line',
          data: {
            labels: cLabel,
            datasets: [{
              data: cData,
              borderColor: '#2e75f9',
              pointBackgroundColor: '#dceafe',
              pointBorderWidth: 1.5,
              pointRadius: 4.5,
              backgroundColor: gradient5,
              borderWidth: 1.5,
              lineTension: 0
            }]
          },
          options: cOptions
        });

      });
    </script>
  </body>
</html>
