<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-compete-subpage content-compete-property">
      <div class="container-fluid">
        <div class="content-header">
          <div class="mg-r-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="compete-home.html">Dwell Compete</a></li>
                <li class="breadcrumb-item"><a href="compete-alerts.html">Alerts</a></li>
                <li class="breadcrumb-item"><a href="compete-alert-details.html">Scottsdale Summary</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alert #004</li>
              </ol>
            </nav>
            <h4 class="content-title mg-b-0 mg-r-auto">Alert #004</h4>
          </div>
          <div class="btn-group nav">
            <a href="compete-alert-rent.html" class="nav-link btn">Rent</a>
            <a href="compete-alert-occupancy.html" class="nav-link btn">Occupancy</a>
            <a href="compete-alert-concessions.html" class="nav-link btn active">Concession</a>
          </div><!-- btn-group -->
        </div><!-- content-header -->
        <div class="content-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-comprop">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Details</h6>
                </div><!-- card-header -->
                <div class="card-body skeleton">
                  <div class="item-group">
                    <label class="item-label">Alert Name</label>
                    <h6 class="item-value"><div class="skeleton-text sm wd-150 mg-t-7"></div></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Time Period</label>
                    <h6 class="item-value"><div class="skeleton-text sm wd-100 mg-t-7"></div></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Tracked Assets</label>
                    <h6 class="item-value"><div class="skeleton-text sm wd-30 mg-t-7"></div></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Geo</label>
                    <h6 class="item-value"><div class="skeleton-text sm wd-150 mg-t-7"></div></h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Sent On</label>
                    <h6 class="item-value"><div class="skeleton-text sm wd-100 mg-t-7"></div></h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
                <div class="card-body skeleton-content">
                  <div class="item-group">
                    <label class="item-label">Alert Name</label>
                    <h6 class="item-value">Scottsdale Summary</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Time Period</label>
                    <h6 class="item-value">Nov 29, 2020 - Dec 06, 2020</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Tracked Assets</label>
                    <h6 class="item-value">34</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Geo</label>
                    <h6 class="item-value">South Scottsdale, North Scottsdale</h6>
                  </div><!-- item-group -->
                  <div class="item-group">
                    <label class="item-label">Sent On</label>
                    <h6 class="item-value">Dec 08, 2020 10:00am</h6>
                  </div><!-- item-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-9">
              <div class="card card-comprop">
                <div class="card-header d-flex align-items-center">
                  <h6 class="card-title mg-r-auto">Concession</h6>
                  <div class="dropdown dropdown-stype">
                    <p class="dropdown-link" data-toggle="dropdown">
                      Showing concessions as:
                      <a href="" class="dropdown-link"><span>$ Amount</span><i class="ri-arrow-down-s-line"></i></a>
                    </p>
                    <div class="dropdown-menu">
                      <a href="" class="dropdown-item active">$ Amount</a>
                      <a href="" class="dropdown-item">As % of Rent</a>
                    </div><!-- dropdown-menu -->
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <table class="table table-alpha table-compete mg-b-0-f">
                    <thead>
                      <tr>
                        <th class="wd-20p">Property</th>
                        <th>Offering Concession</th>
                        <th class="text-right">Concession Amount</th>
                        <th class="text-right"><span>Concession Amount</span> vs Last Week</th>
                        <th class="text-right"><span>Concession Amount</span> vs Last Month</th>
                      </tr>
                    </thead>
                    <tbody class="skeleton">
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                      </tr>
                      <tr>
                        <td><div class="skeleton-text sm wd-100"></div></td>
                        <td><div class="skeleton-text sm wd-30"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                        <td class="text-right"><div class="skeleton-text sm wd-70"></div></td>
                      </tr>
                    </tbody>
                    <tbody class="skeleton-content">
                      <tr>
                        <td>San Milan</td>
                        <td><span class="text-success d-inline-flex align-items-center"><i class="ri-checkbox-circle-fill tx-14 mg-r-2"></i> Yes</span></td>
                        <td class="text-right">$150.00</td>
                        <td class="text-right">0.0% <span class="text-muted">($150.00)</span></td>
                        <td class="text-right">0.0% <span class="text-muted">($150.00)</span></td>
                      </tr>
                      <tr>
                        <td>Tempe Metro</td>
                        <td><span class="text-danger d-inline-flex align-items-center"><i class="ri-close-circle-fill tx-14 mg-r-2"></i> No</span></td>
                        <td class="text-right">--</td>
                        <td class="text-right"><span class="text-success d-inline-flex align-items-center">+4.5% <i class="ri-arrow-up-line tx-12"></i></span> <span class="text-muted">($270.00)</span></td>
                        <td class="text-right"><span class="text-success d-inline-flex align-items-center">+4.5% <i class="ri-arrow-up-line tx-12"></i></span> <span class="text-muted">($270.00)</span></td>
                      </tr>
                      <tr>
                        <td>San Villante</td>
                        <td><span class="text-success d-inline-flex align-items-center"><i class="ri-checkbox-circle-fill tx-14 mg-r-2"></i> Yes</span></td>
                        <td class="text-right">$750.00</td>
                        <td class="text-right"><span class="text-danger d-inline-flex align-items-center">-7.5% <i class="ri-arrow-down-line tx-12"></i></span> <span class="text-muted">($900.00)</span></td>
                        <td class="text-right"><span class="text-danger d-inline-flex align-items-center">-7.5% <i class="ri-arrow-down-line tx-12"></i></span> <span class="text-muted">($900.00)</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.dropdown-stype .dropdown-item').on('click', function(e){
          e.preventDefault();

          var v = $(this).text();

          $(this).addClass('active').siblings().removeClass('active');
          $(this).closest('.dropdown').find('.dropdown-link span').text(v);
        })
      });
    </script>
  </body>
</html>
