<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content content-reports">
      <div class="container-fluid">
        <div class="content-header align-items-center mg-b-30">
          <div class="mg-r-auto">
            <h3 class="content-title mg-b-3">Reports Dashboard</h3>
            <span class="content-text">Time Period: June 07 2020 - June 10, 2020</span>
          </div>

          <div class="dropdown-select">
            <a href="#" data-toggle="dropdown" class="dropdown-link">
              <i class="ri-calendar-line"></i> <span>This week</span>
            </a>
            <div class="dropdown-menu">
              <a href="" class="dropdown-item">Today</a>
              <a href="" class="dropdown-item disabled">This week</a>
              <a href="" class="dropdown-item">Last week</a>
              <a href="" class="dropdown-item">This month</a>
              <a href="" class="dropdown-item">Last month</a>
              <a href="" class="dropdown-item">This quarter</a>
              <a href="" class="dropdown-item">Last quarter</a>
              <a href="" class="dropdown-item">This year</a>
              <a href="" class="dropdown-item">Last year</a>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->

          <div class="dropdown-select">
            <a href="#" data-toggle="dropdown" class="dropdown-link">
              <i class="ri-pie-chart-line"></i> <span>Overall</span>
            </a>
            <div class="dropdown-menu">
              <a href="" class="dropdown-item disabled">Overall</a>
              <a href="" class="dropdown-item">Performance</a>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->

          <div class="dropdown-select">
            <a href="#" data-toggle="dropdown" class="dropdown-link">
              <i class="ri-arrow-left-right-line"></i> <span>Previous periods</span>
            </a>
            <div class="dropdown-menu">
              <a href="" class="dropdown-item active">Previous periods</a>
              <a href="" class="dropdown-item">Company wide averages</a>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->

          <div class="dropdown-select">
            <a href="#" data-toggle="dropdown" class="dropdown-link">
              <i class="ri-bar-chart-fill"></i> <span>Overview Reports</span>
            </a>
            <div class="dropdown-menu">
              <a href="" data-value="overview" class="dropdown-item disabled">Overview Reports</a>
              <a href="" data-value="marketing" class="dropdown-item">Marketing Reports</a>
              <a href="" data-value="operations" class="dropdown-item">Sites Reports</a>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- content-header -->

        <div class="content-body">
          <div class="row row-xs">
            <div class="col-6">
              <div class="row row-xs">
                <div class="col">
                  <div class="card card-dashcard">
                    <div class="card-header">Ad Spend (Google)</div>
                    <div class="card-body"><span>$</span>750</div>
                    <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>20%</span><span>$937.50</span></div>
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col-5">
                  <div class="card card-dashcard">
                    <div class="row row-xxs">
                      <div class="col-5">
                        <div class="card-header">Site Visitors</div>
                        <div class="card-body">1000</div>
                        <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                      </div><!-- col -->
                      <div class="col-7">
                        <div class="card-header">Cost Per Click</div>
                        <div class="card-body"><span>$</span>2.50</div>
                        <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col-3">
                  <div class="card card-dashcard">
                    <div class="card-header">New Leads</div>
                    <div class="card-body">100</div>
                    <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>5.3%</span><span>95</span></div>
                  </div><!-- card -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- col -->
            <div class="col-6">
              <div class="row row-xs">
                <div class="col">
                  <div class="card card-dashcard">
                    <div class="row row-xs">
                      <div class="col-5">
                        <div class="card-header">New Tours</div>
                        <div class="card-body">1000</div>
                        <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                      </div><!-- col -->
                      <div class="col-7">
                        <div class="card-header">Tour-To-Lease</div>
                        <div class="card-body"><span>$</span>2.50</div>
                        <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col">
                  <div class="card card-dashcard">
                    <div class="row row-xs">
                      <div class="col-5">
                        <div class="card-header">New Leases</div>
                        <div class="card-body">25</div>
                        <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                      </div><!-- col -->
                      <div class="col-7">
                        <div class="card-header">Lead-To-Lease</div>
                        <div class="card-body"><span>$</span>2.50</div>
                        <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col-3">
                  <div class="card card-dashcard">
                    <div class="card-header">Avg Response Time</div>
                    <div class="card-body">2.5<small class="pd-l-2">hrs</small></div>
                    <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>19%</span><span>2.1 hrs</span></div>
                  </div><!-- card -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-xs d-none">
            <div class="col-2">
              <div class="card card-dashcard">
                <div class="card-header">Ad Spend (Google)</div>
                <div class="card-body"><span>$</span>750</div>
                <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>20%</span><span>$937.50</span></div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col">
              <div class="card card-dashcard">
                <div class="row row-xxs">
                  <div class="col-5">
                    <div class="card-header">Site Visitors</div>
                    <div class="card-body">1000</div>
                    <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                  </div><!-- col -->
                  <div class="col-7">
                    <div class="card-header">Cost Per Click</div>
                    <div class="card-body"><span>$</span>2.50</div>
                    <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-1">
              <div class="card card-dashcard">
                <div class="card-header">New Leads</div>
                <div class="card-body">100</div>
                <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>5.3%</span><span>95</span></div>
              </div><!-- card -->
            </div><!-- col -->
            <div class="col">
              <div class="card card-dashcard">
                <div class="row row-xs">
                  <div class="col-5">
                    <div class="card-header">New Tours</div>
                    <div class="card-body">1000</div>
                    <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                  </div><!-- col -->
                  <div class="col-7">
                    <div class="card-header">Tour-To-Lease</div>
                    <div class="card-body"><span>$</span>2.50</div>
                    <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col">
              <div class="card card-dashcard">
                <div class="row row-xs">
                  <div class="col-5">
                    <div class="card-header">New Leases</div>
                    <div class="card-body">25</div>
                    <div class="card-footer"><i class="ri-arrow-up-fill text-success"></i> <span>15%</span><span>870</span></div>
                  </div><!-- col -->
                  <div class="col-7">
                    <div class="card-header">Lead-To-Lease</div>
                    <div class="card-body"><span>$</span>2.50</div>
                    <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>30.5%</span><span>$3.60</span></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-2">
              <div class="card card-dashcard">
                <div class="card-header">Avg Response Time</div>
                <div class="card-body">2.5<small class="pd-l-2">hrs</small></div>
                <div class="card-footer"><i class="ri-arrow-down-fill text-danger"></i> <span>19%</span><span>2.1 hrs</span></div>
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="card card-dashboard mg-t-20">
            <div class="card-header">
              <h5 class="card-title mg-b-0-f">PPC Performance By Campaign</h5>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-dashboard-two mg-b-0">
                  <thead>
                    <tr>
                      <th>Vendor</th>
                      <th>Campaign</th>
                      <th>Spend</th>
                      <th>Clicks</th>
                      <th>CPC</th>
                      <th>Conversion Rate</th>
                      <th>Value/Click (est)</th>
                      <th>ROAS (est)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Google Adwords</td>
                      <td>All Scotsdale</td>
                      <td>$130.00</td>
                      <td>200</td>
                      <td>$0.65</td>
                      <td>1.5%</td>
                      <td>$105.0</td>
                      <td>$161.5</td>
                    </tr>
                    <tr>
                      <td>Google Adwords</td>
                      <td>Phoenix Metro</td>
                      <td>$250.00</td>
                      <td>500</td>
                      <td>$0.50</td>
                      <td>2.0%</td>
                      <td>$140.0</td>
                      <td>$280.0</td>
                    </tr>
                    <tr>
                      <td>Google Adwords</td>
                      <td>General AZ</td>
                      <td>$45.00</td>
                      <td>150</td>
                      <td>$0.30</td>
                      <td>1.3%</td>
                      <td>$87.5</td>
                      <td>$291.7</td>
                    </tr>
                    <tr>
                      <td>Bing</td>
                      <td>All Scotsdale</td>
                      <td>$95.00</td>
                      <td>100</td>
                      <td>$0.95</td>
                      <td>0.9%</td>
                      <td>$59.5</td>
                      <td>$62.6</td>
                    </tr>
                    <tr>
                      <td>Bing</td>
                      <td>Phoenix Metro</td>
                      <td>$36.00</td>
                      <td>50</td>
                      <td>$0.72</td>
                      <td>1.0%</td>
                      <td>$70.0</td>
                      <td>$97.2</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-dashboard mg-t-20">
            <div class="card-header">
              <h5 class="card-title mg-b-0-f">PPC Performance By Vendor Channel</h5>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-dashboard-two mg-b-0">
                  <thead>
                    <tr>
                      <th>Vendor</th>
                      <th>Campaign</th>
                      <th>Spend</th>
                      <th>Clicks</th>
                      <th>CPC</th>
                      <th>Conversion Rate</th>
                      <th>Value/Click (est)</th>
                      <th>ROAS (est)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Google Adwords</td>
                      <td>All Scotsdale</td>
                      <td>$130.00</td>
                      <td>200</td>
                      <td>$0.65</td>
                      <td>1.5%</td>
                      <td>$105.0</td>
                      <td>$161.5</td>
                    </tr>
                    <tr>
                      <td>Google Adwords</td>
                      <td>Phoenix Metro</td>
                      <td>$250.00</td>
                      <td>500</td>
                      <td>$0.50</td>
                      <td>2.0%</td>
                      <td>$140.0</td>
                      <td>$280.0</td>
                    </tr>
                    <tr>
                      <td>Google Adwords</td>
                      <td>General AZ</td>
                      <td>$45.00</td>
                      <td>150</td>
                      <td>$0.30</td>
                      <td>1.3%</td>
                      <td>$87.5</td>
                      <td>$291.7</td>
                    </tr>
                    <tr>
                      <td>Bing</td>
                      <td>All Scotsdale</td>
                      <td>$95.00</td>
                      <td>100</td>
                      <td>$0.95</td>
                      <td>0.9%</td>
                      <td>$59.5</td>
                      <td>$62.6</td>
                    </tr>
                    <tr>
                      <td>Bing</td>
                      <td>Phoenix Metro</td>
                      <td>$36.00</td>
                      <td>50</td>
                      <td>$0.72</td>
                      <td>1.0%</td>
                      <td>$70.0</td>
                      <td>$97.2</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card-body -->
          </div><!-- card -->

        </div><!-- content-body -->
      </div><!-- container-fluid -->
    </div><!-- content -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/chart.js/Chart.bundle.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'



      });
    </script>
  </body>
</html>
