<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">API</label>
          <nav class="nav">
            <a href="lease-addenda.html" class="nav-link active"><i class="ri-file-list-line"></i> Lease Addenda</a>
            <a href="lease-entries.html" class="nav-link"><i class="ri-file-list-2-line"></i> Lease Addenda Entries</a>
          </nav>
        </div><!-- settings-sidebar -->
        <div class="site-body">
          <div class="card card-basic card-form-addendum">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Edit Lease Addendum</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group row">
                <label class="form-label mg-b-0-f col-5">Name</label>
                <div class="col">Acknowledgement and Disclosure Agreement</div>
              </div><!-- form-group -->
              <div class="form-group row">
                <label class="form-label mg-b-0-f col-5">Customer</label>
                <div class="col-5">
                  <select class="custom-select">
                    <option value="">Mark Taylor</option>
                  </select>
                </div><!-- col -->
              </div><!-- form-group -->
              <div class="form-group row">
                <label class="form-label mg-b-0-f col-5">Date Created</label>
                <div class="col">Apr 30, 2021 04:20am</div>
              </div><!-- form-group -->
              <div class="form-group row">
                <label class="form-label mg-b-0-f col-5">Addendum by default included in</label>
                <div class="col"><div class="form-switcher"></div></div>
              </div><!-- form-group -->
              <div class="form-group row">
                <label class="form-label mg-b-0-f col-5">Document</label>
                <div class="col d-flex align-items-center">
                  <span class="mg-r-10">acknowledgement_disclosure_statement.pdf</span>
                  <a href="" class="btn btn-sm btn-outline-primary"><i class="ri-upload-2-line"></i> Upload Document</a>
                </div>
              </div><!-- form-group -->
              <div class="form-group row align-items-start">
                <div class="col-5 form-addendum-field">
                  <div class="row">
                    <div class="col-4 text-muted">Name</div>
                    <div class="col-4 text-muted">Value</div>
                  </div><!-- row -->
                  <div class="row">
                    <div class="col-4"><input type="text" class="form-control form-control-name" value="Field 1" placeholder="Name"></div>
                    <div class="col-4">
                      <select class="custom-select onfocus">
                        <option value="">Choose</option>
                        <option value="1" selected>Manual fill-in</option>
                        <option value="2">Unit number</option>
                        <option value="3">Multiply by # of pets</option>
                      </select>
                    </div>
                    <div class="col-3"></div>
                    <div class="col"><a href="" class="btn btn-white btn-close" data-target="#field1"><i class="ri-close-fill"></i></a></div>
                  </div><!-- row -->
                  <div class="row">
                    <div class="col-4"><input type="text" class="form-control form-control-name" value="Field 2" placeholder="Name"></div>
                    <div class="col-4">
                      <select class="custom-select onfocus">
                        <option value="">Choose</option>
                        <option value="1">Manual fill-in</option>
                        <option value="2" selected>Unit number</option>
                        <option value="3">Multiply by # of pets</option>
                      </select>
                    </div>
                    <div class="col-3"></div>
                    <div class="col"><a href="" class="btn btn-white btn-close" data-target="#field2"><i class="ri-close-fill"></i></a></div>
                  </div><!-- row -->
                  <div class="row">
                    <div class="col-4"><input type="text" class="form-control form-control-name" placeholder="Name" value="Pet deposit"></div>
                    <div class="col-4">
                      <select class="custom-select onfocus">
                        <option value="">Choose</option>
                        <option value="1">Manual fill-in</option>
                        <option value="2">Unit number</option>
                        <option value="3" selected>Multiply by # of pets</option>
                      </select>
                    </div>
                    <div class="col-3"><input type="text" class="form-control" value="$50.00"></div>
                    <div class="col"><a href="" class="btn btn-white btn-close" data-target="#field3"><i class="ri-close-fill"></i></a></div>
                  </div><!-- row -->
                  <div id="fieldRowDuplicate" class="row d-none">
                    <div class="col-4"><input type="text" class="form-control form-control-name" placeholder="Name"></div>
                    <div class="col-4">
                      <select class="custom-select">
                        <option value="">Choose</option>
                        <option value="1">Manual fill-in</option>
                        <option value="2">Unit number</option>
                        <option value="3">Multiply by # of pets</option>
                      </select>
                    </div>
                    <div class="col-3"></div>
                    <div class="col"><a href="" class="btn btn-white btn-close" data-target=""><i class="ri-close-fill"></i></a></div>
                  </div><!-- row -->
                </div><!-- col -->
                <div class="col">
                  <div class="card card-addenda-fields">
                    <div class="card-header"><a href="" id="btnAddField" class="btn btn-sm btn-primary disabled">Add Field</a></div>
                    <div class="card-body">
                      <div class="addenda-fields">
                        <div class="row row-xxs">
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col-2"><div class="field-item"></div></div>
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col-2"><div id="field1" class="field-item not-filled">Field 1</div></div>
                          <div class="col"><div class="field-item"></div></div>
                        </div><!-- row -->
                        <div class="row row-xxs flex-row-reverse mg-t-5">
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col-2"><div class="field-item"></div></div>
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col-2"><div id="field2" class="field-item not-filled">Field 2</div></div>
                          <div class="col"><div class="field-item"></div></div>
                        </div><!-- row -->
                        <div class="row row-xxs mg-t-5">
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col-2"><div class="field-item"></div></div>
                          <div class="col-1"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col"><div class="field-item"></div></div>
                          <div class="col-3"><div id="field3" class="field-item not-filled">Pet deposit</div></div>
                          <div class="col"><div class="field-item"></div></div>
                        </div><!-- row -->
                      </div>
                    </div><!-- card-body -->
                  </div><!-- card -->
                </div><!-- col -->
              </div><!-- form-group -->
            </div><!-- card-body -->
            <div class="card-footer d-flex align-items-center">
              <button type="button" class="btn btn-primary mg-r-5">Save</button>
              <button type="button" class="btn btn-outline-primary mg-r-5">Save and add another</button>
              <button type="button" class="btn btn-outline-primary mg-r-auto">Save and continue editing</button>
              <button class="btn btn-white btn-icon"><i class="ri-delete-bin-line"></i></button>
            </div>
          </div><!-- card -->

        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('body').on('focusin focusout', '.custom-select', function(e){
          if(e.type === 'focusin') {
            $(this).addClass('onfocus')
          } else {
            if($(this).val() == '') {
              $(this).removeClass('onfocus');
            }
          }
        });

        $('.form-addendum-field .btn-close').on('click', function(e){
          e.preventDefault();

          var t = $(this).attr('data-target');
          $(t).removeClass('not-filled').text('');

          var r = $(this).closest('.row');

          r.find('.form-control').val('');
          r.find('.custom-select').val('').removeClass('onfocus');

          r.addClass('d-none');
        });

        $('.field-item:not(.not-filled)').on('click', function(e){
          $(this).addClass('not-filled');

          var s = $('#fieldRowDuplicate').siblings().length;
          $(this).attr('id', 'field'+s+1);

          var c = $('#fieldRowDuplicate').clone().removeAttr('id').removeClass('d-none');
          c.find('.btn-close').attr('data-target', '#field'+s+1);

          c.insertBefore('#fieldRowDuplicate');
        });

        $('.form-addendum-field').on('keyup', '.form-control-name', function(){
          var v = $(this).val();
          var t = $(this).closest('.row').find('.btn-close').attr('data-target');
          $(t).text(v);
        });
      });
    </script>
  </body>
</html>
