<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/quill/quill.core.css" rel="stylesheet">
    <link href="../lib/quill/quill.snow.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-followups">

    <div class="content-header">
      <div class="leadbar-pager">
        <nav class="nav nav-pager">
          <a href="" class="nav-link"><i class="ri-arrow-left-s-line"></i></a>
          <a id="navNextTask" href="tasks.html?filter=today" class="nav-link nav-link-next"><span>Next Task</span> <i class="ri-arrow-right-s-line"></i></a>
        </nav>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div><!-- leadbar-pager -->
      <div class="card-task-today">
        <div class="card-body">
          <div class="task-label">
            <h6 class="mg-b-0">Next Task</h6>
            <span>3 of 5 complete</span>
          </div>
          <div class="task-item">
            <span class="task-dot bg-danger"></span>
            <p>2nd Follow-up</p>
            <p>Courtney Osborne</p>
          </div><!-- task-item -->

          <hr class="mg-y-10 op-0">

          <div class="task-label">
            <h6 class="mg-b-0">Tours</h6>
            <span>1 of 3 complete</span>
          </div>
          <div class="task-item">
            <span class="task-dot bg-danger"></span>
            <p>Alina Loman</p>
            <p>2:30 PM <small class="text-danger">(1 hour ago)</small></p>
            <nav class="nav">
              <a href="" data-toggle="tooltip" title="Tour completed"><i class="ri-checkbox-circle-fill"></i></a>
              <a href="" data-toggle="tooltip" title="Cancel Tour"><i class="ri-close-circle-fill"></i></a>
            </nav>
          </div><!-- task-item -->
          <div class="task-item">
            <span class="task-dot bg-secondary"></span>
            <p>David Terrence</p>
            <p>3:30 PM</p>
            <nav class="nav">
              <a href="" data-toggle="tooltip" title="Tour completed"><i class="ri-checkbox-circle-fill"></i></a>
              <a href="" data-toggle="tooltip" title="Cancel Tour"><i class="ri-close-circle-fill"></i></a>
            </nav>
          </div><!-- task-item -->
        </div><!-- card-body -->
      </div><!-- card-task-today -->
      <div class="content-title-wrapper mg-r-auto">
        <h4 class="content-title mg-b-0">Followups</h4>
      </div>
      <div>
        <div class="dropdown-select">
          <a href="#" data-toggle="dropdown" class="dropdown-link">
            <i class="ri-list-check-2"></i> <span>All Agents</span>
          </a>
          <div id="ddFollowup" class="dropdown-menu dropdown-menu-right">
            <a href="" class="dropdown-item disabled">All Agents</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">My Followups (6)</a>
            <a href="" class="dropdown-item today">Today's Followup Tasks (4)</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">John Smith (2)</a>
            <a href="" class="dropdown-item">Jane Doe (5)</a>
            <a href="" class="dropdown-item">Doug Douglas (9)</a>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <div id="showCompleted" class="custom-control custom-checkbox d-none">
          <input type="checkbox" class="custom-control-input" id="cc1" checked>
          <label class="custom-control-label" for="cc1">Show completed (4)</label>
        </div>
      </div>
    </div><!-- content-header -->
    <div class="email-sidebar">
      <div class="email-sidebar-header skeleton">
        <div class="skeleton-checkbox"></div>
        <div class="skeleton-text mg-l-10 wd-100"></div>
      </div><!-- email-sidebar-header -->
      <div id="emailSidebar" class="email-sidebar-body skeleton-content">
        <ul class="email-group">
          <li class="email-item email-item-linked selected completed">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-dark"><span>SR</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Smart Rent</span>
                <span class="comm-dot bg-success"></span>
                <span class="mg-l-2">04:45 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Suspicious Login: Was this You?</h6>
              <p class="email-text">Your SmartRent account was recently logged in to from a new location or device...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-success"><span>JC</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>John Conforti</span>
                <span class="comm-dot bg-warning"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Add Dwell email trackers for...</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item email-item-linked unread">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-dark"><span>EL</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Ethan Lacey</span>
                <small class="email-number-indicator">2</small>
                <span class="mg-l-3">12:40 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Slack Access for Carol</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-pink"><span>cg</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Carol Gregory</span>
                <span class="comm-dot bg-danger"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">RE: The Palms on Scottsdale Agent</h6>
              <p class="email-text">Hi Jake, I have fixed all agents from yesterday’s emails and also remove...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-primary"><span>ht</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Hannah Turner</span>
                <span class="comm-dot bg-secondary"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Test Property</h6>
              <p class="email-text">Hi Jake! That's great news - I'll let our tech team know! ...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-danger"><span>jt</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Jake Tsacudakis</span>
                <span class="comm-dot bg-secondary"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Slack Access for Carol</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item completed">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-success"><span>JC</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>John Conforti</span>
                <span class="comm-dot bg-success"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Add Dwell email trackers for...</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item email-item-linked">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-dark"><span>EL</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Ethan Lacey</span>
                <span class="comm-dot bg-secondary"></span>
                <span>12:40 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Slack Access for Carol</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-purple"><span>cg</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Carol Gregory</span>
                <span class="comm-dot bg-danger"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">RE: The Palms on Scottsdale Agent</h6>
              <p class="email-text">Hi Jake, I have fixed all agents from yesterday’s emails and also remove...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-warning"><span>ht</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Hannah Turner</span>
                <span class="comm-dot bg-secondary"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Test Property</h6>
              <p class="email-text">Hi Jake! That's great news - I'll let our tech team know! ...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="form-checkbox mg-r-10"><input type="checkbox" name="checkmail"></div>
            <div class="avatar bg-info"><span>jt</span></div>
            <div class="email-item-body">
              <div class="email-item-header">
                <span>Jake Tsacudakis</span>
                <span class="comm-dot bg-secondary"></span>
                <span>04:14 PM</span>
              </div><!-- email-item-header -->
              <h6 class="email-subject">Re: Slack Access for Carol</h6>
              <p class="email-text">Can we get Carol a Slack account and add her to the LL team. Managing this projec...</p>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
        </ul><!-- email-group -->
        <div class="pd-15"><a href="" class="btn btn-secondary btn-block justify-content-center">Show more (14)</a></div>
      </div><!-- email-sidebar-body -->
      <div class="email-sidebar-body skeleton">
        <ul class="email-group">
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
          <li class="email-item">
            <div class="skeleton-checkbox mg-r-10"></div>
            <div class="skeleton-avatar md"></div>
            <div class="email-item-body">
              <div class="email-item-header mg-b-10">
                <span class="skeleton-text sm wd-100"></span>
                <span class="skeleton-text sm wd-50"></span>
              </div><!-- email-item-header -->
              <div class="skeleton-text wd-60p mg-b-8"></div>
              <div class="skeleton-paragraph mg-b-5">
                <span class="sm"></span>
                <span class="sm wd-80p"></span>
              </div>
            </div><!-- email-item-body -->
          </li><!-- email-item -->
        </ul>
      </div><!-- email-sidebar-body -->
    </div><!-- email-sidebar -->
    <div class="email-panel">
      <div class="email-panel-body">
        <div class="email-panel-item active">
          <div class="email-header skeleton-content">
            <div class="media media-mail-from">
              <div class="media-avatar bg-dark">sr</div>
              <div class="media-body">
                <p>From: <strong>Smart Rent</strong> (general@smartrent.com)</p>
                <p>To: <strong>Ethan</strong> (ethan@mail.com)</p>
                <p>August 25, 2020 10:50am</p>
              </div><!-- media-body -->
            </div><!-- media -->
            <div class="dropdown dropdown-linked-lead">
              <a href="" class="dropdown-link" data-toggle="dropdown"><i class="ri-check-line"></i> Linked lead</a>
              <div class="dropdown-menu dropdown-menu-right">
                <span class="badge">Inquiry</span>
                <h6>Hailey Peterson</h6>
                <p>hailey.peterson@liftlytics.com</p>
                <a href="lead.html" class="btn btn-success btn-block">Go to lead details</a>
                <a href="" class="btn btn-white btn-block">Unlink lead</a>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
          </div><!-- email-header -->
          <div class="email-header skeleton">
            <div class="media media-mail-from">
              <div class="skeleton-avatar md"></div>
              <div class="media-body">
                <div class="skeleton-text sm wd-200 d-block mg-b-8"></div>
                <div class="skeleton-text sm wd-150 d-block mg-b-8"></div>
                <div class="skeleton-text sm wd-100 d-block"></div>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- email-header -->

          <div class="email-body skeleton-content">
            <h4 class="email-body-subject">Suspicious Login: Was this You?</h4>
            <div class="email-body-text">
              <p>Your SmartRent account was recently logged in to from a new location or device</p>
              <p>Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Justo laoreet sit amet cursus sit amet dictum sit. Eget nunc scelerisque viverra mauris in aliquam sem. Orci phasellus egestas tellus rutrum tellus. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Tortor condimentum lacinia quis vel eros donec ac odio. Rutrum quisque non tellus orci.</p>

              <hr class="op-0">

              <label class="content-label">Attachments:</label>
              <ul class="attach-group">
                <li class="attach-item">
                  <div><i class="ri-file-pdf-line"></i></div>
                  <small>guide.pdf</small>
                </li>
                <li class="attach-item">
                  <div><i class="ri-image-line"></i></div>
                  <small>logo.jpg</small>
                </li>
              </ul>
            </div><!-- email-body-text -->
          </div><!-- email-body -->
          <div class="email-body skeleton">
            <div class="skeleton-text lg wd-50p mg-b-20"></div>
            <div class="skeleton-text wd-65p mg-b-20"></div>
            <div class="skeleton-paragraph">
              <span class="skeleton-text"></span>
              <span class="skeleton-text"></span>
              <span class="skeleton-text wd-80p"></span>
            </div><!-- email-body-text -->
          </div><!-- email-body -->
        </div><!-- email-panel-item -->

        <div class="reply-container skeleton-content">
          <div id="mailToolbar">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
              <button class="ql-image"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-pholder">
                <option value="[=Lead full name=]">Lead full name</option>
                <option value="[=Lead first name=]">Lead first name</option>
                <option value="[=Lead last name=]">Lead last name</option>
              </select>
            </span>
          </div><!-- #mailToolbar -->
          <div id="mailEditor">Type here to <u>Reply</u></div>
        </div><!-- reply-container -->

        <div class="d-flex mg-t-10 skeleton-content">
          <button class="btn btn-primary">Send</button>
          <button class="btn btn-white mg-l-8">Discard</button>
        </div>
      </div><!-- email-panel-body -->
    </div><!-- email-panel -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/quill/quill.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/compose.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.header').addClass('header-sticky');
        $('.nav-item-communication .nav-link').addClass('active');

        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });

        const es = new PerfectScrollbar('#emailSidebar', {
          suppressScrollX: true
        });

        // Look for checked checkbox after page load
        $('.form-checkbox input').each(function(){
          var isChecked = $(this).prop('checked');

          $(this).parent().toggleClass('checked', isChecked);
          $(this).closest('li').toggleClass('checked', isChecked);
        });


        $('.form-checkbox').on('click', function(e){
          var isChecked = $(this).find('input').prop('checked');

          $(this).toggleClass('checked', !isChecked);
          $(this).find('input').prop('checked', !isChecked);

          $(this).closest('li').toggleClass('checked', !isChecked);

          $('#btnArchive').toggleClass('d-none', $('#emailSidebar .checked').length === 0);
        });

        //check all
        $('#ckAll').bind('click', function(e){
          var isChecked = $(this).find('input').prop('checked');

          $('.email-item').toggleClass('checked', isChecked);
          $('.email-item .form-checkbox').toggleClass('checked', isChecked);
          $('.email-item .form-checkbox input').prop('checked', isChecked);

          $('#btnArchive').toggleClass('d-none', !isChecked);
          $('.select2-followups').toggleClass('d-none', isChecked);
        });


        $('.email-item').on('click', function(e){
          e.preventDefault();

          var ck = $(e.target).closest('.form-checkbox');
          if(ck.length === 0) {
            $(this).addClass('selected').removeClass('unread');
            $(this).siblings().removeClass('selected');
          }
        })


        $('.mail-link').on('click', function(e){
          e.preventDefault();
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
        });


        $('#ddFollowup .dropdown-item').bind('click', function(e){
          if($(this).hasClass('today')) {
            $('.content-header').addClass('with-pager');
            $('#showCompleted').removeClass('d-none');
          } else {
            $('.content-header').removeClass('with-pager');
            $('#showCompleted').addClass('d-none');
          }
        });

        $('#navNextTask').on('mouseenter', function(e) {
          $(this).closest('.leadbar-pager').addClass('expand');
        });

        $('.content-header').on('mouseleave', function(e){
          $('.leadbar-pager').removeClass('expand');
        });

        // For displaying modal directly from url
        // For demo use only
        $.urlParam = function(name){
        	var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        	return (results!=null)? results[1] || 0 : 0;
        }

        if($.urlParam('filter')) {
          if($.urlParam('filter') === 'today') {
            $('#ddFollowup .today').trigger('click');
          }
        };

      });
    </script>
  </body>
</html>
