<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">
    
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link active" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">Hobbes Settings</label>
          <nav class="nav">
            <a href="hobbes-policies.html" class="nav-link active"><i class="ri-home-4-fill"></i> Company Policies</a>
          </nav>
        </div><!-- settings-sidebar -->
        <div class="site-body site-body-hobbes">
          <div class="card card-basic">
            <div class="card-header">
              <h6 class="card-title mg-b-10">Company Policies</h6>
              <p class="card-text mg-b-0">Set policy guidelines to inform applicants and prospective residents about application and leasing expectations. This information will be used by Hobbes to surface answers during prospect chat sessions.</p>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="media">
                <div class="media-left">Application criteria</div>
                <div class="media-body">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Basic qualification requirements</label>
                    <div class="col">
                      <input type="text" class="form-control" >
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Accept section 8</label>
                    <div class="col">
                      <div class="form-switcher inactive"></div>
                    </div>
                  </div><!-- form-row -->
                  <div class="form-row align-items-center mg-t-20">
                    <label class="col d-block mg-b-0">Section 8 disclaimer</label>
                    <div class="col">
                      <input type="text" class="form-control" >
                    </div>
                  </div><!-- form-row -->

                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Accept unemployment as income</label>
                    <div class="col">
                      <div class="form-switcher"></div>
                    </div>
                  </div><!-- form-row -->
                  <div class="form-row align-items-center mg-t-20">
                    <label class="col d-block mg-b-0">Unemployment income disclaimer</label>
                    <div class="col">
                      <input type="text" class="form-control" >
                    </div>
                  </div><!-- form-row -->

                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Accept applicant without SSN</label>
                    <div class="col">
                      <div class="form-switcher"></div>
                    </div>
                  </div><!-- form-row -->
                  <div class="form-row align-items-center mg-t-20">
                    <label class="col d-block mg-b-0">SSN disclaimer</label>
                    <div class="col">
                      <input type="text" class="form-control" >
                    </div>
                  </div><!-- form-row -->

                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Accept applicant with misdemeanors or felonies</label>
                    <div class="col">
                      <div class="form-switcher"></div>
                    </div>
                  </div><!-- form-row -->
                  <div class="form-row align-items-center mg-t-20">
                    <label class="col d-block mg-b-0">Misdemeanor or felony disclaimer</label>
                    <div class="col">
                      <input type="text" class="form-control" >
                    </div>
                  </div><!-- form-row -->
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- card-body -->
            <div class="card-body">
              <div class="media">
                <div class="media-left">Screening</div>
                <div class="media-body">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Credit inquiry on screening shows as </label>
                    <div class="col">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio1">Hard inquiry on credit report</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Soft inquiry on credit report</label>
                      </div>
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Screening process time</label>
                    <div class="col">
                      <select class="select2 wd-100p">
                        <option value="24">24 hours</option>
                        <option value="48" selected>48 hours</option>
                        <option value="72">72 hours</option>
                      </select>
                    </div>
                  </div><!-- form-row -->
                </div><!-- media-body -->
              </div><!-- media -->
            </div><!-- card-body -->
            <div class="card-body">
              <div class="media">
                <div class="media-left">Utilities</div>
                <div class="media-body">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Valet Waste optional</label>
                    <div class="col">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">Yes, Valet Waste service is optional</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio4">No, Valet Waste service is not optional</label>
                      </div>
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Alley Waste optional</label>
                    <div class="col">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio5">Yes, Alley Waste service is optional</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadio6">No, Alley Waste service is not optional</label>
                      </div>
                    </div>
                  </div><!-- form-row -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
            <div class="card-body">
              <div class="media">
                <div class="media-left">Other Policies</div>
                <div class="media-body">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Application refund policy</label>
                    <div class="col">
                      <input type="text" class="form-control">
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Package policy</label>
                    <div class="col">
                      <input type="text" class="form-control">
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Lease break policy</label>
                    <div class="col">
                      <input type="text" class="form-control">
                    </div>
                  </div><!-- form-row -->
                  <hr class="mg-y-20">
                  <div class="form-row align-items-center">
                    <label class="col d-block mg-b-0">Transfer policy</label>
                    <div class="col">
                      <input type="text" class="form-control">
                    </div>
                  </div><!-- form-row -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/site.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'


      });
    </script>
  </body>
</html>
