<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">API</label>
          <nav class="nav">
            <a href="lease-addenda.html" class="nav-link active"><i class="ri-file-list-line"></i> Lease Addenda</a>
            <a href="lease-entries.html" class="nav-link"><i class="ri-file-list-2-line"></i> Lease Addenda Entries</a>
          </nav>
        </div><!-- settings-sidebar -->
        <div class="site-body">
          <div class="content-navbar">
            <h6 class="mg-b-0 align-self-center tx-16 tx-semibold pd-l-10 mg-r-auto">Manage Lease Addenda</h6>
            <div class="form-search">
              <i data-feather="search"></i>
              <input type="text" class="form-control" placeholder="Search addenda">
            </div><!-- form-search -->
            <a href="#" data-toggle="modal" class="btn btn-primary mg-l-10"><i class="ri-add-circle-fill"></i> Add Lease Addendum</a>
          </div><!-- content-navbar -->

          <table class="table table-alpha table-addenda mg-b-0">
            <thead>
              <tr>
                <th class="wd-5p">
                  <div id="checkAll" class="form-checkbox"><input type="checkbox" name="checkitem"></div>
                </th>
                <th class="wd-35p">Name</th>
                <th class="wd-20p">Customer</th>
                <th class="wd-5p">Default</th>
                <th class="wd-5p">Status</th>
                <th class="wd-20p text-right">Date Created</th>
                <th class="wd-10p"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-checkbox"><input type="checkbox" name="checkitem"></div>
                </td>
                <td><h6 class="mg-b-0">Acknowledgement and Disclosure Statement</h6></td>
                <td>Mark Taylor</td>
                <td>True</td>
                <td>Active</td>
                <td class="text-right">Apr 30, 2021 04:12am</td>
                <td class="text-right">
                  <nav class="nav nav-icon">
                    <a href="edit-lease-addenda.html"><span data-toggle="tooltip" data-title="Edit addenda"><i class="ri-pencil-line"></i></span></a>
                    <a href="#modalConfirmDelete" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete addenda"><i class="ri-delete-bin-5-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-checkbox"><input type="checkbox" name="checkitem"></div>
                </td>
                <td><h6 class="mg-b-0">Transfer Agreement - Mark Taylor</h6></td>
                <td>Mark Taylor</td>
                <td>False</td>
                <td>Inactive</td>
                <td class="text-right">Apr 29, 2021 04:12am</td>
                <td class="text-right">
                  <nav class="nav nav-icon">
                    <a href="edit-lease-addenda.html"><span data-toggle="tooltip" data-title="Edit addenda"><i class="ri-pencil-line"></i></span></a>
                    <a href="#modalConfirmDelete" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete addenda"><i class="ri-delete-bin-5-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-checkbox"><input type="checkbox" name="checkitem"></div>
                </td>
                <td><h6 class="mg-b-0">Acknowledgement and Disclosure Statement</h6></td>
                <td>Mark Taylor</td>
                <td>True</td>
                <td>Active</td>
                <td class="text-right">Apr 28, 2021 04:12am</td>
                <td class="text-right">
                  <nav class="nav nav-icon">
                    <a href="edit-lease-addenda.html"><span data-toggle="tooltip" data-title="Edit addenda"><i class="ri-pencil-line"></i></span></a>
                    <a href="#modalConfirmDelete" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete addenda"><i class="ri-delete-bin-5-line"></i></span></a>
                  </nav>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-checkbox"><input type="checkbox" name="checkitem"></div>
                </td>
                <td><h6 class="mg-b-0">Transfer Agreement - Mark Taylor</h6></td>
                <td>Mark Taylor</td>
                <td>False</td>
                <td>Inactive</td>
                <td class="text-right">Apr 27, 2021 04:12am</td>
                <td class="text-right">
                  <nav class="nav nav-icon">
                    <a href="edit-lease-addenda.html"><span data-toggle="tooltip" data-title="Edit addenda"><i class="ri-pencil-line"></i></span></a>
                    <a href="#modalConfirmDelete" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete addenda"><i class="ri-delete-bin-5-line"></i></span></a>
                  </nav>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <div class="modal modal-confirmation" id="modalConfirmDelete" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>

            <h5 class="modal-title" id="leaveModalLabel">Confirm Delete</h5>
            <p class="modal-text">You are about to delete this addenda. Continue delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'


      });
    </script>
  </body>
</html>
