<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="login-wrapper">
      <div class="loginbox">
        <a href="" class="login-logo"><span></span></a>
        <hr class="op-0">
        <h4 class="login-title">Signin</h4>
        <h6 class="login-text">Welcome back! Please signin to continue</h6>

        <hr class="op-0 mg-y-10">

        <div class="form-group form-group-login focused">
          <label class="form-label">Enter email address</label>
          <div>
            <input type="text" class="form-control form-control-login" value="ethanlacey@liftlytics.com">
            <i class="ri-account-circle-line"></i>
          </div>
        </div><!-- form-group -->
        <div class="form-group form-group-login focused">
          <label class="form-label">Enter password</label>
          <div>
            <input type="password" class="form-control form-control-login" value="mypassword">
            <i class="ri-door-lock-line"></i>
          </div>
        </div><!-- form-group -->

        <div class="text-right"><a href="" class="link-forgot">Forgot password?</a></div>

        <hr class="op-0">

        <button class="btn btn-primary btn-block btn-login">Login</button>

      </div><!-- loginbox -->
    </div><!-- login-wrapper -->



    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.form-control-login').on('focusin focusout', function(e){
          var onfocus = (e.type === 'focusin')? true : false;

          $(this).closest('.form-group').toggleClass('onfocus', onfocus);

          if(!onfocus) {
            if($(this).val() === '') {
              $(this).closest('.form-group').removeClass('focused');
            } else {
              $(this).closest('.form-group').addClass('focused');
            }
          }
        });

      });
    </script>
  </body>
</html>
