<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content">
      <div class="container-fluid">
        <div class="content-navbar content-navbar-pipeline">
          <nav id="navGroupProperties" class="nav nav-group mg-r-auto">
            <a href="#" class="nav-link active"><span>All Docs</span> <small>23</small></a>
            <a href="#" class="nav-link"><span>Ready to countersign</span> <small>10</small></a>
            <a href="#" class="nav-link"><span>Out for signature</span> <small>7</small></a>
          </nav>

          <div id="navRightOne" class="navbar-right">
            <div class="form-search">
              <i data-feather="search"></i>
              <input type="text" class="form-control" placeholder="Search residents">
            </div><!-- form-search -->
          </div>
        </div><!-- content-navbar -->

        <hr class="op-0">



      </div><!-- container-fluid -->
    </div><!-- content -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('[data-toggle="tooltip"]').tooltip({
          container: $('.content')
        });

        $('.nav-header .nav-item-pipeline .nav-link').addClass('active');


      });
    </script>
  </body>
</html>
