<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../lib/quill/quill.core.css" rel="stylesheet">
    <link href="../lib/quill/quill.snow.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-pipeline-lead">

    <div class="content content-lead">
      <div id="leadBar" class="leadbar">
        <div class="leadbar-pager">
          <nav class="nav nav-pager">
            <a href="" class="nav-link"><i class="ri-arrow-left-s-line"></i></a>
            <a id="navNextTask" href="email-followups.html?filter=today" class="nav-link"><span>Next Task</span> <i class="ri-arrow-right-s-line"></i></a>
          </nav>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!-- leadbar-pager -->
        <div class="card-task-today">
          <div class="card-body">
            <div class="task-label">
              <h6 class="mg-b-0">Next Task</h6>
              <span>3 of 5 complete</span>
            </div>
            <div class="task-item">
              <span class="task-dot bg-danger"></span>
              <p>2nd Follow-up</p>
              <p>Courtney Osborne</p>
            </div><!-- task-item -->

            <hr class="mg-y-10 op-0">

            <div class="task-label">
              <h6 class="mg-b-0">Tours</h6>
              <span>1 of 3 complete</span>
            </div>
            <div class="task-item">
              <span class="task-dot bg-danger"></span>
              <p>Alina Loman</p>
              <p>2:30 PM <small class="text-danger">(1 hour ago)</small></p>
              <nav class="nav">
                <a href="" data-toggle="tooltip" title="Tour completed"><i class="ri-checkbox-circle-fill"></i></a>
                <a href="" data-toggle="tooltip" title="Cancel Tour"><i class="ri-close-circle-fill"></i></a>
              </nav>
            </div><!-- task-item -->
            <div class="task-item">
              <span class="task-dot bg-secondary"></span>
              <p>David Terrence</p>
              <p>3:30 PM</p>
              <nav class="nav">
                <a href="" data-toggle="tooltip" title="Tour completed"><i class="ri-checkbox-circle-fill"></i></a>
                <a href="" data-toggle="tooltip" title="Cancel Tour"><i class="ri-close-circle-fill"></i></a>
              </nav>
            </div><!-- task-item -->
          </div><!-- card-body -->
        </div><!-- card-task-today -->
        <div class="leadbar-body">
          <div class="skeleton d-flex">
            <div class="skeleton-avatar"></div>
            <div class="leadbar-user">
              <div class="skeleton-text wd-100"></div><br>
              <div class="skeleton-text xs wd-150"></div>
            </div><!--leadbar-user -->
            <div class="leadbar-date">
              <span class="skeleton-text xs wd-150"></span>
              <div class="skeleton-text sm wd-100"></div>
            </div><!-- leadbar-date -->
            <div class="leadbar-date">
              <span class="skeleton-text xs wd-150"></span>
              <div class="skeleton-text sm wd-100"></div>
            </div><!-- leadbar-date -->
          </div><!-- skeleton-content -->
          <div class="skeleton-content d-flex">
            <div class="avatar bg-warning"><span>gm</span></div>
            <div class="leadbar-user">
              <h6>George McGovern</h6>
              <span><i class="ri-checkbox-circle-line"></i> Synced (7 minutes ago)</span>
            </div><!--leadbar-user -->
            <div class="leadbar-date">
              <span>Last Followup Date</span>
              <h6>3 days ago</h6>
            </div><!-- leadbar-date -->
            <div class="leadbar-date">
              <span>Last Activity Date</span>
              <h6>1 day ago</h6>
            </div><!-- leadbar-date -->
          </div><!-- skeleton-content -->
          <nav class="nav nav-lead-option mg-l-auto">
            <div class="dropdown">
              <a href="#" data-toggle="dropdown" data-display="static" class="dropdown-link dropdown-link-stage contactmade">Contact Made</a>
              <div class="dropdown-menu dropdown-menu-stage">
                <a href="" class="dropdown-item">Inquiry</a>
                <a href="" class="dropdown-item">Contact Made</a>
                <a href="" class="dropdown-item">Tour Set</a>
                <a href="" class="dropdown-item">Tour Completed</a>
                <a href="" class="dropdown-item">Waitlist</a>
                <a href="" class="dropdown-item">Application Pending</a>
                <a href="" class="dropdown-item">Application Complete</a>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-select">
              <a href="#" data-toggle="dropdown" data-display="static" class="dropdown-link dropdown-link-owner"><span>Unassigned</span></a>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item">Mienard Lumaad</a>
                <a href="" class="dropdown-item">Socrates Itumay</a>
                <a href="" class="dropdown-item">Ryan Salahid Cerro</a>
                <a href="" class="dropdown-item">Clark Mejorada</a>
                <a href="" class="dropdown-item">Diana Zubiri</a>
                <a href="" class="dropdown-item">Yassi Pressman</a>
                <a href="" class="dropdown-item">Liza Soberano</a>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div id="leadStat" class="dropdown">
              <a href="#" data-toggle="dropdown" data-display="static" class="dropdown-link">Test</a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-stat">
                <a href="" class="dropdown-item">
                  <strong>Active</strong>
                  <span>Active leads impact reporting metrics, surface on the Pipeline page and all associated tasks are active for completion.</span>
                </a>
                <a href="" class="dropdown-item">
                  <strong>Leased</strong>
                  <span>Leased leads impact reporting metrics and all associated lease related tasks are marked completed.</span>
                </a>
                <a href="" class="dropdown-item">
                  <strong>Lost</strong>
                  <span>Lost leads impact reporting metrics, do not surface on the Pipeline page and all associated tasks are deleted.</span>
                </a>
                <a href="" class="dropdown-item selected">
                  <strong>Test</strong>
                  <span>Test leads do not impact reporting, do not surface on the Pipeline page and associated tasks are not listed as a part of the Tasks page or daily team tasking.</span>
                </a>
                <a href="" class="dropdown-item">
                  <strong>Deleted</strong>
                  <span>Deleted leads impact reporting, do not surface on the Pipeline page and associated tasks are not listed as a part of the Tasks page or daily team tasking.</span>
                </a>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <a href="#modalShareLead" data-toggle="modal" class="nav-icon"><i class="ri-share-line"></i></a>
          </nav>
        </div><!-- leadbar-body -->
      </div><!-- leadbar -->

      <div class="content-body contact-body-lead">
        <div class="lead-sidebar">
          <div class="card card-widget card-widget-sm">
            <div class="card-header pd-x-20-f pd-t-20-f pd-b-0-f">
              <div class="skeleton-text wd-100 skeleton"></div>
              <h6 class="card-title skeleton-content">Upcoming Tasks</h6>
            </div><!-- card-header -->
            <div class="card-body pd-20-f">
              <div class="task-item skeleton">
                <div class="media pd-15">
                  <div class="skeleton-checkbox"></div>
                  <div class="media-body pd-l-10">
                    <div class="skeleton-text wd-100"></div>
                    <div class="skeleton-text xs wd-100p"></div>
                    <div class="skeleton-text xs wd-80p"></div>
                  </div>
                </div>
                <div class="task-footer">
                  <div class="skeleton-text xs wd-60p"></div>
                </div><!-- task-footer -->
              </div>
              <div class="task-item skeleton-content">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="task2">
                  <label class="custom-control-label" for="task2">Schedule Virtual Tour</label>
                </div><!-- custom-control -->
                <div class="task-body">
                  <p>Showing units: 5050 (2A) </p>
                  <p>Task owner: <a href="">Chao Yan</a></p>
                </div><!-- task-body -->
                <div class="task-footer">
                  <span><small class="comm-dot today"></small> <strong>Due:</strong> Sep 09, 2020 (3 days)</span>
                  <nav class="nav nav-task-item">
                    <a href="" data-toggle="tooltip" title="" data-original-title="Edit Task"><i class="ri-pencil-line"></i></a>
                    <a href="" data-toggle="tooltip" title="" data-original-title="Delete Task"><i class="ri-delete-bin-5-line"></i></a>
                  </nav>
                </div><!-- task-footer -->
              </div>
              <div id="completedTasks" class="mg-t-20 d-none">
                <div class="task-item completed">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="task11" checked>
                    <label class="custom-control-label" for="task11">First Follow-up</label>
                  </div><!-- custom-control -->
                  <div class="task-body">
                    <p>Requests chat prospect requesting follow-up from team member</p>
                    <p>Linked lead: <a href="">Corey Kennethcat</a></p>
                  </div><!-- task-body -->
                  <div class="task-footer">
                    <span class="d-flex text-success"><i class="ri-check-line"></i> Mar 12, 2020</span>
                    <nav class="nav nav-task-item">
                      <a href="" data-toggle="tooltip" title="Edit Task"><i class="ri-pencil-fill"></i></a>
                      <a href="" data-toggle="tooltip" title="Delete Task"><i class="ri-delete-bin-5-fill"></i></a>
                    </nav>
                  </div><!-- task-footer -->
                </div><!-- task-item -->
                <div class="task-item completed">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="task12" checked>
                    <label class="custom-control-label" for="task12">Schedule Virtual Tour</label>
                  </div><!-- custom-control -->
                  <div class="task-body">
                    <p>Showing units: 5050 (2A) </p>
                    <p>Linked lead: <a href="">Chao Yan</a></p>
                  </div><!-- task-body -->
                  <div class="task-footer">
                    <span class="d-flex text-success"><i class="ri-check-line"></i> Mar 11, 2020</span>
                    <nav class="nav nav-task-item">
                      <a href="" data-toggle="tooltip" title="Edit Task"><i class="ri-pencil-fill"></i></a>
                      <a href="" data-toggle="tooltip" title="Delete Task"><i class="ri-delete-bin-5-fill"></i></a>
                    </nav>
                  </div><!-- task-footer -->
                </div><!-- task-item -->
              </div><!-- #completedTasks -->
            </div><!-- card-body -->
            <div class="card-footer pd-x-20-f skeleton-content">
              <a href="" class="btn btn-outline-primary justify-content-center">Show All Tasks (3)</a>
              <a href="" class="btn btn-primary justify-content-center mg-t-8">Add New Task</a>
              <a href="" id="toggleCompletedTasks" class="btn btn-white mg-t-8"><span class="mg-r-3">Show</span> Completed Tasks</a>
            </div><!-- card-footer -->
          </div><!-- card -->

          <div class="card card-widget card-widget-sm mg-t-20">
            <div class="card-header d-flex align-items-center justify-content-between pd-x-20-f pd-t-20-f pd-b-0-f skeleton">
              <div class="skeleton-text wd-100"></div>
              </a>
            </div><!-- card-header -->
            <div class="card-header d-flex align-items-center justify-content-between pd-x-20-f pd-t-20-f pd-b-0-f skeleton-content">
              <h5 class="card-title mg-b-0">Prospect Details</h5>
              <a href="" class="lead-edit">
                <span><i class="ri-edit-2-line"></i> Edit</span>
              </a>
            </div><!-- card-header -->
            <div class="card-body pd-20-f">
              <div class="lead-detail-group skeleton">
                <div class="form-group">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
              </div><!-- lead-detail-group -->
              <div class="lead-detail-group skeleton-content">
                <div class="form-group">
                  <div class="form-icon mg-r-15-f"><i class="ri-mail-line"></i></div>
                  <div>
                    <label>Email address</label>
                    <input type="text" class="form-control" value="ethanlacey@liftlytics.com" readonly>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-phone-line"></i></div>
                  <div>
                    <label>Phone number</label>
                    <input type="text" class="form-control" value="0851640878" readonly>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-contacts-book-line"></i></div>
                  <div>
                    <label>Contact preference</label>
                    <select class="custom-select" disabled>
                      <option value="1">Email</option>
                      <option value="2" selected>Phone</option>
                      <option value="3">Text</option>
                    </select>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-time-line"></i></div>
                  <div>
                    <label>Best time to contact</label>
                    <select class="custom-select" disabled>
                      <option value="1">Morning</option>
                      <option value="2" selected>Afternoon</option>
                      <option value="3">Evening</option>
                    </select>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-parent-line"></i></div>
                  <div>
                    <label>Occupants</label>
                    <input type="text" class="form-control" value="3" readonly>
                  </div>
                </div><!-- form-group -->
              </div><!-- lead-detail-group -->

              <hr>


              <div class="lead-detail-group skeleton-content">
                <div class="form-group">
                  <div class="form-icon mg-r-15-f"><i class="ri-calendar-line"></i></div>
                  <div>
                    <label>Move-in Date</label>
                    <input type="text" class="form-control" value="September 18, 2020" readonly>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-calendar-line"></i></div>
                  <div>
                    <label>Days to Move-in</label>
                    <input type="text" class="form-control" value="20" readonly>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"><i class="ri-bank-card-line"></i></div>
                  <div>
                    <label>Desired Rent</label>
                    <input type="text" class="form-control" value="$2,000/month " readonly>
                  </div>
                </div><!-- form-group -->
              </div><!-- lead-detail-group -->
              <div class="lead-detail-group skeleton">
                <div class="form-group">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
                <div class="form-group mg-t-10">
                  <div class="form-icon mg-r-15-f"></div>
                  <div class="flex-fill">
                    <div class="skeleton-text sm wd-60p"></div>
                    <div class="skeleton-text sm wd-100p"></div>
                  </div>
                </div><!-- form-group -->
              </div><!-- lead-detail-group -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- lead-sidebar -->
        <div class="lead-body">
          <div class="lead-panel">
            <nav class="nav nav-lead-tab">
              <a href="pipeline-lead.html" class="nav-link">Communication</a>
              <a href="pipeline-notes.html" class="nav-link">Notes</a>
              <a href="pipeline-email.html" class="nav-link">Email</a>
              <a href="pipeline-calls.html" class="nav-link">Calls</a>
              <a href="pipeline-chat.html" class="nav-link">Chat</a>
              <a href="pipeline-sms.html" class="nav-link active">SMS</a>
              <a href="applicants.html" class="nav-link">Applicants</a>
              <a href="lease.html" class="nav-link">Lease</a>
              <a href="documents.html" class="nav-link">Documents</a>
            </nav>
            <div class="lead-panel-body">
              <div class="lead-panel-sidebar">
                <div class="lps-header lps-header-2">
                  <label>SMS <span>1</span></label>
                </div><!-- lps-header -->
                <div id="commItems" class="lps-body">
                  <div class="chat-group skeleton">
                    <div class="chat-item">
                      <div class="skeleton-avatar"></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender"><span class="skeleton-text sm wd-100"></span> <span class="skeleton-text xs wd-50"></span></h6>
                        <div class="skeleton-text xs wd-100p"></div>
                        <div class="skeleton-text xs wd-50p"></div>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                    <div class="chat-item">
                      <div class="skeleton-avatar"></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender"><span class="skeleton-text sm wd-100"></span> <span class="skeleton-text xs wd-50"></span></h6>
                        <div class="skeleton-text xs wd-100p"></div>
                        <div class="skeleton-text xs wd-50p"></div>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                    <div class="chat-item">
                      <div class="skeleton-avatar"></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender"><span class="skeleton-text sm wd-100"></span> <span class="skeleton-text xs wd-50"></span></h6>
                        <div class="skeleton-text xs wd-100p"></div>
                        <div class="skeleton-text xs wd-50p"></div>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                  </div><!-- chat-group -->
                  <div class="chat-group skeleton-content">
                    <div class="chat-item active">
                      <div class="chat-icon bg-dark"><span>pa</span></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender justify-content-start"><span class="mg-r-auto">Property Agent</span> <span class="comm-dot bg-warning"></span><small>Aug 12</small></h6>
                        <p class="chat-text">It is a long established fact that a reader will be distracted by the readable content of...</p>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                    <div class="chat-item">
                      <div class="chat-icon bg-gray-light"><span>gm</span></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender justify-content-start">
                          <span class="mg-r-auto">George McGovern</span>
                          <span class="comm-dot bg-danger"></span>
                          <small>Aug 10</small>
                        </h6>
                        <p class="chat-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a...</p>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                    <div class="chat-item">
                      <div class="chat-icon bg-dark"><span>pa</span></div>
                      <div class="chat-item-body">
                        <h6 class="chat-sender justify-content-start"><span class="mg-r-auto">Property Agent</span> <span class="comm-dot bg-warning"></span><small>Aug 12</small></h6>
                        <p class="chat-text">It is a long established fact that a reader will be distracted by the readable content of...</p>
                      </div><!-- chat-item-body -->
                    </div><!-- chat-item -->
                  </div><!-- chat-group -->
                </div><!-- lps-body -->
              </div><!-- lead-panel-sidebar -->
              <div id="commContent" class="lead-panel-content pd-0-f skeleton-content">
                <div class="msg-header">
                  <div class="chat-icon bg-gray-light"><span>gm</span></div>
                  <h5 class="msg-title">George McGovern</h5>
                  <span>Aug 12, 2020 03:33am (1 week ago)</span>
                </div><!-- msg-header -->
                <div class="msg-body">
                  <div class="d-flex flex-column justify-content-end">
                    <div class="msg-item">
                      <div class="msg-avatar"><span>PA</span></div>
                      <div class="msg-item-body">
                        <div class="msg-box">Welcome to staging!</div>
                        <div class="msg-date"><strong>Property Agent</strong> Aug 12, 2020: 02:30am</div>
                      </div><!-- msg-item-body -->
                    </div><!-- msg-item -->
                    <div class="msg-item">
                      <div class="msg-avatar"><span>PA</span></div>
                      <div class="msg-item-body">
                        <div class="msg-box">What can I help you with today?</div>
                        <div class="msg-date"><strong>Property Agent</strong> Aug 12, 2020: 02:30am</div>
                      </div><!-- msg-item-body -->
                    </div><!-- msg-item -->
                    <div class="msg-item msg-item-reverse">
                      <div class="msg-avatar bg-gray-light"><span>GM</span></div>
                      <div class="msg-item-body">
                        <div class="msg-box">Transfer to live agent</div>
                        <div class="msg-date"><strong>George McGovern</strong> Aug 12, 2020: 02:30am</div>
                      </div><!-- msg-item-body -->
                    </div><!-- msg-item -->
                    <div class="msg-item">
                      <div class="msg-avatar"><span>PA</span></div>
                      <div class="msg-item-body">
                        <div class="msg-box">You want to chat with a live agent?</div>
                        <div class="msg-date"><strong>Property Agent</strong> Aug 12, 2020: 02:30am</div>
                      </div><!-- msg-item-body -->
                    </div><!-- msg-item -->
                    <div class="msg-item msg-item-reverse">
                      <div class="msg-avatar bg-gray-light"><span>GM</span></div>
                      <div class="msg-item-body">
                        <div class="msg-box">Yes, have a live agent join</div>
                        <div class="msg-date"><strong>George McGovern</strong> Aug 12, 2020: 02:30am</div>
                      </div><!-- msg-item-body -->
                    </div><!-- msg-item -->
                  </div>
                </div><!-- msg-body -->
              </div><!-- lead-panel-content -->
            </div><!-- lead-panel-body -->
          </div><!-- lead-panel -->
        </div><!-- lead-body -->
      </div><!-- content-body -->
    </div><!-- content-lead -->

    <div class="modal modal-compose-mail fade" id="modalComposeMail" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Compose Mail</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="form-label">To:</label>
              <h6 class="form-value">Sam Smith <span>(samsmith@gmail.com)</span></h6>
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">From:</label>
              <h6 class="form-value">Staging Team <span>(jake@liftlytics.com)</span></h6>
            </div><!-- form-group -->
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div><!-- form-group -->
            <div class="form-group form-group-block">
              <div id="mailToolbar">
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-pholder">
                    <option value="[=Lead full name=]">Lead full name</option>
                    <option value="[=Lead first name=]">Lead first name</option>
                    <option value="[=Lead last name=]">Lead last name</option>
                  </select>
                </span>
              </div><!-- #mailToolbar -->

              <div id="mailEditor"></div>
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <div class="d-flex mg-r-auto">
              <select class="custom-select mg-r-10">
                <option value="">Insert Template</option>
                <option value="1">Test Template A</option>
                <option value="2">Facetime remind email</option>
                <option value="3">Self guided remind email</option>
                <option value="4">Guided virtual tour remind email</option>
                <option value="5">Confirmation of tour date</option>
                <option value="6">In person remind email</option>
              </select>
              <button type="button" class="btn btn-white btn-icon" data-toggle="tooltip" title="Upload file"><i class="ri-upload-2-fill"></i></button>
            </div>
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-white">Preview mail</button>
            <button type="button" class="btn btn-primary">Send mail</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../lib/quill/quill.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/compose.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.nav-item-pipeline .nav-link').addClass('active');

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          width: '100%'
        });

        $('#navNextTask').on('mouseenter', function(e) {
          $(this).closest('.leadbar-pager').addClass('expand');
        });

        $('#leadBar').on('mouseleave', function(e){
          $('.leadbar-pager').removeClass('expand');
        });

        new PerfectScrollbar('#commItems', {
          suppressScrollX: true
        });

        new PerfectScrollbar('#commContent', {
          suppressScrollX: true
        });


        //// --------------------

        $('.chat-item').on('click', function(e){
          e.preventDefault();
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
        });

      });
    </script>
  </body>
</html>
