<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content">
      <div class="container-fluid">
        <div class="content-header align-items-center mg-b-30">
          <div class="mg-r-auto">
            <h4 class="content-title mg-b-0">Property Settings</h4>
          </div>
        </div><!-- content-header -->
        <div class="content-body content-body-settings">
          <div class="settings-sidebar">
            <label class="content-label">General Settings</label>
            <nav class="nav">
              <a href="settings.html" class="nav-link active"><i class="ri-shield-user-line"></i> Assignment Rules</a>
              <a href="settings-email.html" class="nav-link"><i class="ri-mail-line"></i> Email templates</a>
              <a href="settings-calendar.html" class="nav-link"><i class="ri-calendar-todo-line"></i> Email &amp; Calendar sync</a>
              <a href="settings-business.html" class="nav-link"><i class="ri-time-line"></i> Business hours</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">Report Settings</label>
            <nav class="nav">
              <a href="settings-competitors.html" class="nav-link"><i class="ri-group-line"></i> Competitors</a>
              <a href="settings-paid-sources.html" class="nav-link"><i class="ri-wallet-3-line"></i> Paid sources</a>
              <a href="settings-budget.html" class="nav-link"><i class="ri-bank-card-2-line"></i> Paid source budgets</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">Leasing</label>
            <nav class="nav">
              <a href="settings-lease.html" class="nav-link"><i class="ri-community-line"></i> Lease Defaults</a>
              <a href="settings-policies.html" class="nav-link"><i class="ri-article-line"></i> Property Policies</a>
              <a href="settings-rentable.html" class="nav-link"><i class="ri-handbag-line"></i> Rentable Items</a>
              <a href="settings-screening.html" class="nav-link"><i class="ri-survey-line"></i> Screening Criteria</a>
            </nav>
          </div><!-- settings-sidebar -->
          <div class="settings-body">
            <h5 class="content-title-sm">Assign Lead Owners</h5>
            <p class="content-text">Automatically assign lead owners to new leads created from Mark-Taylor property website.</p>

            <div class="form-switch-wrapper">
              <span>Enable</span>
              <div class="form-switcher"></div>
            </div><!-- form-switch-wrapper -->

            <hr class="op-0">

            <div class="form-group form-group-bar">
              <label class="form-label">Mondays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Tuesdays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Wednesdays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Thursdays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Fridays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Saturdays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <label class="form-label">Sundays</label>
              <div class="select-wrapper">
                <select class="form-control select2">
                  <option label="Unassigned"></option>
                  <option value="1">Ethan Lacey</option>
                  <option value="2">Socrates Itumay</option>
                  <option value="3">Michael Galeon</option>
                  <option value="4">Kirby Avendula</option>
                  <option value="5">Helder Bongcaras</option>
                </select>
              </div><!-- select-wrapper -->
            </div><!-- form-group -->

            <div class="settings-footer">
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div><!-- settings-footer -->
          </div><!-- settings-body -->
        </div><!-- content-body -->
      </div><!-- container -->
    </div><!-- content -->



    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          placeholder: 'Unassigned'
        });

      });
    </script>
  </body>
</html>
