<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>

    <div class="content">
      <div class="container-fluid">
        <div class="content-header align-items-center mg-b-30">
          <div class="mg-r-auto">
            <h4 class="content-title mg-b-0">Property Settings</h4>
          </div>
        </div><!-- content-header -->
        <div class="content-body content-body-settings">
          <div class="settings-sidebar">
            <label class="content-label">General Settings</label>
            <nav class="nav">
              <a href="settings.html" class="nav-link"><i class="ri-shield-user-line"></i> Assignment Rules</a>
              <a href="settings-email.html" class="nav-link"><i class="ri-mail-line"></i> Email templates</a>
              <a href="settings-calendar.html" class="nav-link"><i class="ri-calendar-todo-line"></i> Email &amp; Calendar sync</a>
              <a href="settings-business.html" class="nav-link"><i class="ri-time-line"></i> Business hours</a>
              <a href="../settings/community-features.html" class="nav-link"><i class="ri-community-line"></i> Community features</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">Report Settings</label>
            <nav class="nav">
              <a href="settings-competitors.html" class="nav-link"><i class="ri-group-line"></i> Competitors</a>
              <a href="settings-paid-sources.html" class="nav-link"><i class="ri-wallet-3-line"></i> Paid sources</a>
              <a href="settings-budget.html" class="nav-link"><i class="ri-bank-card-2-line"></i> Paid source budgets</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">Leasing</label>
            <nav class="nav">
              <a href="settings-lease.html" class="nav-link"><i class="ri-community-line"></i> Lease Defaults</a>
              <a href="settings-policies.html" class="nav-link"><i class="ri-article-line"></i> Property Policies</a>
              <a href="settings-rentable.html" class="nav-link"><i class="ri-handbag-line"></i> Rentable Items</a>
              <a href="settings-screening.html" class="nav-link"><i class="ri-survey-line"></i> Screening Criteria</a>
              <a href="settings-addenda.html" class="nav-link active"><i class="ri-file-list-3-line"></i> Addenda</a>
              <a href="../settings/pricing-duration.html" class="nav-link"><i class="ri-community-line"></i> Duration Pricing</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">Communication</label>
            <nav class="nav">
              <a href="settings-call-block.html" class="nav-link"><i class="ri-lock-line"></i> Call Block List</a>
            </nav>

            <hr class="mg-y-15 op-0">

            <label class="content-label">IVR Settings</label>
            <nav class="nav">
              <a href="../settings/vendors-list.html" class="nav-link"><i class="ri-contacts-line"></i> Vendors List</a>
              <a href="../settings/default-assignees.html" class="nav-link"><i class="ri-user-star-line"></i> Default Assignees</a>
              <a href="../settings/oncall-schedule.html" class="nav-link"><i class="ri-calendar-event-line"></i> On-Call Schedule</a>
              <a href="../settings/leasing-prompt.html" class="nav-link"><i class="ri-user-voice-line"></i> Leasing Prompt</a>
            </nav>
          </div><!-- settings-sidebar -->
          <div class="settings-body settings-body-addenda">
            <h5 class="content-title-sm">Manage Lease Addenda</h5>
            <p class="content-text">Set default values to automatically populate common property lease fields.</p>

            <hr><br>

            <div class="section-header">
              <h6 class="mg-b-0 mg-r-auto">Included In All New Leases - <span>4</span></h6>
              <select class="custom-select">
                <option value="">New Lease Addenda</option>
                <option value="1">New Leases</option>
                <option value="2">Renewals</option>
                <option value="3">Transfers</option>
              </select>
              <div class="form-search mg-l-10">
                <i data-feather="search"></i>
                <input type="text" class="form-control" placeholder="Search included addenda">
              </div><!-- form-search -->
            </div><!-- section-header -->

            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck1" checked>
                <label class="custom-control-label" for="ck1">Acknowledgement and Disclosure Statement</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck2" checked>
                <label class="custom-control-label" for="ck2">File Cover and Approval Sheet - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck3" checked>
                <label class="custom-control-label" for="ck3">Lake Liability Lease Addendum - Mark Taylor Residential - Arrowhead</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck4" checked>
                <label class="custom-control-label" for="ck4">Transfer Agreement - Mark Taylor</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->

            <hr class="op-0">

            <div class="section-header">
              <h6 class="mg-b-0 mg-r-auto">Total Addenda - <span>23</span></h6>
              <select class="custom-select">
                <option value="">All Addenda</option>
                <option value="1">New Leases</option>
                <option value="2">Renewals</option>
                <option value="3">Transfers</option>
              </select>
              <div class="form-search mg-l-10">
                <i data-feather="search"></i>
                <input type="text" class="form-control" placeholder="Search all addenda">
              </div><!-- form-search -->
            </div><!-- section-header -->

            <h6 class="tx-semibold text-dark">A</h6>

            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck5">
                <label class="custom-control-label" for="ck5">Automatic Entry Gate - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck6">
                <label class="custom-control-label" for="ck6">Acknowledgement and Disclosure Statement</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox disabled">
                <input type="checkbox" class="custom-control-input" id="ck7">
                <label class="custom-control-label" for="ck7">Apartment Inspection Report - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck8">
                <label class="custom-control-label" for="ck8">Authorization Agreement for Direct Payment ACH Debits - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox disabled">
                <input type="checkbox" class="custom-control-input" id="ck9">
                <label class="custom-control-label" for="ck9">Assistive Animal Addendum - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->

            <hr class="op-0">

            <h6 class="tx-semibold text-dark">B</h6>
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck10">
                <label class="custom-control-label" for="ck10">Bicycle Use Agreement - Mark Taylor</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox disabled">
                <input type="checkbox" class="custom-control-input" id="ck11">
                <label class="custom-control-label" for="ck11">Boiler Management Fees Addendum - Mark Tayor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox disabled">
                <input type="checkbox" class="custom-control-input" id="ck12">
                <label class="custom-control-label" for="ck12">Building and Facilities Fees Addendum - Mark Taylor</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->

            <hr class="op-0">

            <h6 class="tx-semibold text-dark">C</h6>
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck13">
                <label class="custom-control-label" for="ck13">Care Sheet AR - Waterside - Mark Taylor</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox disabled">
                <input type="checkbox" class="custom-control-input" id="ck14">
                <label class="custom-control-label" for="ck14">Carport Addendum - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->
            <div class="form-group form-group-bar">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ck15">
                <label class="custom-control-label" for="ck15">Clubhouse Policies and Procedures - Mark Taylor Residential</label>
              </div><!-- custom-control -->
              <nav class="nav nav-icon mg-l-auto">
                <a href="edit-addenda.html"><span data-toggle="tooltip" data-title="Edit"><i class="ri-pencil-line"></i></span></a>
              </nav>
            </div><!-- form-group -->


          </div><!-- settings-body -->
        </div><!-- content-body -->
      </div><!-- container -->
    </div><!-- content -->

    <div class="modal modal-add-addendum fade" id="modalAddAddendum" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Addendum</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="mg-b-0">This addendum has empty elements which require input before it can be included in the lease document.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="edit-addenda.html" class="btn btn-primary">Continue</a>
          </div>
        </div>
      </div>
    </div>



    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.nav-icon span').tooltip();

        $('body').on('focusin focusout', '.custom-select', function(e){
          if(e.type === 'focusin') {
            $(this).addClass('onfocus')
          } else {
            if($(this).val() == '') {
              $(this).removeClass('onfocus');
            }
          }
        });

        $('.custom-checkbox input').on('change', function(e){
          var checked = $(this).is(':checked');
          //console.log(checked);

          if(checked) {
            $('#modalAddAddendum').modal('show');
          }
        });

      });
    </script>
  </body>
</html>
