<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body>
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">Site Contents</label>
          <nav class="nav">
            <a href="site-contents.html" class="nav-link"><i class="ri-home-4-line"></i> Home</a>
            <a href="site-gallery.html" class="nav-link"><i class="ri-image-line"></i> Gallery</a>
            <a href="site-floor.html" class="nav-link"><i class="ri-stack-line"></i> Floor Plans</a>
            <a href="site-amenities.html" class="nav-link"><i class="ri-home-gear-line"></i> Amenities</a>
            <a href="site-neighborhood.html" class="nav-link"><i class="ri-home-smile-2-line"></i> Neighborhood</a>
            <a href="site-virtual.html" class="nav-link"><i class="ri-computer-line"></i> Virtual Tour</a>
            <a href="site-contact.html" class="nav-link active"><i class="ri-phone-line"></i> Contact</a>
            <a href="site-footer.html" class="nav-link"><i class="ri-layout-bottom-line"></i> Footer</a>
            <a href="site-design.html" class="nav-link"><i class="ri-magic-line"></i> Design</a>
            <a href="site-misc.html" class="nav-link"><i class="ri-bubble-chart-line"></i> MISC</a>
            <a href="site-promotions.html" class="nav-link"><i class="ri-home-4-line"></i> Promotions</a>
          </nav>
        </div><!-- settings-sidebar -->

        <div class="site-body">
          <div class="card card-basic">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Search Engine Optimization (SEO)</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Page Title</label>
                <input type="text" class="form-control" value="Contact Us | Christopher Todd Communities">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <label class="form-label">Page Description</label>
                <textarea class="form-control" rows="3">Contact us to learn more about Christopher Todd Communities in Surprise AZ</textarea>
                <small class="form-desc">Description should be less than 156 letters</small>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Breadcrumbs</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" value="Contact Us">
              </div><!-- form-group -->

              <div class="row row-sm mg-t-20">
                <div class="col-2">
                  <div class="site-mini-image"><img src="../assets/img/img13.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-2">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Image</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">First Ribbon</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter title" value="Have a question? Reach out to our helpful staff 24/7">
              </div><!-- form-group -->
              <div class="form-group">
                <label class="form-label">Text</label>
                <textarea class="form-control" rows="4" placeholder="Write some text...">Enjoy luxury Surprise living. Schedule a tour of your future home today. Call us at: 480-582-0993</textarea>
              </div><!-- form-group -->
              <div class="form-group">
                <label class="form-label">Google Business Map Link</label>
                <input type="text" class="form-control" value="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.221465440831!2d-112.37240558450338!3d33.6514230461...">
              </div><!-- form-group -->
              <div class="form-group">
                <label class="form-label">Google Map Direction Link</label>
                <input type="text" class="form-control" value="">
              </div><!-- form-group -->

              <div class="row row-sm">
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Name</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities On Mountain View">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">City</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Surprise, AZ 85374">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Email</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Week Days</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Opening Soon">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Target Phone Number</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="(602) 883-3600">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Tracking Phone Number</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="(602) 883-3600">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Saturday</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Address</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="14155 W Mountain View Blvd">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Sunday</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="">
                  </div><!-- form-group -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <br><br>
        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <div class="modal modal-site fade" id="modalAddLocation" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Add Location</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter name of the location">
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="Enter address">
            </div><!-- form-group -->
            <div class="form-group row row-sm">
              <div class="col">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter number">
              </div><!-- col -->
              <div class="col">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" placeholder="http://">
              </div><!-- col -->
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Category</label>
              <select class="custom-select">
                <option value="">Select Category</option>
                <option value="1">Bank</option>
                <option value="2">Bar</option>
                <option value="3">Coffee</option>
              </select>
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add Location</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          placeholder: 'Unassigned'
        });

        $('[data-toggle="tooltip"]').tooltip();

        $('[data-toggle="popover"]').popover({
          container: $('.content')
        });

      });
    </script>
  </body>
</html>
