<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">Site Contents</label>
          <nav class="nav">
            <a href="site-contents.html" class="nav-link active"><i class="ri-home-4-fill"></i> Home</a>
            <a href="site-gallery.html" class="nav-link"><i class="ri-image-line"></i> Gallery</a>
            <a href="site-floor.html" class="nav-link"><i class="ri-stack-line"></i> Floor Plans</a>
            <a href="site-amenities.html" class="nav-link"><i class="ri-home-gear-line"></i> Amenities</a>
            <a href="site-neighborhood.html" class="nav-link"><i class="ri-home-smile-2-line"></i> Neighborhood</a>
            <a href="site-virtual.html" class="nav-link"><i class="ri-computer-line"></i> Virtual Tour</a>
            <a href="site-contact.html" class="nav-link"><i class="ri-contacts-book-line"></i> Contact</a>
            <a href="site-footer.html" class="nav-link"><i class="ri-layout-bottom-line"></i> Footer</a>
            <a href="site-design.html" class="nav-link"><i class="ri-brush-4-line"></i> Design</a>
            <a href="site-misc.html" class="nav-link"><i class="ri-file-list-line"></i> MISC</a>
            <a href="site-promotions.html" class="nav-link"><i class="ri-home-4-line"></i> Promotions</a>
          </nav>
        </div><!-- settings-sidebar -->
        <div class="site-body">
          <div class="card card-basic">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Search Engine Optimization (SEO)</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Page Title</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="Apartments for Rent in Surprise AZ">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <div class="form-label-wrapper">
                  <label class="form-label">Page Description</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <textarea class="form-control" rows="3">Welcome to Christopher Todd Communities apartments, located in Surprise AZ where you will live the lifestyle you want in the area you want.</textarea>
                <small class="form-desc">Description should be less than 156 letters</small>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="row row-sm mg-t-20">
            <div class="col">
              <div class="card card-basic card-site-logo">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Initial Logo</h6>
                  <a href="" class="btn" data-toggle="tooltip" title="Upload logo"><i class="ri-image-add-fill"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="site-logo"><img src="../assets/img/logo1.png" alt=""></div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col">
              <div class="card card-basic card-site-logo">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Secondary Logo</h6>
                  <a href="" class="btn" data-toggle="tooltip" title="Upload logo"><i class="ri-image-add-fill"></i></a>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="site-logo"><img src="../assets/img/logo1.png" alt=""></div>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="card card-basic card-site-image mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Images</h6>
              <a href="" class="btn" data-toggle="tooltip" title="Upload New Image"><i class="ri-image-add-fill"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="row row-sm">
                <div class="col col-3">
                  <div class="site-image">
                    <a href="" class="remove"><i class="ri-close-circle-fill"></i></a>
                    <div class="image"><img src="../assets/img/img10.jpg" alt=""></div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Use gradient</label>
                    </div>
                  </div><!-- site-image -->
                </div>
                <div class="col col-3">
                  <div class="site-image">
                    <a href="" class="remove"><i class="ri-close-circle-fill"></i></a>
                    <div class="image"><img src="../assets/img/img11.jpg" alt=""></div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">Use gradient</label>
                    </div>
                  </div><!-- site-image -->
                </div>
                <div class="col col-3">
                  <div class="site-image">
                    <a href="" class="remove"><i class="ri-close-circle-fill"></i></a>
                    <div class="image"><img src="../assets/img/img12.jpg" alt=""></div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">Use gradient</label>
                    </div>
                  </div><!-- site-image -->
                </div>
                <div class="col col-3">
                  <div class="site-image">
                    <a href="" class="remove"><i class="ri-close-circle-fill"></i></a>
                    <div class="image"><img src="../assets/img/img13.jpg" alt=""></div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Use gradient</label>
                    </div>
                  </div><!-- site-image -->
                </div>
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Header Carousel</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="row row-sm">
                <div class="col-9">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Header Title</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-3">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Color</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="#000000">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-9">
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Header Subtitle</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-3">
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Color</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="#000000">
                  </div><!-- form-group -->
                </div><!-- col -->
              </div><!-- row -->
              <div class="mg-t-20">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck5">
                  <label class="custom-control-label" for="customCheck5">Apply text contrast gradient</label>
                </div>
              </div>
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="row row-sm mg-t-20">
            <div class="col-6">
              <div class="card card-basic">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">First Ribbon</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Title</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities On Mountain View">
                  </div><!-- form-group -->
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Text</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <textarea class="form-control" rows="7">Enjoy life in a grand one or two-bedroom luxury smart home located west of the US-60 highway, just north of Bell Road in Surprise. Christopher Todd Communities On Mountain View is a pet-friendly community that offers multiple luxury amenities including a resort-style pool and spa, a state-of-the-art fitness center with a yoga studio and a spacious multi-purpose event lawn. </textarea>
                  </div><!-- form-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-6">
              <div class="card card-basic">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Quote</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Text</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <textarea class="form-control" rows="3">I love this place!</textarea>
                  </div><!-- form-group -->
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Author</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Araceli H">
                  </div><!-- form-group -->
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Details</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities On Mountain View - Future Resident">
                  </div><!-- form-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-6 mg-t-20">
              <div class="card card-basic ht-100p">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Second Ribbon</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Title</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Find Your Home">
                  </div><!-- form-group -->
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Subtitle</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="In Beautiful Scottsdale, AZ">
                  </div><!-- form-group -->
                  <div class="row row-sm mg-t-20">
                    <div class="col-3">
                      <div class="site-mini-image"><img src="../assets/img/img11.jpg" alt="" class="img-fluid"></div>
                    </div><!-- col -->
                    <div class="col-3">
                      <a href="" class="site-image-add">&plus;</a>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-6 mg-t-20">
              <div class="card card-basic">
                <div class="card-header">
                  <h6 class="card-title mg-b-0-f">Third Ribbon</h6>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Title</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="Christopher Todd Communities On Mountain View">
                  </div><!-- form-group -->
                  <div class="form-group mg-b-0-f">
                    <div class="form-label-wrapper">
                      <label class="form-label">Text</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <textarea class="form-control" rows="7">Enjoy life in a grand one or two-bedroom luxury smart home located west of the US-60 highway, just north of Bell Road in Surprise. Christopher Todd Communities On Mountain View is a pet-friendly community that offers multiple luxury amenities including a resort-style pool and spa, a state-of-the-art</textarea>
                  </div><!-- form-group -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Map</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="row row-sm">
                <div class="col-9">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Marker Location</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" placeholder="Enter a query">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-3">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Zoom Level</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="13">
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-12">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Style</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="">

                    <div class="row row-xs mg-t-20 wd-70p">
                      <div class="col-2">
                        <div class="site-mini-image"><img src="../assets/img/img11.jpg" alt="" class="img-fluid"></div>
                      </div><!-- col -->
                      <div class="col-2">
                        <a href="" class="site-image-add">&plus;</a>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- form-group -->
                </div><!-- col -->
                <div class="col-12 mg-t-20">
                  <div class="form-group">
                    <div class="form-label-wrapper">
                      <label class="form-label">Marker URL</label>
                      <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                    </div><!-- form-label-wrapper -->
                    <input type="text" class="form-control" value="">
                  </div><!-- form-group -->
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Application Form Ribbon</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Title</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="Apply Now">
              </div><!-- form-group -->

              <div class="row row-xs mg-t-20 wd-70p">
                <div class="col-2">
                  <div class="site-mini-image"><img src="../assets/img/img12.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-2">
                  <a href="" class="site-image-add">&plus;</a>
                </div><!-- col -->
              </div><!-- row -->

            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <div class="site-save-panel">
      <button id="saveChanges" class="btn btn-primary">
        <span>Save changes</span>
        <span>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...
        </span>
        <span><i class="ri-checkbox-circle-fill"></i> Saved</span>
      </button>
      <button id="discardChanges" class="btn btn-secondary">Discard</button>
    </div><!-- site-save-panel -->

    <div id="toastSite" class="toast fade toast-site toast-success" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body media">
        <div  class="media-icon"><i class="ri-save-line"></i></div>
        <div class="media-body">
          <strong>Success!</strong> <span>Your edit has been saved</span>
        </div>
        <a href="#" class="close" data-dismiss="toast" aria-label="Close"><i class="ri-close-circle-fill"></i></a>
      </div>
    </div><!-- toast -->

    <!-- Leave page modal -->
    <div class="modal modal-confirmation" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>

            <h5 class="modal-title" id="leaveModalLabel">Leave Page?</h5>
            <p class="modal-text">Your edits have not been saved. Please save your edits before leaving the page or they will be lost.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Keep Editing</button>
            <button type="button" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/site.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.site-image .remove').on('click', function(e){
          e.preventDefault();
          $(this).closest('.col').remove();
        });
      });
    </script>
  </body>
</html>
