<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">

    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">Site Contents</label>
          <nav class="nav">
            <a href="site-contents.html" class="nav-link"><i class="ri-home-4-line"></i> Home</a>
            <a href="site-gallery.html" class="nav-link"><i class="ri-image-line"></i> Gallery</a>
            <a href="site-floor.html" class="nav-link"><i class="ri-stack-line"></i> Floor Plans</a>
            <a href="site-amenities.html" class="nav-link active"><i class="ri-home-gear-fill"></i> Amenities</a>
            <a href="site-neighborhood.html" class="nav-link"><i class="ri-home-smile-2-line"></i> Neighborhood</a>
            <a href="site-virtual.html" class="nav-link"><i class="ri-computer-line"></i> Virtual Tour</a>
            <a href="site-contact.html" class="nav-link"><i class="ri-phone-line"></i> Contact</a>
            <a href="site-footer.html" class="nav-link"><i class="ri-layout-bottom-line"></i> Footer</a>
            <a href="site-design.html" class="nav-link"><i class="ri-magic-line"></i> Design</a>
            <a href="site-misc.html" class="nav-link"><i class="ri-bubble-chart-line"></i> MISC</a>
            <a href="site-promotions.html" class="nav-link"><i class="ri-home-4-line"></i> Promotions</a>
          </nav>
        </div><!-- settings-sidebar -->

        <div class="site-body">
          <ul class="site-navbar">
            <li class="navbar-item active">Main Content</li>
            <li class="navbar-item">Gated Access <a href="" class="navbar-close"><i class="ri-close-circle-fill"></i></a></li>
            <li class="navbar-item">Washer &amp; Dryer <a href="" class="navbar-close"><i class="ri-close-circle-fill"></i></a></li>
            <li class="navbar-dropdown" data-toggle="tooltip" title="More">
              <a href="" class="dropdown-link" data-toggle="dropdown"><i data-feather="more-horizontal"></i></a>
            </li>
            <li class="navbar-add">
              <a href="" class="btn btn-primary" data-toggle="tooltip" title="Add Category"><i data-feather="plus"></i></a>
            </li>
          </ul><!-- siten-navbar -->
          <div class="card card-basic">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Search Engine Optimization (SEO)</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Page Title</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="Apartments for Rent in Surprise AZ">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <div class="form-label-wrapper">
                  <label class="form-label">Page Description</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <textarea class="form-control" rows="3">Welcome to Christopher Todd Communities apartments, located in Surprise AZ where you will live the lifestyle you want in the area you want.</textarea>
                <small class="form-desc">Description should be less than 156 letters</small>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Breadcrumbs</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Title</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="Amenities">
              </div><!-- form-group -->

              <div class="row row-sm mg-t-20">
                <div class="col-2">
                  <div class="site-mini-image"><img src="../assets/img/img12.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-2">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Image</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Page Introduction</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Title</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <textarea class="form-control" rows="2">Picture yourself living here</textarea>
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <div class="form-label-wrapper">
                  <label class="form-label">Text</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <textarea class="form-control" rows="3">Luxury rental home living is calling to you at Christopher Todd Communities On Mountain View. Browse the photo gallery and call us to schedule a tour soon. This well-appointed community offers quality on-site leasing staff, local shops, dining, and entertainment nearby. </textarea>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Amenities</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Upload Image</label>
                <div class="row row-sm">
                  <div class="col-2">
                    <div class="site-mini-image"><img src="../assets/img/img13.jpg" alt="" class="img-fluid"></div>
                  </div><!-- col -->
                  <div class="col-2">
                    <div class="site-image-add">
                      <i class="ri-image-line"></i>
                      <span>Upload Image</span>
                    </div>
                    <div class="d-none"><input type="file"></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <div class="form-label-wrapper">
                  <label class="form-label">Disclaimer Text</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="*In select apartment homes">
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header pd-y-10 pd-r-10 d-flex align-items-center justify-content-between">
              <h6 class="card-title mg-b-0-f">Amenities Details</h6>
              <a href="" id="btnAddColumn" class="btn btn-primary btn-add-column"><i class="ri-add-fill"></i> Add Column</a>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group form-group-amenities mg-b-0-f">
                <div class="row">
                  <div class="col-4">
                    <ul class="list-group list-group-amenities">
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Private access exclusive to sixth-floor residents</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Premium views and finishes</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                    </ul>
                    <div class="form-amenity-wrapper">
                      <div id="formAmenity" class="form-amenity">
                        <select class="custom-select">
                          <option value="">Select amenity category</option>
                          <option value="1">Category 01</option>
                          <option value="2">Category 02</option>
                        </select>
                        <textarea id="amDesc" class="form-control mg-t-5" rows="3" placeholder="Description" disabled></textarea>
                        <div class="d-flex justify-content-end mg-t-10">
                          <button id="amCancel" class="btn btn-white mg-r-5">Cancel</button>
                          <button class="btn btn-primary">Add</button>
                        </div>
                      </div><!-- form-amenity -->
                    </div><!-- form-amenity-wrapper -->

                    <a href="" class="btn btn-outline-primary btn-add-amenity"><i class="ri-add-fill"></i> Add Amenity Item</a>
                  </div><!-- col -->
                  <div class="col-4">
                    <ul class="list-group list-group-amenities">
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Premium views and finishes</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Premium views and finishes</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Premium views and finishes</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                      <li class="list-group-item">
                        <a href="" class="btn btn-drag"><i class="ri-more-2-fill"></i></a>
                        <div class="list-group-text">Premium views and finishes</div>
                        <a href="" class="close"><i class="ri-close-fill"></i></a>
                      </li>
                    </ul>
                    <div class="form-amenity-wrapper"></div>
                    <a href="" class="btn btn-outline-primary btn-add-amenity"><i class="ri-add-fill"></i> Add Amenity Item</a>
                  </div><!-- col -->
                  <div id="amenityColumn" class="col-4 d-none">
                    <ul class="list-group list-group-amenities"></ul>
                    <div class="form-amenity-wrapper"></div>
                    <a href="" class="btn btn-outline-primary btn-add-amenity d-none"><i class="ri-add-fill"></i> Add Amenity Item</a>
                  </div><!-- col-4 -->
                </div><!-- row -->
              </div><!-- form-group -->
            </div><!-- card-body-->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Community</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Upload Image</label>
                <div class="row row-sm">
                  <div class="col-2">
                    <div class="site-mini-image"><img src="../assets/img/img14.jpg" alt="" class="img-fluid"></div>
                  </div><!-- col -->
                  <div class="col-2">
                    <div class="site-image-add">
                      <i class="ri-image-line"></i>
                      <span>Upload Image</span>
                    </div>
                    <div class="d-none"><input type="file"></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- form-group -->
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Disclaimer Text</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="*In select apartment homes">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <input type="text" value="Custom Cabinetry,Private Balcony,Gas Stoves,Air Conditioning" data-role="tagsinput">
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Welcome To</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Upload Image</label>
                <div class="row row-sm">
                  <div class="col-2">
                    <div class="site-mini-image"><img src="../assets/img/img15.jpg" alt="" class="img-fluid"></div>
                  </div><!-- col -->
                  <div class="col-2">
                    <div class="site-image-add">
                      <i class="ri-image-line"></i>
                      <span>Upload Image</span>
                    </div>
                    <div class="d-none"><input type="file"></div>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- form-group -->
              <div class="form-group">
                <div class="form-label-wrapper">
                  <label class="form-label">Disclaimer Text</label>
                  <a class="form-info" data-toggle="popover" data-placement="top" data-content="Not made yet..."><i class="ri-information-line"></i></a>
                </div><!-- form-label-wrapper -->
                <input type="text" class="form-control" value="*In select apartment homes">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <input type="text" value="Custom Cabinetry,Private Balcony,Gas Stoves,Air Conditioning" data-role="tagsinput">
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <div class="site-save-panel">
      <button id="saveChanges" class="btn btn-primary">
        <span>Save changes</span>
        <span>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...
        </span>
        <span><i class="ri-checkbox-circle-fill"></i> Saved</span>
      </button>
      <button id="discardChanges" class="btn btn-secondary">Discard</button>
    </div><!-- site-save-panel -->

    <div id="toastSite" class="toast fade toast-site toast-success" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body media">
        <div  class="media-icon"><i class="ri-save-line"></i></div>
        <div class="media-body">
          <strong>Success!</strong> <span>Your edit has been saved</span>
        </div>
        <a href="#" class="close" data-dismiss="toast" aria-label="Close"><i class="ri-close-circle-fill"></i></a>
      </div>
    </div><!-- toast -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/jqueryui/jquery-ui.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/site.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('.select2').select2({
          minimumResultsForSearch: Infinity,
          placeholder: 'Unassigned'
        });

        $('[data-toggle="tooltip"]').tooltip({
          container: $('.content')
        });

        $('[data-toggle="popover"]').popover({
          container: $('.content')
        });

        $('.btn-drag').on('click', function(e){
          e.preventDefault();
        });

        $('.list-group-amenities .close').on('click', function(e){
          e.preventDefault();
          $(this).closest('.list-group-item').remove();
        });

        $('.list-group-amenities').sortable();

        $('body').on('focusin focusout change', '.custom-select', function(e){
          if(e.type === 'focusin') {
            $(this).addClass('onfocus')
          } else {
            if($(this).val() == '') {
              $(this).removeClass('onfocus');
            }
          }

          if(e.type === 'change') {
            if($(this).val() === '') {
              $('#amDesc').val('');
              $('#amDesc').prop('disabled', true);
            } else {
              $('#amDesc').prop('disabled', false);
            }
          }
        });

        $('.form-group-amenities').on('click', '.btn-add-amenity', function(e){
          e.preventDefault();

          var a = $(this).siblings('.form-amenity-wrapper');

          $('.form-group-amenities .row > div:not(#amenityColumn) .btn-add-amenity').removeClass('d-none');
          $(this).addClass('d-none');

          $('#formAmenity').appendTo(a);
          $('#formAmenity').addClass('show');
        });

        $('.form-group-amenities').on('click', '#amCancel', function(e){
          e.preventDefault();
          $('#formAmenity').removeClass('show');
          $(this).closest('.form-amenity-wrapper').siblings('.btn-add-amenity').removeClass('d-none');
        });

        $('#btnAddColumn').on('click', function(e){
          e.preventDefault();
          var i = $('#amenityColumn').clone();
          var a = i.find('.form-amenity-wrapper');
          console.log(a);

          $('#formAmenity').addClass('show').appendTo(a);

          i.removeClass('d-none').removeAttr('id');
          i.insertBefore('#amenityColumn');
        });

      });
    </script>
  </body>
</html>
