<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Dwell</title>

    <!-- Vendor CSS -->
    <link href="../lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="../lib/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/core.min.css">
    <link rel="stylesheet" href="../assets/css/main.min.css">
  </head>
  <body class="page-site">
    <div class="leftbar">
      <div class="leftbar-header">
        <a href="" id="headerMenu" class="header-switch-menu"><i class="ri-menu-2-line"></i></a>
      </div><!--leftbar-header -->
      <div class="leftbar-body">
        <nav class="nav">
          <a href="properties.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Properties"><i class="ri-home-7-fill"></i></a>
          <a href="clients.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Clients"><i class="ri-home-smile-2-fill"></i></a>
          <a href="customers.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Customers"><i class="ri-team-fill"></i></a>
          <a href="users.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Users"><i class="ri-group-fill"></i></a>
          <a href="site-contents.html" class="nav-link active" data-toggle="tooltip" data-placement="right" title="Site Contents"><i class="ri-settings-fill"></i></a>
          <a href="hobbes-policies.html" class="nav-link" data-toggle="tooltip"  data-placement="right" title="Hobbes Settings"><i class="ri-robot-fill"></i></a>
        </nav>
      </div><!-- leftbar-body -->
    </div><!-- leftbar -->

    <div class="content content-site">
      <div class="content-body content-body-site">
        <div class="settings-sidebar">
          <label class="content-label">Site Contents</label>
          <nav class="nav">
            <a href="site-contents.html" class="nav-link"><i class="ri-home-4-line"></i> Home</a>
            <a href="site-gallery.html" class="nav-link"><i class="ri-image-line"></i> Gallery</a>
            <a href="site-floor.html" class="nav-link"><i class="ri-stack-line"></i> Floor Plans</a>
            <a href="site-amenities.html" class="nav-link"><i class="ri-home-gear-line"></i> Amenities</a>
            <a href="site-neighborhood.html" class="nav-link active"><i class="ri-home-smile-2-fill"></i> Neighborhood</a>
            <a href="site-virtual.html" class="nav-link"><i class="ri-computer-line"></i> Virtual Tour</a>
            <a href="site-contact.html" class="nav-link"><i class="ri-phone-line"></i> Contact</a>
            <a href="site-footer.html" class="nav-link"><i class="ri-layout-bottom-line"></i> Footer</a>
            <a href="site-design.html" class="nav-link"><i class="ri-magic-line"></i> Design</a>
            <a href="site-misc.html" class="nav-link"><i class="ri-bubble-chart-line"></i> MISC</a>
            <a href="site-promotions.html" class="nav-link"><i class="ri-home-4-line"></i> Promotions</a>
          </nav>
        </div><!-- settings-sidebar -->

        <div class="site-body">
          <div class="card card-basic">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Search Engine Optimization (SEO)</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Page Title</label>
                <input type="text" class="form-control" value="Apartments for Rent in Surprise AZ">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <label class="form-label">Page Description</label>
                <textarea class="form-control" rows="3">Welcome to Christopher Todd Communities apartments, located in Surprise AZ where you will live the lifestyle you want in the area you want.</textarea>
                <small class="form-desc">Description should be less than 156 letters</small>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Breadcrumbs</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" value="Apartments for Rent in Surprise AZ">
              </div><!-- form-group -->
              <div class="row row-sm mg-t-20">
                <div class="col-2">
                  <div class="site-mini-image"><img src="../assets/img/img12.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-2">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Image</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">First Ribbon</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" value="Picture yourself living here">
              </div><!-- form-group -->
              <div class="form-group mg-b-0-f">
                <label class="form-label">Text</label>
                <textarea class="form-control" rows="3">Luxury rental home living is calling to you at Christopher Todd Communities On Mountain View. Browse the photo gallery and call us to schedule a tour soon. This well-appointed community offers quality on-site leasing staff, local shops, dining, and entertainment nearby. </textarea>
              </div><!-- form-group -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header">
              <h6 class="card-title mg-b-0-f">Property Icon</h6>
            </div><!-- card-header -->
            <div class="card-body pd-t-30-f">
              <div class="row row-sm">
                <div class="col-2">
                  <div class="site-mini-image"><img src="../assets/img/img12.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-2">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Icon</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header pd-y-10 pd-r-10 d-flex align-items-center justify-content-between">
              <h6 class="card-title mg-b-0-f">Locations</h6>
              <a href="#modalAddLocation" data-toggle="modal" class="btn btn-white btn-with-icon"><i class="ri-map-pin-line"></i> <span>Add Location</span></a>
            </div><!-- card-header -->
            <div class="card-body pd-y-0-f pd-x-20-f">
              <div class="table-responsive">
                <table class="table table-site text-sm">
                  <thead>
                    <tr>
                      <th class="wd-25p">Name</th>
                      <th class="wd-10p">Image</th>
                      <th class="wd-20p">Phone Number</th>
                      <th class="wd-25p">Address</th>
                      <th class="wd-10p text-center">Website</th>
                      <th class="wd-10p"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><h6 class="mg-b-0">Scottsdale Fashion Square</h6></td>
                      <td>
                        <div class="wd-30"><img src="../assets/img/img11.jpg" alt="" class="img-fluid"></div>
                      </td>
                      <td>(480) 941-2140</td>
                      <td><span>7014 E Camelback Rd, Scottsdale, AZ 85251</span></td>
                      <td class="text-center">
                        <nav class="nav nav-icon justify-content-center">
                          <a href="#"><span data-toggle="tooltip" data-title="Visit Website"><i class="ri-external-link-line"></i></span></a>
                        </nav>
                      </td>
                      <td class="text-right">
                        <nav class="nav nav-icon justify-content-end">
                          <a href="#modalEditLocation" data-toggle="modal"><span data-toggle="tooltip" data-title="Edit location"><i class="ri-pencil-line"></i></span></a>
                          <a href="#modalLocationDelete" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete location"><i class="ri-delete-bin-5-line"></i></span></a>
                        </nav>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card-body -->
          </div><!-- card -->

          <div class="card card-basic mg-t-20">
            <div class="card-header pd-y-10 pd-r-10 d-flex align-items-center justify-content-between">
              <h6 class="card-title mg-b-0-f">Categories</h6>
              <a href="#modalAddCategory" data-toggle="modal" class="btn btn-white btn-with-icon"><i class="ri-price-tag-3-line"></i><span>Add Category</span></a>
            </div><!-- card-header -->
            <div class="card-body pd-y-0-f pd-x-20-f">
              <div class="table-responsive">
                <table class="table table-site">
                  <thead>
                    <tr>
                      <th class="wd-30p">Name</th>
                      <th class="wd-15p text-center">Active State Icon</th>
                      <th class="wd-15p text-center">Inactive State Icon</th>
                      <th class="wd-20p text-right">Date Created</th>
                      <th class="wd-10p"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bank</td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11.jpg" alt=""></div></td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11a.jpg" alt=""></div></td>
                      <td class="text-right">Sept 20, 2020</td>
                      <td class="text-right">
                        <nav class="nav nav-icon justify-content-end">
                          <a href="#modalEditCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Edit location"><i class="ri-pencil-line"></i></span></a>
                          <a href="#modalDeleteCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete location"><i class="ri-delete-bin-5-line"></i></span></a>
                        </nav>
                      </td>
                    </tr>
                    <tr>
                      <td>Bar</td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11.jpg" alt=""></div></td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11a.jpg" alt=""></div></td>
                      <td class="text-right">Sept 20, 2020</td>
                      <td class="text-right">
                        <nav class="nav nav-icon justify-content-end">
                          <a href="#modalEditCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Edit location"><i class="ri-pencil-line"></i></span></a>
                          <a href="#modalDeleteCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete location"><i class="ri-delete-bin-5-line"></i></span></a>
                        </nav>
                      </td>
                    </tr>
                    <tr>
                      <td>Cafe</td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11.jpg" alt=""></div></td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11a.jpg" alt=""></div></td>
                      <td class="text-right">Sept 20, 2020</td>
                      <td class="text-right">
                        <nav class="nav nav-icon justify-content-end">
                          <a href="#modalEditCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Edit location"><i class="ri-pencil-line"></i></span></a>
                          <a href="#modalDeleteCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete location"><i class="ri-delete-bin-5-line"></i></span></a>
                        </nav>
                      </td>
                    </tr>
                    <tr>
                      <td>Entertainment</td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11.jpg" alt=""></div></td>
                      <td class="text-center"><div class="cat-icon"><img src="../assets/img/logo11a.jpg" alt=""></div></td>
                      <td class="text-right">Sept 20, 2020</td>
                      <td class="text-right">
                        <nav class="nav nav-icon justify-content-end">
                          <a href="#modalEditCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Edit location"><i class="ri-pencil-line"></i></span></a>
                          <a href="#modalDeleteCategory" data-toggle="modal"><span data-toggle="tooltip" data-title="Delete location"><i class="ri-delete-bin-5-line"></i></span></a>
                        </nav>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card-body -->
          </div><!-- card -->
          <br><br>
        </div><!-- site-body -->
      </div><!-- content-body -->
    </div><!-- content -->

    <div class="site-save-panel">
      <button id="saveChanges" class="btn btn-primary">
        <span>Save changes</span>
        <span>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...
        </span>
        <span><i class="ri-checkbox-circle-fill"></i> Saved</span>
      </button>
      <button id="discardChanges" class="btn btn-secondary">Discard</button>
    </div><!-- site-save-panel -->

    <div id="toastSite" class="toast fade toast-site toast-warning" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body media">
        <div  class="media-icon"><i class="ri-error-warning-line"></i></div>
        <div class="media-body">
          <strong>Warning!</strong> <span>Changes not recommended.</span>
        </div>
        <a href="#" class="close" data-dismiss="toast" aria-label="Close"><i class="ri-close-circle-fill"></i></a>
      </div>
    </div><!-- toast -->

    <div class="modal modal-site fade" id="modalAddLocation" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Add Location</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body pd-b-0-f">
            <div class="form-group"><button class="btn btn-white btn-with-icon"><i class="ri-image-line"></i> Upload Image</button></div>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter name of the location">
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="Enter address">
            </div><!-- form-group -->
            <div class="form-group row row-sm">
              <div class="col">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter number">
              </div><!-- col -->
              <div class="col">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" placeholder="http://">
              </div><!-- col -->
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Category</label>
              <select class="custom-select">
                <option value="">Select Category</option>
                <option value="1">Bank</option>
                <option value="2">Bar</option>
                <option value="3">Coffee</option>
              </select>
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add Location</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal modal-site fade" id="modalEditLocation" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Edit Location</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body pd-b-0-f">
            <div class="form-group"><button class="btn btn-white btn-with-icon"><i class="ri-image-line"></i> Upload Image</button></div>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter name of the location" value="Scottsdale Fashion Square">
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="Enter address" value="7014 E Camelback Rd, Scottsdale, AZ 85251">
            </div><!-- form-group -->
            <div class="form-group row row-sm">
              <div class="col">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter number" value="(480) 941-2140">
              </div><!-- col -->
              <div class="col">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" placeholder="http://" value="https://www.fashionsquare.com">
              </div><!-- col -->
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Category</label>
              <select class="custom-select">
                <option value="">Select Category</option>
                <option value="1" selected>Bank</option>
                <option value="2">Bar</option>
                <option value="3">Coffee</option>
              </select>
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal modal-confirmation" id="modalLocationDelete" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>

            <h5 class="modal-title" id="leaveModalLabel">Delete Location</h5>
            <p class="modal-text">You are about to delete this location. Continue delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-site fade" id="modalAddCategory" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Create Category</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body pd-b-0-f">
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter name of category">
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Upload Icons</label>
              <div class="row ht-100">
                <div class="col">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Active Icon</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
                <div class="col">
                  <div class="site-image-add">
                    <i class="ri-image-line"></i>
                    <span>Upload Inactive Icon</span>
                  </div>
                  <div class="d-none"><input type="file"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add Category</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal modal-site fade" id="modalEditCategory" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title">Edit Category</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>
          </div>
          <div class="modal-body pd-b-0-f">
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter name of category" value="Bank">
            </div><!-- form-group -->
            <div class="form-group">
              <label class="form-label">Upload Icons</label>
              <div class="row mg-t-20">
                <div class="col-5">
                  <div class="site-mini-image"><img src="../assets/img/logo11.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
                <div class="col-5">
                  <div class="site-mini-image"><img src="../assets/img/logo11a.jpg" alt="" class="img-fluid"></div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- form-group -->
          </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal modal-confirmation" id="modalDeleteCategory" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ri-close-line"></i></button>

            <h5 class="modal-title" id="leaveModalLabel">Delete Category</h5>
            <p class="modal-text">You are about to delete this category. Continue delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/feather-icons/feather.min.js"></script>
    <script src="../lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/site.js"></script>
    <script>
      $(document).ready(function() {
        'use strict'

      });
    </script>
  </body>
</html>
